﻿.researchStatus {
    margin-top: 10px;
    height: 70px;
}

.NoStatus {
    background-position: 0px 10px;
    background-image: url('../Images/ResearchStatus/NoStatus.jpg');
    background-repeat: no-repeat;
}

.NoTopic {
    background-position: 0px 10px;
    background-image: url('../Images/ResearchStatus/NoStatus.jpg');
    background-repeat: no-repeat;
}

.TopicAllocated {
    background-position: 0px 10px;
    background-image: url('../Images/ResearchStatus/TopicAllocatedStatus.jpg');
    background-repeat: no-repeat;
}

.SecondaryResearch {
    background-position: 0px 10px;
    background-image: url('../Images/ResearchStatus/SecondaryResearchStatus.jpg');
    background-repeat: no-repeat;
}

.ResearchProposal {
    background-position: 0px 10px;
    background-image: url('../Images/ResearchStatus/ResearchProposalStatus.jpg');
    background-repeat: no-repeat;
}

.DataAnalysis {
    background-position: 0px 10px;
    background-image: url('../Images/ResearchStatus/DataAnalysisStatus.jpg');
    background-repeat: no-repeat;
}

.Complete {
    background-position: 0px 10px;
    background-image: url('../Images/ResearchStatus/SubmissionStatus.jpg');
    background-repeat: no-repeat;
}

.Submission {
    background-position: 0px 10px;
    background-image: url('../Images/ResearchStatus/SubmissionStatus.jpg');
    background-repeat: no-repeat;
}


.researchStatus input[type='text'], input[type='date'] {
    border: 1px solid #b6b6b6;
    padding: 5px 2px 7px 5px;
    margin: 2px 0px 10px 0px;
    font-size: 13px;
    zoom: 1;
    background-color: rgb(249,249,249);
    border-radius: 3px;
    width: 225px;
}
