﻿//// Bootstrap Colors {The primary colors defined by the Bootstrap framework. [More Information](http://getbootstrap.com/customize/#colors)}
@brand-primary:         #891536; // #color
@brand-secondary:         #8E8700; // #color
@brand-tertiary:         #95A3A3; // #color
@brand-success:         #5cb85c; // #color
@brand-info:            #5bc0de; // #color
@brand-warning:         #f0ad4e; // #color
@brand-danger:          #d9534f; // #color

.bg-primary {  
  background-color: @brand-primary;
}

.btn-primary {  
  background-color:@brand-primary;  
}

.btn-primary .badge {
  color: @brand-primary;  
}


.btn-link {
   color: @brand-primary;  
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
 background-color:@brand-primary;  
}

.navbar-inverse {
  background-color:@brand-primary;  
  border-color: lighten(@brand-primary, 25%); // #color;
}
.navbar-inverse .navbar-text {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.pagination > li > span {
   color: @brand-primary;  
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color:@brand-primary;  
}

.label-primary {
  background-color:@brand-primary;  
}

a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
   color: @brand-primary;  
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
 background-color:@brand-primary;  
}


.text-primary {
    color: @brand-primary;
}
.text-secondary {
    color: @brand-secondary;
}
.text-tertiary {
    color: @brand-tertiary;
}


.panel-primary {
    border-color: @brand-primary;
}
.panel-primary > .panel-heading {
        background-color: @brand-primary;
    border-color: @brand-primary;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: @brand-primary;
}
.panel-primary > .panel-heading .badge {
    color: @brand-primary;    
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: @brand-primary;
}

