﻿@model FacultyManagement.Application.Authentication.ViewModels.LoginVm

@{
    ViewBag.Title = "Login";
}
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"><img src="~/Images/logo.jpg" class="img-responsive" /></div>
</div>


<h3>Welcome to the USB Faculty Management System</h3>

<h2>Login</h2>

<div id="div_loading" style="display: none"><img src="~/Images/loader.gif" /></div>

@using ( Ajax.BeginForm( new AjaxOptions
                                        {
                                            LoadingElementId = "div_loading",                                                                   
                                        } ) )
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Please enter your domain username and password.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {

}
