﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Management</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />

    @Styles.Render( "~/content/font-awesome-css" )
    @Styles.Render( "~/Content/css" )


    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render( "~/bundles/modernizr" )
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    @Styles.Render( "~/Content/less" )
    @RenderSection( "styles", required: false )

    <!-- had to move this to the head as DateTime Editor Template was not working because jquery wasn't initialized  -->
    @Scripts.Render( "~/bundles/jquery" )
   

</head>
<body>
    


<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="btn-primary navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @if ( User.Identity.IsAuthenticated )
            {
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink( "Personal Information", "Index", new { controller = "PersonalInformation", area = "" }, null )</li>
                                <li>@Html.ActionLink( "Education &  Awards / Grants", "Index", new { controller = "EducationAndAwards", area = "" }, null )</li>
                                <li>@Html.ActionLink( "Academic & Professional Experience", "Index", new { controller = "AcademicAndProfessionalExperience", area = "" }, null )</li>
                                <li>@Html.ActionLink( "Professional  & Personal Development", "Index", new { controller = "ProfessionalAndPersonalDevelopment", area = "" }, null )</li>
                                <li>@Html.ActionLink( "Research Activities", "Index", new { controller = "Research", area = "" }, null )</li>
                                <li>@Html.ActionLink( "Teaching Load", "Index", new { controller = "TeachingLoad", area = "" }, null )</li>
                                <li>@Html.ActionLink( "Supervision Load", "Index", new { controller = "SupervisionLoads", area = "" }, null )</li>
                                <li>@Html.ActionLink( "Management  & Administration", "Index", new { controller = "ManagementLoads", area = "" }, null )</li>

                                @*<li>@Html.ActionLink( "Performance Management", "PerformanceManagementMenu", new { controller = "Home", area = "" }, null )</li>*@

                            </ul>
                        </li>
                    </ul>
                }
                <ul class="nav navbar-nav navbar-right">
                    @if ( User.IsInRole( "Admin" ) )
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink( "Load User", "LoadUser", new { area = "Admin", controller = "Users" }, new { @class = "modal-link" } )</li>
                                <li>@Html.ActionLink( "Load My Profile", "ResetUser", new { area = "Admin", controller = "Users" } )</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink( "Add New Users", "AddUser", new { area = "Admin", controller = "Users" }, new { @class = "modal-link" } )</li>
                                <li>@Html.ActionLink( "Add New Managers", "AddManager", new { area = "Admin", controller = "Users" }, new { @class = "modal-link" } )</li>
                                <li>@Html.ActionLink( "Remove Managers", "RemoveManager", new { area = "Admin", controller = "Users" }, new { @class = "modal-link" } )</li>
                                <li>@Html.ActionLink( "Add Authorization", "AddAuth", new { area = "Admin", controller = "Auth" } )</li>                                
                                <li>@Html.ActionLink("Set User CV Web Display", "Index", new { area = "", controller = "WebUser" }, null)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink( "Set Faculty Organisation", "AddOrganisation", new { area = "Admin", controller = "Management" } )</li>
                                <li>@Html.ActionLink( "Set Faculty Classification", "AddClassification", new { area = "Admin", controller = "Management" } )</li>
                                

                                <li class="divider"></li>
                                <li>@Html.ActionLink( "Edit Executive Profile", "EditExecutiveProfile", new { area = "Admin", controller = "Management" }, new { @class = "modal-link" } )</li>                               
                            </ul>
                        </li>
                    }
                    @if ( User.Identity.IsAuthenticated )
                    {
                        if (CurrentPerson.CVid != CurrentUser.CVid )
                        {
                            <li><a href="@Url.Action( "Index", "PersonalInformation", new {area=""})"><span class="fa fa-user-circle-o"></span> Editing: @CurrentPerson.FullName    </a></li>
                        }
                      
                        <li><a href="@Url.Action("LogOut", "Account",new { Area = "" } )"><span class="fa fa-sign-out"></span> Log off, @User.Identity.Name</a></li>
                    }

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>



    
    <div class="container body-content">

        <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                </div>
            </div>
        </div>
        @Html.Partial( "_Alerts" )
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Faculty Management V2</p>
        </footer>
    </div>

    @Scripts.Render( "~/bundles/bootstrap" )
    @Scripts.Render( "~/bundles/jqueryval" )
    @Scripts.Render( "~/bundles/jqueryui" )
    @RenderSection( "scripts", required: false )

    <script src="~/Scripts/custom/alerts.js"></script>
    <script src="~/Scripts/custom/modals.js"></script>

</body>
</html>
