﻿@model IEnumerable<PerformanceManagement.Application.PerformanceManagement.SupervisorReviewed.ViewModels.ReviewedVm>



@if (Model.Any())
{ 
    <table id="client-table" class="table table-responsive table-condensed">
        <thead>
            <tr>
                @*<th>CVid</th>*@
                <th>
                    Name
                </th>
                <th>
                    LastName
                </th>
                
            </tr>
            
        </thead>

        @foreach (var item in Model)
        {
            @Html.HiddenFor(model => item.ReviewerCVID)
            @Html.HiddenFor(model => item.Username)
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.ReviewerCVID)
                </td>*@
                <td>
                    @Html.DisplayFor( modelItem => item.Name )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>             
               
                <td>
                    <a href="javascript:loadSupervisorEvaluation('@String.Format("{0}|{1}", item.ReviewerCVID, item.Username)')">Edit</a>   
                </td>
            </tr>
           
        }
      
    </table>

    
    <table class="table table-responsive table-condensed">
        <tr>
            <td>
                
                <div id="divLoadSupervisorEvaluation"></div>

            </td>
        </tr>
    </table>
  
}
else
{
    <p>No Records found</p>
}

<script type="text/javascript">  


    function loadSupervisorEvaluation(param) {

        var params = param.split('|');

        $.ajax({
            url: '../SupervisorEvaluation/Index',
            type: 'POST',
            data: {
                'id': params[0], 'username': params[1]
            },
            dataType: 'text',
            success: function (data) {
              
                $('#divLoadSupervisorEvaluation').html(data);
                
            }
        });
    }
</script>
