﻿@model PerformanceManagement.Application.PerformanceManagement.SupervisorReviewed.ViewModels.SupervisorReviewedVm

<div>
    <div class="panel-group" id=""> 
        <br />
        @*<div class="col-xs-4">
            <a href="javascript:newAcademic(0)" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> Add New</a>
        </div>
        <div id="newAcd"></div>
        <br /><br />*@
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen"><li class="fa fa-caret-down"></li> Reviewed Academics</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse in">
                <div class="panel-body">
                    @Html.Partial("_SupervisorReviews", Model.Reviewed)
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <a href="javascript:newAcademic(0)" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> Add New</a>
        </div>
        <div id="newAcd"></div>
        <br /><br />

       
    </div>
    
</div>
<script type="text/javascript">

    function newAcademic() {      
      //colapse accordion 10 //////////////TO DO //////////////////

        $.ajax({
            url: '../SupervisorEvaluation/SelectUserPage',
            type: 'POST',
            data: {
                'id': 0
            },
            dataType: 'text',
            success: function (data) {
                var current = $('#divLoadSupervisorEvaluation').html();
              
                $('#divLoadSupervisorEvaluation').html(data);

            }
        });
    }
</script>



@section Styles{
}

@section Scripts
{

}

