﻿@{
    ViewBag.Title = "Performance Management";
}


<h3>Performance Management </h3>
<br />

<div class="btn-group" role="group" aria-label="...">
    @Ajax.ActionLink( "Self Evaluation", "Index", "SelfEvaluation", new { area = "" }, new AjaxOptions
        {
            LoadingElementId = "div_loading",
            UpdateTargetId = "user-evaluations",
            InsertionMode = InsertionMode.Replace
        }, new { @class = "btn btn-default" } )

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Peer Evaluation
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                @Ajax.ActionLink( "Select New Peer", "SelectUserPage", "PeerEvaluation", new { area = "" }, new AjaxOptions
           {
               LoadingElementId = "div_loading",
               UpdateTargetId = "user-evaluations",
               InsertionMode = InsertionMode.Replace
           }, null )
            </li>
            <li>
                @Ajax.ActionLink( "Evaluate Peer", "Index", "PeerEvaluation", new { area = "" }, new AjaxOptions
           {
               LoadingElementId = "div_loading",
               UpdateTargetId = "user-evaluations",
               InsertionMode = InsertionMode.Replace
           }, null )
            </li>
        </ul>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Supervisor Evaluation
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                @Ajax.ActionLink( "Select New Supervisor", "SelectUserPage", "SupervisorEvaluation", new { area = "" }, new AjaxOptions
           {
               LoadingElementId = "div_loading",
               UpdateTargetId = "user-evaluations",
               InsertionMode = InsertionMode.Replace
           }, null )
            </li>
            <li>
                @Ajax.ActionLink( "Evaluate Supervisor", "Index", "SupervisorEvaluation", new { area = "" }, new AjaxOptions
           {
               LoadingElementId = "div_loading",
               UpdateTargetId = "user-evaluations",
               InsertionMode = InsertionMode.Replace
           }, null )
            </li>
        </ul>
    </div>

    @Ajax.ActionLink( "My Commitment", "Index", "MyCommitment", new { area = "" }, new AjaxOptions
        {
            LoadingElementId = "div_loading",
            UpdateTargetId = "user-evaluations",
            InsertionMode = InsertionMode.Replace
        }, new { @class = "btn btn-default" } )

</div>

<div id="div_loading" style="display: none"><img src="~/Images/loader.gif" /></div>

<div id="user-evaluations" class="margin-top-20"> </div>



@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
