﻿@model string

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Please Select User</h4>
</div>

<div class="modal-body">
    <div>
        @using ( Html.BeginForm() )
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary( true )

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.BootstrapLabel( "User", columns: 2, required: true )
                    <div class="col-md-6">
                        @Html.EditorFor( model => model, "FacultyUsersPicker" )
                    </div>
                </div>
            </div>
            
            <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Load</button>
                </div>
        }
    </div>
</div>

<script src="~/Scripts/custom/formActions.js"></script>