﻿@model PerformanceManagement.Application.Admin.ViewModels.AddUserVm

@{
    ViewBag.Title = "Add New User";
}

<h2>Add New User</h2>
<hr>

@using ( Html.BeginForm( "AddUser", "Users", FormMethod.Post, new { @class = "form-horizontal" } ) )
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor( i => i.AvailableUsers, new { @class = "control-label col-md-3" } )
        <div class="col-md-9">
            @Html.ListBoxFor( i => i.SelectedEmployeeIds, Model.AvailableUsers, new { @class = "form-control", size = 15 } )
            @Html.ValidationMessageFor( i => i.AvailableUsers, "", new { @class = "text-warning" } )


            <br />
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </div>
    </div>

}