﻿@model IEnumerable<FacultyManagement.Application.EducationAndAwards.ViewModels.Awards.AwardVm>


<div class="panel-body">
    @if ( Model.Any() )
            {
        <table id="client-table" class="table table-responsive table-condensed">
            <thead>
                <tr>
                    <th>
                        Year
                    </th>
                    <th>
                        Name of Honour / Award
                    </th>
                    <th>
                        Details
                    </th>
                    <th>
                        Country
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach ( var item in Model )
                {
                <tr>
                    <td>
                        @Html.DisplayFor( modelItem => item.Year )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.AwardType )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.Description )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.Country )
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink( "Edit", "EditAward", new { id = item.Id }, new { @class = "modal-link" } )</li>
                                <li>@Html.ActionLink( "Delete", "DeleteAward", new { id = item.Id }, new { @class = "modal-link" } )</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <p>No Records found</p>
    }
</div>
<div class="panel-footer">
    <div class="row">
        <div class="col-xs-4">
            <a href=@Url.Action( "CreateAward", "EducationAndAwards", new {} ) class="btn btn-xs btn-primary modal-link">
                <i class="fa fa-plus"></i> Add New
            </a>
        </div>
        <div class="col-xs-8">

        </div>
    </div>
</div>
