﻿@model FacultyManagement.Application.EducationAndAwards.ViewModels.FacultyLanguages.FacultyLanguageCreateVm

<div data-role="page">
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</div>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">New Teaching Language</h4>
</div>

<div class="modal-body">
    <p id="MessageToClient" class="text-danger"></p>

    @using ( Html.BeginForm( "CreateLanguage", "EducationAndAwards", FormMethod.Post ) )
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary( false, "", new { @class = "text-danger" } )

        @Html.HiddenFor( m => m.CVid )

        <div class="form-horizontal">

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.LanguageIds, columns: 2, required: true )
                <div class="col-md-5">
                    @Html.EditorFor( model => model.LanguageIds )
                </div>
            </div>

        </div>

        <br />
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    }
</div>


<script src="~/Scripts/custom/formActions.js"></script>
