﻿@model int?

<div class="modal-body">
    <div class="error-wrap">
        <h1>Confirm Delete</h1>
        <h3>Are you sure you want to delete this?</h3>

        <p class="error-icon danger">
            <i class="fa fa-times-circle"></i>
        </p>
    </div>

    <div>

        @using ( Html.BeginForm() )
        {
            @Html.AntiForgeryToken()
            @Html.Hidden( "id", Model )
            ;

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Delete</button>
            </div>
        }
    </div>
</div>


<script src="~/Scripts/custom/formActions.js"></script>