﻿@model IEnumerable<FacultyManagement.Application.EducationAndAwards.ViewModels.FacultyLanguages.FacultyLanguageVm>


<div class="panel-body">
    @if ( Model.Any() )
            {
        <table id="client-table" class="table table-responsive table-condensed">
            <thead>
                <tr>
                    <th>
                        Language
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach ( var item in Model )
                {
                <tr>
                    <td>
                        @Html.DisplayFor( modelItem => item.Description )
                    </td>                    
                    <td>
                        @Html.ActionLink( "Delete", "DeleteLanguage", new { id = item.Id }, new { @class = "modal-link btn btn-default btn-xs " } )
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <p>No Records found</p>
    }
</div>
<div class="panel-footer">
    <div class="row">
        <div class="col-xs-4">
            <a href=@Url.Action( "CreateLanguage", "EducationAndAwards", new {} ) class="btn btn-xs btn-primary modal-link">
                <i class="fa fa-plus"></i> Add New
            </a>
        </div>
        <div class="col-xs-8">

        </div>
    </div>
</div>
