﻿@model IEnumerable<FacultyManagement.Application.Research.ViewModels.ResearchActivityVm>

<div class="panel-body">
    @if ( Model.Any() )
            {
        <table id="datatable" class="table table-responsive table-condensed">
            <thead>
                <tr>
                    <th>
                        Type
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Publication Name / Conference
                    </th>
                    <th>
                        Publication Standing
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Status Date
                    </th>
                    <th>
                        Credit
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach ( var item in Model )
                {
                <tr>
                    <td>
                        @Html.DisplayFor( modelItem => item.ResearchOutputCategoryDescription )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.ArticleTitle )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.PublicationName )
                    </td>
                    <td></td>
                    <td>
                        @Html.DisplayFor( modelItem => item.ResearchStatusDescription )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.ResearchStatusDate )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.Credit )
                    </td>


                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink( "Edit", "Edit", new { id = item.Id }, new { @class = "modal-link" } )</li>
                                <li>@Html.ActionLink( "Delete", "Delete", new { id = item.Id }, new { @class = "modal-link" } )</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <p>No Records found</p>
    }
</div>
<div class="panel-footer">
    <div class="row">
        <div class="col-xs-4">
            <a href=@Url.Action( "CreateResearch", "Research" ) class="btn btn-xs btn-primary">
                <i class="fa fa-plus"></i> Add New
            </a>
        </div>
        <div class="col-xs-8">

        </div>
    </div>
</div>


