﻿@model FacultyManagement.Application.Research.ViewModels.InternalContributorCreateVm

@{
    ViewBag.Title = "New Contributor";
}

<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">New Contributor </h4>
</div>

<div class="modal-body">

    @using ( Html.BeginForm( "CreateInternalContributorStep3", "Research", FormMethod.Post ) )
    {
        <p id="MessageToClient" class="text-danger"></p>
        @Html.ValidationSummary( true, "", new { @class = "text-danger" } )

        @Html.HiddenFor( model => model.Type )

        <div class="form-horizontal">

            <div class="form-group">
                @Html.BootstrapLabel( "User", columns: 2, required: true )
                <div class="col-md-6">
                    @Html.EditorFor( model => model.SelectedUsernameAndCvid, "FacultyUsersPicker" )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.Sequence, columns: 2, required: true )
                <div class="col-md-6">
                    @Html.EditorFor( model => model.Sequence )
                    @Html.BootstrapValidationMessageFor( model => model.Sequence )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.DHETCredit, columns: 2, required: true )
                <div class="col-md-6">
                    @Html.EditorFor( model => model.DHETCredit )
                    @Html.BootstrapValidationMessageFor( model => model.DHETCredit )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.PersonRoleId, columns: 2, required: true )
                <div class="col-md-6">
                    @Html.EditorFor( model => model.PersonRoleId )
                    @Html.BootstrapValidationMessageFor( model => model.PersonRoleId )
                </div>
            </div>


            <hr />
            <div>                
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </div>
    }
</div>


<script src="~/Scripts/custom/form-actions-generic.js"></script>