﻿@model FacultyManagement.Application.Research.ViewModels.Step3CreateVm

@{
    ViewBag.Title = "Contributor Details";
}

<h3>Contributor Details - Step 3</h3>
<div>
    <div class="panel-group" id="accordion">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><li class="fa fa-caret-down"></li> Contributors</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    @Html.Partial( "_Contributors", Model.Contributors )
                </div>
            </div>
        </div>
        
    </div>
    
    @Html.ActionLink( "Cancel", "ResetWorkflow", null, new { @class = "btn btn-default" } )

</div>



@section Styles{
}

@section Scripts
{
    <script src="~/Scripts/js-cookie/js.cookie-2.1.3.min.js"></script>
    <script src="~/Scripts/custom/accordianCookieTracker.js"></script>
}

