﻿@model FacultyManagement.Application.Research.ViewModels.ResearchVm

@{
    ViewBag.Title = "Research";
}

<h3>Research</h3>
<div ng-app="facultyManagement" ng-controller="ResearchCtrl as vm">
    <div class="panel-group" id="accordion">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><li class="fa fa-caret-down"></li> Activities</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    
                    <table ng-table="vm.tableParams" class="table table-condensed table-responsive" show-filter="true">
                        <tr ng-repeat="activity in $data">
                            <td title="'Type of Output'" filter="{ researchOutputCategoryDescription: 'text'}">                                                                
                                {{activity.researchOutputCategoryDescription}}
                            </td>
                            <td title="'Title'"  filter="{ articleTitle: 'text'}">
                                {{activity.articleTitle}}
                            </td>
                            <td title="'Publication Name / Conference'" filter="{ publicationName: 'text'}">
                                {{activity.publicationName}}
                            </td>
                            <td title="'Status'" filter="{ researchStatusDescription: 'text'}">
                                {{activity.researchStatusDescription}}
                            </td>
                            <td title="'Status Date'" filter="{ researchStatusDate: 'text' }">
                                {{activity.researchStatusDate | date:'MMM yyyy'}}
                            </td>
                            <td title="'Hours'">
                                {{activity.credit}}
                            </td>
                            
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/FacultyManagement/Research/Edit/?id={{activity.id}}"> Edit</a></li>
                                        <li><a href="/FacultyManagement/Research/Delete/?id={{activity.researchId}}" class="modal-link"> Delete</a></li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    </table>

                </div> <!--Panel Body -->
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-4">
                            <a href=@Url.Action( "CreateResearch", "Research" ) class="btn btn-xs btn-primary">
                                <i class="fa fa-plus"></i> Add New
                            </a>
                        </div>
                        <div class="col-xs-8">

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>



@section Styles{

    <link href="~/Content/ng-table.min.css" rel="stylesheet" />

}

@section Scripts
{

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/app/js/app.js"></script>
    <script src="~/app/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="~/app/research/controllers/researchCtrl.js"></script>

    <script src="~/Scripts/ng-table.min.js"></script>
    <script src="~/Scripts/ng-file-model/ng-file-model.min.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
        document.getElementsByName("researchStatusDate")[0].setAttribute("placeholder", "month 01 / year 2017");
    });
    </script>
}

