﻿
.termsContainer {
    margin-top: 20px;
    font-weight: bold !important;
    color: #992f40 !important;
    margin-left: 20px;
    margin-bottom:50px;
}

#nameConfirmed{
    margin-right: 20px;
    float:right;
    margin-top:10px;
    margin-left:18px;
    color:#AE394B;
}

.termsContainer input[type='button']:hover, input[type='submit']:hover {    
    background: #AE394B;
    cursor: pointer;
}

.termsContainer input[type='button']:disabled, input[type='submit']:disabled {
    color: #808080 !important;
    background: #dddddd !important;
    border: thin solid #B3B0AE;
    cursor: default;
}

.validated {
    background-position: 0px 0px;
    background-image: url('../img/checkmark.png');
    background-repeat: no-repeat;
    padding-right:18px;
    /*margin-left:1px;*/
    /*padding-left:5px;*/
}

.notValidated {    
    padding-left:15px;
    /*margin-right:20px;*/
}

.top-nav-bar {
    background-color:#992f40;
    border-style: solid;
    border-width: 1px;
    border-radius:40px;
    color: #FFFFFF;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}

.menu_1 {
    background-position: 0px 5px;
    background-image: url('../img/menuRound_1.png');
    background-repeat: no-repeat;
    margin-left:-35px;
    margin-right:3px;
}
.menu_2 {
    background-position: 0px 5px;
    background-image: url('../img/menuRound_2.png');
    background-repeat: no-repeat; 
    margin-right:3px;
}
.menu_3 {
    background-position: 0px 5px;
    background-image: url('../img/menuRound_3.png');
    background-repeat: no-repeat; 
    margin-right:3px;
}
.menu_4 {
    background-position: 0px 5px;
    background-image: url('../img/menuRound_4.png');
    background-repeat: no-repeat; 
    margin-right:3px;
}
.menu_5 {
    background-position: 0px 5px;
    background-image: url('../img/menuRound_5.png');
    background-repeat: no-repeat; 
    margin-right:3px;
}

.menuDivider {
    background-image: url('../img/divider.png');
    background-repeat: no-repeat;
    padding-top:2px !important;
    padding-bottom:5px;
    /*padding-left:10px;*/
    padding-right:15px;
    /*margin-left:-7px;*/
}