﻿body {
    font-size: 12px;
    margin: 0;
    line-height: 20px;
    font-family: 'arial';
    color: #6F6F6F;
    background-color: #bfbfbf;
}

#wrap { 
  	width: 900px;
  	height:800px; 
  	margin: 20px auto;
 	background-color:#ffffff; 
}

.headerText {
    font-size: 35px;
    color: #C0C0C0;
    font-family: 'Franklin Gothic Medium' , 'Arial Narrow' , Arial, sans-serif;
    float:right;
    margin-top:5px;
    margin-right:200px;
}

.headerTextSmall {
    font-size: 18px;
    color: #C0C0C0;
    font-family: 'Franklin Gothic Medium' , 'Arial Narrow' , Arial, sans-serif;
    float:right;
    margin-top:35px;
    margin-right:170px;
    margin-bottom:10px;
}

.head {
margin-bottom:20px !important;
}

.main {
    width: 100%;
    border-top: 15px solid #edeee9;
}
.main .wrap {
    width: 1088px;
    background: url(../img/main_cont_bg.jpg) repeat-y;
    position: relative;
    clear: both;
    padding-top: 1px;
}

ul {
    margin-top:-10px;
    margin-left:-10px;
}

.noListStyle {
    list-style-type: none;
    margin-left:-30px;
}

label {
    display:inline-block;
    min-width:125px;
}

.terms {
    font-family: 'Franklin Gothic Medium' , 'Arial Narrow' , Arial, sans-serif;
    font-size:20px;
    color: #992f40; 
    margin-bottom:25px;
    margin-top:25px;
}

footer {
padding-bottom:30px;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.validationMessage{color:red;}
.customMessage {
    color: deeppink;
}

.wrap {
    width: 1080px;
    margin: 0 auto;
}

.corner_LT {
    width: 67px;
    height: 184px;
    background: url(../img/top_left.jpg);
    position: absolute;
    top: 0px;
    left: 0px;
}

.corner_LB {
width: 67px;
height: 181px;
background: url(../img/bottom_left.jpg);
position: absolute;
bottom: 0px;
left: 1px;
}

.corner_RT {
width: 72px;
height: 162px;
background: url(../img/top_right.jpg);
position: absolute;
top: 0px;
right: 0px;
}

.corner_RB {
width: 71px;
height: 205px;
background: #edeee9 url(../img/bottom_right.jpg) no-repeat;
position: absolute;
bottom: 0px;
right: 0px;
}

.left {
width: 621px;
min-height: 500px;
margin-left: 70px;
/*margin-top: 40px;*/
float: left;
margin-bottom: 20px;
}

#grey  {
	float:left;
	width:900px;
	height:110px;
	margin:0px; 
	background-color:#f1f2f2;
}