﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Management</title>
    @Styles.Render( "~/content/font-awesome-css" )
    @Styles.Render( "~/Content/css" )
    @Scripts.Render( "~/bundles/modernizr" )
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @* @Html.ActionLink( "Faculty Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" } )*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if ( User.Identity.IsAuthenticated )
                    {
                        <li>@Html.ActionLink( "Personal Information", "Index", "PersonalInformation" )</li>
                        <li>@Html.ActionLink( "Education &  Awards / Grants", "Index", "EducationAndAwards" )</li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Academic, Professional, Personal
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink( "Academic & Professional Experience", "Index", "PersonalInformation" )</li>
                                <li>@Html.ActionLink( "Professional  & Personal Development", "Index", "PersonalInformation" )</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink( "Research Activities", "Index", "PersonalInformation" )</li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Loads
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink( "Teaching Load", "Index", "PersonalInformation" )</li>
                                <li>@Html.ActionLink( "Supervision Load", "Index", "PersonalInformation" )</li>
                                <li>@Html.ActionLink( "Management & Administration", "Index", "PersonalInformation" )</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Performance Management
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink( "Self Evaluation", "Index", "PersonalInformation" )</li>
                                <li>@Html.ActionLink( "Peer Evaluation", "Index", "PersonalInformation" )</li>
                                <li>@Html.ActionLink( "Supervisor Evaluation", "Index", "PersonalInformation" )</li>
                                <li>@Html.ActionLink( "My Commitment for the Year", "Index", "PersonalInformation" )</li>
                            </ul>
                        </li>



                    }

                </ul>
                <ul class="nav navbar-nav navbar-right">
                   <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Admin
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink( "Load New User", "LoadUser", new { area = "Admin", controller = "Users" }, new { @class = "modal-link" } )</li>
                        </ul>
                    </li>

                    @if ( User.Identity.IsAuthenticated )
                    {
                        <li><a href="@Url.Action( "LogOut", "Account" )"><span class="fa fa-sign-out"></span> Log off, @User.Identity.Name</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action( "Login", "Account" )"><span class="fa fa-sign-in"></span> Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Html.Partial( "_Alerts" )

        <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                </div>
            </div>
        </div>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Faculty Management</p>
        </footer>
    </div>

    @Scripts.Render( "~/bundles/jquery" )
    @Scripts.Render( "~/bundles/bootstrap" )
    @Scripts.Render( "~/bundles/jqueryval" )
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    @RenderSection( "scripts", required: false )


    <script src="~/Scripts/custom/alerts.js"></script>


    <script type="text/javascript">
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();
            // Initialize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });
            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });
            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $('#CancelModal').on('click', function () {
                return false;
            });
        });
    </script>

</body>
</html>
