﻿@using FacultyManagement.Application.Admin.ViewModels
@model FacultyManagement.Application.Admin.ViewModels.AddRemoveManagerVm

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Please Select User(s)</h4>
</div>

<div class="modal-body">
    <div>
        <div id="div_loading" style="display: none"><img src="~/Images/loader.gif" /></div>
        <p id="MessageToClient" class="text-danger"></p>

        @using ( Html.BeginForm() )
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary( true )

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor( i => i.AvailableUsers, new { @class = "control-label col-md-3" } )
                    <div class="col-md-9">
                        @Html.ListBoxFor( i => i.SelectedSamAccountNames, Model.AvailableUsers, new { @class = "form-control", size = 15 } )
                        @Html.ValidationMessageFor( i => i.AvailableUsers, "", new { @class = "text-warning" } )
                    </div>
                </div>
            </div>

            <br />
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                @{
                    string buttonText = Model.Type == VmType.Add ? "Add" : "Remove";
                }
                <button type="submit" class="btn btn-primary">@buttonText</button>
            </div>
             }
    </div>
</div>


<script src="~/Scripts/custom/form-actions-generic.js"></script>