﻿@model FacultyManagement.Application.AcademicAndProfessionalExperience.ViewModels.AcademicAndProfessionalExperienceVm

@{
    ViewBag.Title = "Academic & Professional Experience";
}

<h3>Academic & Professional Experience</h3>
<div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><li class="fa fa-caret-down"></li> Work Experience</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    @Html.Partial( "_TeachingExperience", Model.TeachingExperiences )
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><li class="fa fa-caret-down"></li> Executive Education Lecturing & Visiting Scholarships</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial( "_ExecutiveEducation", Model.ExecutiveEducation )
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><li class="fa fa-caret-down"></li>  Part-Time Consulting</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial( "_PartTimeConsulting", Model.PartTimeConsulting )
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><li class="fa fa-caret-down"></li>  Engagement With Business & Society</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial( "_EngagementWithBusiness", Model.EngagementWithBusiness )
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><li class="fa fa-caret-down"></li>  Editorial Board Member / Editor or Reviewer Acad. Journals / External Examination</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial( "_EditorialBoardMember", Model.EditorialBoardMember )
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><li class="fa fa-caret-down"></li>  Engagement with Public Media</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial( "_EngagementWithMedia", Model.EngagementWithMedia )
                </div>
            </div>
        </div>

    </div>
</div>


@section Styles{
}

@section Scripts
{
    <script src="~/Scripts/js-cookie/js.cookie-2.1.3.min.js"></script>
    <script src="~/Scripts/custom/accordianCookieTracker.js"></script>
   
}

