﻿@model PerformanceManagement.Application.Admin.ViewModels.ExecutiveProfileVm

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Edit Executive Profile for <strong class="text-primary">@Model.FullName</strong></h4>
</div>

<div class="modal-body">
    <div>
        <div id="div_loading" style="display: none"><img src="~/Images/loader.gif" /></div>
        <p id="MessageToClient" class="text-danger"></p>

        @using ( Html.BeginForm( "EditExecutiveProfile", "Management", new {area="Admin"}, FormMethod.Post) )
        {
            @Html.HiddenFor( model => model.CVid )

            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        @Html.EditorFor( model => model.Biography )
                    </div>
                </div>
            </fieldset>

            <br />
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        }

    </div>
</div>


<script src="~/Scripts/custom/formActions.js"></script>