﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Performance Management</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />

    @Styles.Render("~/content/font-awesome-css")
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)

    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />


    <!-- had to move this to the head as DateTime Editor Template was not working because jquery wasn't initialized  -->
    @Scripts.Render("~/bundles/jquery")


</head>
<body>



    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="btn-primary navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-left">

                        <li>@Html.ActionLink("Dash Board", "Dashboard", new { controller = "Home", area = "" }, null)</li>


                    </ul>
                }
                <ul class="nav navbar-nav navbar-right">

                    @if (User.Identity.IsAuthenticated)
                    {


                        <li><a href="@Url.Action("LogOut", "Account",new { Area = "" } )"><span class="fa fa-sign-out"></span> Log off, @User.Identity.Name</a></li>
                    }

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container body-content">

        <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                </div>
            </div>
        </div>
        @Html.Partial("_Alerts")
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Performance Management V2</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/custom/alerts.js"></script>
    <script src="~/Scripts/custom/modals.js"></script>

</body>
</html>
