﻿@model FacultyManagement.Application.Admin.ViewModels.OrganisationAndRolesVm

<h4>Organisation Categories for <strong class="text-primary">@Model.FacultyUser.FullName</strong></h4>


@using ( Ajax.BeginForm( "CreateUserOrganisations", "Management", new { area = "Admin" },
                                                                                                                                            new AjaxOptions
                                                                                                                                            {
                                                                                                                                                LoadingElementId = "div_loading",
                                                                                                                                                UpdateTargetId = "user-departments",
                                                                                                                                                InsertionMode = InsertionMode.Replace,
                                                                                                                                                //OnBegin = "ValidateForm",
                                                                                                                                                OnSuccess = "ShowSuccessMessage"
                                                                                                                                            },
                                                                                                                                            new { @class = "form-horizontal" } ) )
{
    <p id="MessageToClient" class="text-danger"></p>
    @Html.ValidationSummary( true )

    @Html.HiddenFor( m => m.CVid )
    @Html.HiddenFor( m => m.Username )

    <div class="col-md-6">  </div>
    <div class="col-md-6"> </div>

    <div class="col-md-6">
        <h5><strong class="text-tertiary">Academic Faculty</strong></h5>
        @foreach ( var item in Model.AvailableAcademicFacultyCategories )
        {
            string isChecked = item.Selected ? "checked" : string.Empty;

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="SelectedSupportStaffIds" value="@item.Value" @isChecked /> @item.Text
                </label>
            </div>
        }
    </div>
    <div class="col-md-6">
        <h5><strong class="text-tertiary">Support Staff</strong></h5>
        @foreach ( var item in Model.AvailableSupportStaffCategories )
        {
            string isChecked = item.Selected ? "checked" : string.Empty;

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="SelectedAcademicFacultyds" value="@item.Value" @isChecked /> @item.Text
                </label>
            </div>
        }
    </div>







    <button class="btn btn-primary" type="submit">Update </button>
}

<script>
    function ShowSuccessMessage() {
        $("#MessageToClient").html("<div class='alert alert-success'> <i class='fa fa-check-circle-o fa-2x'> </i> Successfully Updated. </p></div>");

        $(".alert").fadeTo(3000, 500).slideUp(500, function () {
            $(".alert").slideUp(500);
        });

        $("#SelectedFacultyUser").val('');
    }
</script>
