@model FacultyManagement.Application.Admin.ViewModels.Common.UserSelectBaseVm


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Please Select User</h4>
</div>

<div class="modal-body">
    <div>
        <div id="div_loading" style="display: none"><img src="~/Images/loader.gif" /></div>
        <p id="MessageToClient" class="text-danger"></p>


        @using ( Ajax.BeginForm( "LoadUserOrganisations", "Management", new { area = "Admin" },
                                                new AjaxOptions
                                                {
                                                    LoadingElementId = "div_loading",
                                                    UpdateTargetId = "user-departments",
                                                    InsertionMode = InsertionMode.Replace,
                                                    OnBegin = "ValidateForm"
                                                },
                                                new { @class = "form-inline" } ) )
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary( true )

              <!--Hidden value sent back to controller-->
            <input type="hidden" name="selectedUsernameAndCvid" id="selected_user" />

            @Html.TextBox( "SelectedFacultyUser", ViewData.TemplateInfo.FormattedModelValue,
                    new { @class = "faculty-user-search form-control", placeholder = "Name or Surname" } )
            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            @*<input type="search" id="faculty-user-search" name="user-search" class="user-search form-control" data-url="@Url.Action( "Autocomplete", "Users", new {area = "Admin"} )" placeholder="Name or Surname" />*@
            <div id="searchresults"></div>
        }

        <br />

        <div id="user-departments" class="margin-top-20"> </div>

    </div>
</div>


@section Scripts {

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/custom/faculty.user.search.js"></script>
    <script type="text/javascript">

        function ValidateForm() {
            $("#MessageToClient").html(""); // clear message

            if ($("#SelectedFacultyUser").val() == '') {
                $("#MessageToClient").html("<li> Please select a user </li>");
                return false;
            }
        }
    </script>
}