﻿@model IEnumerable<PerformanceManagement.Application.Research.ViewModels.ContributorVm>

<div class="panel-body">
    @if ( Model.Any() )
            {
        <table id="client-table" class="table table-responsive table-condensed">
            <thead>
                <tr>
                    <th>
                        Author
                    </th>
                    <th>
                        Sequence
                    </th>
                    <th>
                        DHETCredit
                    </th>      
                    <th>
                        Institution
                    </th> 
                    <th>
                        Role
                    </th> 
                    <th>
                        Int / Ext
                    </th> 
                    <th></th>
                </tr>
            </thead>

            @foreach ( var item in Model )
                {
                <tr>
                    <td>
                        @Html.DisplayFor( modelItem => item.Author )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.Sequence )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.DHETCredit )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.Institution )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.Role )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.Type )
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink( "Edit", "Edit", new { id = item.Id }, new { @class = "modal-link" } )</li>
                                <li>@Html.ActionLink( "Delete", "Delete", new { id = item.Id }, new { @class = "modal-link" } )</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <p>No Records found</p>
    }
</div>
<div class="panel-footer">
    <div class="row">
        <div>
            <a href=@Url.Action( "CreateContributor", "Research" , new { type = "Internal" } ) class="btn btn-xs btn-primary modal-link">
                <i class="fa fa-plus"></i> Add Internal Contributor
            </a>
            <a href=@Url.Action( "CreateContributor", "Research", new { type = "External" }  ) class="btn btn-xs btn-primary modal-link">
                <i class="fa fa-plus"></i> Add External Contributor
            </a>
        </div>      
    </div>
</div>
