﻿@model PerformanceManagement.Application.Research.ViewModels.Step2CreateVm


<div class="form-horizontal">

    <div class="form-group">
        @Html.BootstrapLabelFor( model => model.PublisherName, columns: 2, required: true )
        <div class="col-md-6">
            @Html.EditorFor( model => model.PublisherName )
            @Html.ValidationMessageFor( model => model.PublisherName, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.BootstrapLabelFor( model => model.Credit, columns: 2, required: true )
        <div class="col-md-6">
            @Html.EditorFor( model => model.Credit )
            @Html.ValidationMessageFor( model => model.Credit, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.BootstrapLabelFor( model => model.NoOfPages, columns: 2, required: false )
        <div class="col-md-1">
            @Html.EditorFor( model => model.NoOfPages )
            @Html.BootstrapValidationMessageFor( model => model.NoOfPages )
        </div>
    </div>

    <div class="form-group">
        @Html.BootstrapLabelFor( model => model.StartPage, columns: 2, required: false )
        <div class="col-md-1">
            @Html.EditorFor( model => model.StartPage )
            @Html.BootstrapValidationMessageFor( model => model.StartPage )
        </div>
    </div>

    <div class="form-group">
        @Html.BootstrapLabelFor( model => model.EndPage, columns: 2, required: false )
        <div class="col-md-1">
            @Html.EditorFor( model => model.EndPage )
            @Html.BootstrapValidationMessageFor( model => model.EndPage )
        </div>
    </div>

    <div class="form-group">
        @Html.BootstrapLabelFor( model => model.Volume, columns: 2, required: false )
        <div class="col-md-1">
            @Html.EditorFor( model => model.Volume )
            @Html.BootstrapValidationMessageFor( model => model.Volume )
        </div>
    </div>

    <div class="form-group">
        @Html.BootstrapLabelFor( model => model.City, columns: 2, required: false )
        <div class="col-md-6">
            @Html.EditorFor( model => model.City )
            @Html.BootstrapValidationMessageFor( model => model.City )
        </div>
    </div>

    <div class="form-group">
        @Html.BootstrapLabelFor( model => model.CountryId, columns: 2, required: false )
        <div class="col-md-6">
            @Html.EditorFor( model => model.CountryId )
            @Html.BootstrapValidationMessageFor( model => model.CountryId )
        </div>
    </div>

    <div class="form-group">
        @Html.BootstrapLabelFor( model => model.Edition, columns: 2, required: false )
        <div class="col-md-6">
            @Html.EditorFor( model => model.Edition )
            @Html.BootstrapValidationMessageFor( model => model.Edition )
        </div>
    </div>

    <div class="form-group">
        @Html.BootstrapLabelFor( model => model.Issue, columns: 2, required: false )
        <div class="col-md-6">
            @Html.EditorFor( model => model.Issue )
            @Html.BootstrapValidationMessageFor( model => model.Issue )
        </div>
    </div>

    <div class="form-group">
        @Html.BootstrapLabelFor( model => model.Note, columns: 2, required: false )
        <div class="col-md-6">
            @Html.EditorFor( model => model.Note )
            @Html.BootstrapValidationMessageFor( model => model.Note )
        </div>
    </div>

    @* <div class="form-group">
            @Html.BootstrapLabelFor( model => model.PublicationUpload, columns: 2, required: false )
            <div class="col-md-6">
                <input type="file" name="PublicationUpload" id="PublicationUpload" />
            </div>
        </div>*@

</div>
