﻿@model PerformanceManagement.Application.Research.ViewModels.Step1CreateVm


<div class="form-horizontal">
    <div class="form-group">
        @Html.BootstrapLabelFor( model => model.ResearchOutputCategoryId, columns: 2, required: true )
        <div class="col-md-6">
            @Html.EditorFor( model => model.ResearchOutputCategoryId )
            @Html.ValidationMessageFor( model => model.ResearchOutputCategoryId, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.BootstrapLabelFor( model => model.ResearchContributionTypeId, columns: 2, required: true )
        <div class="col-md-6">
            @Html.EditorFor( model => model.ResearchContributionTypeId )
            @Html.ValidationMessageFor( model => model.ResearchContributionTypeId, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.BootstrapLabelFor( model => model.ArticleTitle, columns: 2, required: true )
        <div class="col-md-6">
            @Html.EditorFor( model => model.ArticleTitle )
            @Html.ValidationMessageFor( model => model.ArticleTitle, "", new { @class = "text-danger" } )
        </div>
    </div>


    <div class="form-group">
        @Html.BootstrapLabelFor( model => model.PublicationName, columns: 2, required: false )
        <div class="col-md-6">
            @Html.EditorFor( model => model.PublicationName )
            @Html.ValidationMessageFor( model => model.PublicationName, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.BootstrapLabelFor( model => model.LocusId, columns: 2, required: true )
        <div class="col-md-6">
            @Html.EditorFor( model => model.LocusId )
            @Html.ValidationMessageFor( model => model.LocusId, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.BootstrapLabelFor( model => model.ABSRatingStatusId, columns: 2, required: true )
        <div class="col-md-6">
            @Html.EditorFor( model => model.ABSRatingStatusId )
            @Html.ValidationMessageFor( model => model.ABSRatingStatusId, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.BootstrapLabelFor( model => model.DHETStatusId, columns: 2, required: true )
        <div class="col-md-6">
            @Html.EditorFor( model => model.DHETStatusId )
            @Html.ValidationMessageFor( model => model.DHETStatusId, "", new { @class = "text-danger" } )
        </div>
    </div>


    <div class="form-group">
        @Html.BootstrapLabelFor( model => model.ResearchStatusId, columns: 2, required: true )
        <div class="col-md-6">
            @Html.EditorFor( model => model.ResearchStatusId )
            @Html.ValidationMessageFor( model => model.ResearchStatusId, "", new { @class = "text-danger" } )
        </div>
    </div>

    <div class="form-group">
        @Html.BootstrapLabelFor( model => model.ResearchStatusDate, columns: 2, required: true )
        <div class="col-md-6">
            @Html.EditorFor( model => model.ResearchStatusDate )
            @Html.ValidationMessageFor( model => model.ResearchStatusDate, "", new { @class = "text-danger" } )
        </div>
    </div>


</div>


