﻿@model PerformanceManagement.Application.Research.ViewModels.ResearchHistoryCreateEditVm

<h3>New Research</h3>

<div id="researchCreateDiv" ng-app="performanceManagement" ng-controller="ResearchCreateCtrl as vm" ng-init="vm.cvid=@Model.CVid" style="display:none">

    <!-- Submit Status messages -->
    <div ng-show="vm.success" class="alert-success" style="padding: 10px;">
        <i class='fa fa-check-circle-o fa-2x'> </i> Successfully Added.
    </div>

    <div ng-show="vm.error" class="alert-danger" style="padding: 10px;">
        <i class='fa fa-exclamation-triangle fa-2x'> </i> An internal system error has occurred while processing your request.
        <p> Your organization's administrators have been notified of this problem.</p>
    </div>

    <form name="researchCreateForm" novalidate>
        <!-- prevents HTML5 validation since we will be validating ourselves -->

        <div class="panel panel-primary">
            <div class="panel-heading" style="font-size:large">
                {{vm.ArticleTitle}}  |
                {{vm.dropdowns.selectedResearchContributionType.description}} |
                {{vm.dropdowns.selectedResearchOutputCategory.description}}
                <div class="pull-right">
                    {{vm.dropdowns.selectedResearchStatus.description}}
                    | ABS: {{vm.dropdowns.selectedABSRatingStatus.description}}
                    | DHET: {{vm.dropdowns.selectedDHETStatus.description}}
                </div>
            </div>

            <div class="panel-body">
                <div class="wizard">
                    <a href="#" ng-click="vm.uiStateClick(1)" class="ui-tabs-active"> Research Details</a>
                    <a href="#" ng-click="vm.uiStateClick(2)" class="ui-tabs-active"> Contributor Details</a>
                    <a href="#" ng-click="vm.uiStateClick(3)" class="ui-tabs-active"> Publication Details</a>
                </div>
            </div>

            <div class="container">
                <div ng-show="vm.uiState.isFirstTabVisible">
                    <div class="panel-body">

                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.BootstrapLabelFor( model => model.ResearchOutputCategoryId, columns: 2, required: true )
                                <div class="col-md-6">
                                    <select id="ResearchOutputCategoryId" name="ResearchOutputCategoryId" class="form-control"
                                            ng-model="vm.dropdowns.selectedResearchOutputCategory"
                                            ng-options="item.description for item in vm.ResearchOutputCategories track by item.id"
                                            required>
                                        <option value="" ng-selected="selected">-- Select Category --</option>
                                    </select>
                                    <span ng-show="researchCreateForm.ResearchOutputCategoryId.$invalid && !researchCreateForm.$pristine" class="text-danger">Category is required</span>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.BootstrapLabelFor( model => model.ResearchContributionTypeId, columns: 2, required: true )
                                <div class="col-md-6">
                                    <select id="ResearchContributionTypeId" name="ResearchContributionTypeId" class="form-control"
                                            ng-model="vm.dropdowns.selectedResearchContributionType"
                                            ng-options="item.description for item in vm.ResearchContributionType track by item.id"
                                            required>
                                        <option value="" ng-selected="selected">-- Select Contribution Type --</option>
                                    </select>
                                    <span ng-show="researchCreateForm.ResearchContributionTypeId.$invalid && !researchCreateForm.$pristine" class="text-danger">Contribution Type is required</span>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.BootstrapLabelFor( model => model.ArticleTitle, columns: 2, required: true )
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="ArticleTitle" ng-model="vm.ArticleTitle" required />
                                    <span ng-show="researchCreateForm.ArticleTitle.$invalid && !researchCreateForm.$pristine" class="text-danger">Article Title is required.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.BootstrapLabelFor( model => model.PublicationName, columns: 2, required: false )
                                <div class="col-md-6">
                                    <input type="text" class="form-control" ng-model="vm.PublicationName" />
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.BootstrapLabelFor( model => model.LocusId, columns: 2, required: true )
                                <div class="col-md-6">
                                    <select id="LocusId" name="LocusId" class="form-control"
                                            ng-model="vm.dropdowns.selectedLocus"
                                            ng-options="item.description for item in vm.Locus track by item.id"
                                            required>
                                        <option value="" ng-selected="selected">-- Select Locus --</option>
                                    </select>
                                    <span ng-show="researchCreateForm.LocusId.$invalid && !researchCreateForm.$pristine" class="text-danger">Locus is required.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.BootstrapLabelFor( model => model.ABSRatingStatusId, columns: 2, required: true )
                                <div class="col-md-6">
                                    <select id="ABSRatingStatusId" name="ABSRatingStatusId" class="form-control"
                                            ng-model=" vm.dropdowns.selectedABSRatingStatus"
                                            ng-options="item.description for item in vm.ABSRatingStatus track by item.id"
                                            required>
                                        <option value="" ng-selected="selected">-- Select ABS Rating --</option>
                                    </select>
                                    <span ng-show="researchCreateForm.ABSRatingStatusId.$invalid && !researchCreateForm.$pristine" class="text-danger">ABS Rating is required.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.BootstrapLabelFor( model => model.DHETStatusId, columns: 2, required: true )
                                <div class="col-md-6">
                                    <select id="DHETStatusId" name="DHETStatusId" class="form-control"
                                            ng-model=" vm.dropdowns.selectedDHETStatus"
                                            ng-options="item.description for item in vm.DHETStatus track by item.id"
                                            required>
                                        <option value="" ng-selected="selected">-- Select DHET Status --</option>
                                    </select>
                                    <span ng-show="researchCreateForm.DHETStatusId.$invalid && !researchCreateForm.$pristine" class="text-danger">DHET Status is required.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.BootstrapLabelFor( model => model.ResearchStatusId, columns: 2, required: true )
                                <div class="col-md-6">
                                    <select id="ResearchStatusId" name="ResearchStatusId" class="form-control"
                                            ng-model=" vm.dropdowns.selectedResearchStatus"
                                            ng-options="item.description for item in vm.ResearchStatus track by item.id"
                                            required>
                                        <option value="" ng-selected="selected">-- Select Research Status --</option>
                                    </select>
                                    <span ng-show="researchCreateForm.ResearchStatusId.$invalid && !researchCreateForm.$pristine" class="text-danger">Research Status is required.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.BootstrapLabelFor( model => model.ResearchStatusDate, columns: 2, required: true )
                                <div class="col-md-6">
                                    <input id="ResearchStatusDate" name="ResearchStatusDate" type="text" class="date form-control" ng-model="vm.ResearchStatusDate" required />
                                    <span ng-show="researchCreateForm.ResearchStatusDate.$invalid && !researchCreateForm.$pristine" class="text-danger">Research Status Date is required.</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div ng-show="vm.uiState.isSecondTabVisible">
                    <div class="panel-group">
                        <div class="panel-body">

                            <table id="client-table" class="table table-responsive table-condensed">
                                <thead>
                                    <tr>
                                        <th>
                                            Author
                                        </th>
                                        <th>
                                            Sequence
                                        </th>
                                        <th>
                                            DHETCredit
                                        </th>
                                        <th>
                                            Institution
                                        </th>
                                        <th>
                                            Role
                                        </th>
                                        <th>
                                            Int / Ext
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tr ng-repeat="contributor in vm.contributors track by contributor.index">
                                    <td>{{contributor.author}}</td>
                                    <td>{{contributor.sequence}}</td>
                                    <td>{{contributor.dhetCredit}}</td>
                                    <td>{{contributor.institution}}</td>
                                    <td>{{contributor.role}}</td>
                                    <td>{{contributor.type}}</td>

                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                                Actions <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#" ng-click="vm.deleteContributor(contributor.index)">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="row">
                            <div class="container">
                                <button type="button" class="btn btn-primary btn-xs" ng-click="vm.openInternal()"><i class="fa fa-plus"></i> Add Internal Contributor</button>
                                <button type="button" class="btn btn-primary btn-xs" ng-click="vm.openExternal()"><i class="fa fa-plus"></i> Add External Contributor</button>
                            </div>
                        </div>


                    </div>
                </div>

                <div ng-show="vm.uiState.isThirdTabVisible">
                    <div class="panel-body">

                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-6">
                                    If accepted for publication or to be published, supply the following:
                                    </div>
                                </div>
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.PublisherName, columns: 2, required: false)
                                        <div class="col-md-6">
                                            <input id="PublisherName" name="PublisherName" type="text" class="form-control" ng-model="vm.PublisherName" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.Credit, columns: 2, required: false)
                                        <div class="col-md-6">
                                            <input id="Credit" name="Credit" type="text" class="form-control" ng-model="vm.Credit" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.NoOfPages, columns: 2, required: false)
                                        <div class="col-md-1">
                                            <input id="NoOfPages" type="number" min="0" class="form-control" ng-model="vm.NoOfPages" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.StartPage, columns: 2, required: false)
                                        <div class="col-md-1">
                                            <input id="StartPage" type="number"  min="0" class="form-control" ng-model="vm.StartPage" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.EndPage, columns: 2, required: false)
                                        <div class="col-md-1">
                                            <input id="EndPage" type="number" min="0" class="form-control" ng-model="vm.EndPage" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.Volume, columns: 2, required: false)
                                        <div class="col-md-1">
                                            <input id="Volume" type="number"  min="0" class="form-control" ng-model="vm.Volume" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.PublicationCity, columns: 2, required: false)
                                        <div class="col-md-6">
                                            <input id="PublicationCity" type="text" class="form-control" ng-model="vm.PublicationCity" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.CountryId, columns: 2, required: false)
                                        <div class="col-md-6">
                                            <select id="CountryId" name="CountryId" class="form-control"
                                                    ng-model=" vm.dropdowns.selectedCountry"
                                                    ng-options="item.description for item in vm.Countries track by item.id"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.Edition, columns: 2, required: false)
                                        <div class="col-md-6">
                                            <input id="Edition" type="text" class="form-control" ng-model="vm.Edition" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.Issue, columns: 2, required: false)
                                        <div class="col-md-6">
                                            <input id="Issue" type="text" class="form-control" ng-model="vm.Issue" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.Note, columns: 2, required: false)
                                        <div class="col-md-6">
                                            <textarea id="Note" type="text" class="form-control" ng-model="vm.Note" rows="5"> </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="PublicationUpload" class="col-md-2">Publication Upload</label>
                                        <div class="col-md-6">
                                            <input type="file" id="PublicationUpload" ng-file-model="vm.PublicationUpload.file" />
                                            @*<p>Click <a target="_blank" href="http://catalogue.belpark.sun.ac.za/ResearchPublications/Forms/AllItems.aspx">here</a> to view uploaded publications.</p>*@
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Contributor error display-->
        <span class="text-danger">
            <span ng-show="vm.contributors.length <= 0 && researchCreateForm.$valid">
                You need to add at least 1 contributor.
            </span>
        </span>


    <div class="form-group">
        <span ng-show="vm.submitted">
            <img src="~/Images/loader.gif" />
        </span>
        <span>
            <button type="button" class="btn btn-primary"
                    ng-click="vm.submit(researchCreateForm.$valid)"
                    ng-disabled="researchCreateForm.$invalid || vm.contributors.length <= 0">
                <i class="glyphicon glyphicon-floppy-disk"></i> &nbsp;Save
            </button>
        </span>
        <span>
            <a href="/PerformanceManagement/Research" class="btn btn-default">Cancel</a>
        </span>
    </div>


    </form>

</div> <!--Angular app -->




@section Scripts {
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/app/js/app.js"></script>
    <script src="~/app/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="~/Scripts/ng-table.min.js"></script>
    <script src="~/Scripts/ng-file-model/ng-file-model.min.js"></script>
    <script src="~/app/research/controllers/researchCreateCtrl.js"></script>
    <script src="~/app/research/controllers/externalContributorModalCtrl.js"></script>
    <script src="~/app/research/controllers/internalContributorModalCtrl.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.date').datepicker({
                dateFormat: "MM d, yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-50:+0"
            });

            $("#researchCreateDiv").show();
        });
    </script>


    <!-- Modal Stuff -->
    <!-- Modal Stuff -->

}
