﻿@model PerformanceManagement.Application.Research.ViewModels.ResearchVm

@{
    ViewBag.Title = "Research";
}

<h3>Research</h3>
<div ng-app="PerformanceManagement" ng-controller="ResearchCtrl as vm">
    <div class="panel-group" id="accordion">

        <div class="panel panel-default">
            
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    
                    <table ng-table="vm.tableParams" class="table table-condensed table-responsive">
                        <tr ng-repeat="activity in $data" style="text-align:left!important;">
                            <td title="'Type of Output'">                                                                
                                {{activity.researchOutputCategoryDescription}}
                            </td>
                            <td title="'Title'">
                                {{activity.articleTitle}}
                            </td>
                            <td title="'Publication Name'">
                                {{activity.publicationName}}
                            </td>
                            <td title="'Status'">
                                {{activity.researchStatusDescription}}
                            </td>
                            <td title="'Status Date'" >
                                {{activity.researchStatusDate | date:'MMM yyyy'}}
                            </td>
                            <td align="right" style="text-align:right!important;" title="'Hours'">
                                {{activity.credit}}
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="padding-top:30px;"><b>Total Hours:</b></td>
                            <td style="padding-top:30px;"><b>{{vm.activitiesTotal}}</b></td>
                      
                        </tr>
                    </table>

                </div> <!--Panel Body -->
         

            </div>
        </div>

    </div>
</div>



@section Styles{

    <link href="~/Content/ng-table.min.css" rel="stylesheet" />
    <style>
        .ng-table-pager {
            display: none;
        }
        .hoursAlign{
            text-align:right!important;
        }
       
    </style>

}

@section Scripts
{

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/app/js/app.js"></script>
    <script src="~/app/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="~/app/research/controllers/researchCtrl.js"></script>

    <script src="~/Scripts/ng-table.min.js"></script>
    <script src="~/Scripts/ng-file-model/ng-file-model.min.js"></script>
    <script type="text/javascript">

        var span;
        $('span').each(function () {
            if ($(this).html() == 'Hours') {
                alert("here1");
                $(this).addClass("hoursAlign");
            }
        });
    </script>
    
}

