﻿@model FacultyManagement.Application.PerformanceManagement.MyCommitment.ViewModels.MyCommitmentVm

@{
    ViewBag.Title = "My Commitments for the Year";
}

<h3>My Commitments for the Year</h3>
<div>
    <div class="panel-group" id="accordion">
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><li class="fa fa-caret-down"></li> Commitments</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    @Html.Partial( "_Commitments", Model.Commitments )
                </div>
            </div>
        </div>

    </div>
</div>



@section Styles{
}

@section Scripts
{

}

