#wrap { 
  	width: 900px;
  	height:960px; 
  	margin: 0 auto;
 	background-color:#ffffff; 
}

#grey  {
	float:left;
	width:900px;
	height:240px;
	margin:0px; 
	background-color:#f1f2f2;
}

#content { 
  	width: 900px; 
 	margin: 0 auto;
  	background-color:#f1f2f2; 

}

#heading  {
	float:left;
	margin:15px 10px 0px 40px;
	font-family:Arial, Helvetica, sans-serif;
}

#rightImg  {
	float:right;
	margin:-240px 0 0 0px;
}

#footer  {
	float:left;
	width:900px;
	/*height:274px;*/
	height:auto;
	margin:30px 0 0 0px; 
	background-color:#f1f2f2;
}

#input-fields  {
	 float:left;
	 width:420px;
	 margin:15px 5px 0px 40px;
	 font-family:Arial, Helvetica, sans-serif;
	 font-size:12px;
	 line-height:20px; 
	 text-align:left;
}

h1  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	line-height:20px; 
	text-align:left;
	font-weight:bold;
	color:#a90c37;
}

h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:7px;
	text-align:left;
	font-weight:bold;
	color:#3f3d34;
}

h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:16px;
	text-align:left;
	font-weight:normal;
	color:#666f72;
}

a {
	text-decoration: none;
	color:#817328;
}

a:hover {
	text-decoration: underline;
}

input {
    font-size: 12px;
}

input[type="text"], select, textarea {
    font-family: Trebuchet MS, Georgia, Times New Roman; font-size: 12px; color: #7c001d; padding: 2px;
}

input[type="submit"], input[type="reset"], input[type="cancel"] {
   border: none; background: url(http://events.usb-ed.com/common/images/BtnBgDark.jpg) repeat-x bottom left; color: #fff; height: 22px; font-size: 12px; padding: 4px 8px; width: auto;
}