﻿@using Domain.Models.Enums

@{
    ViewBag.Title = "Partner Dashboard";
}

@{ Html.RenderPartial("Notifications.Errors.Publish"); }
@{ Html.RenderPartial("Notifications.Information.Publish"); }

<div id="dashboard">

    <div id="dashboardSection" class="col-md-12">

        <div class="col-md-12" style="margin-top: 20px;" data-bind="visible: isVoucherAllocation()">
            @if (CurrentUser.AccountType == AccountType.GetSmarter)
            {
                <h2 style="color: #992f40;">ENROL APPLICANTS</h2>
            }
            else
            {
                <h2 style="color: #992f40;">ALLOCATE VOUCHERS</h2>
            }

            @*<- Voucher Allocation Partial View ->*@

            @Html.Partial("_VoucherAllocationPartial")

            @*<-->*@

        </div>
        <div class="col-md-12" style="margin: 20px 0 0 0" data-bind="visible: isAccountProfile()">
            <h2 style="color: #992f40;">PARTNER DASHBOARD</h2>

            @*<- Account Profile Partial View ->*@

            @Html.Partial("_AccountProfilePartial")

            @*<-->*@

        </div>

    </div>
</div>

<script type="text/javascript">

    $(function () {

        // PortalVM Init
        var portalViewModel = new PortalViewModel();

        // Load all offerings for partial views
        portalViewModel.loadOfferings();

        ko.applyBindings(portalViewModel, document.getElementById("dashboard"));
        //
    });

</script>