﻿@model PerformanceManagement.Application.TeachingLoads.ViewModels.TeachingLoadItemEditVm

<div data-role="page">
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</div>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Edit Teaching Load</h4>
</div>

<div class="modal-body">
    <p id="MessageToClient" class="text-danger"></p>

    @using ( Html.BeginForm( "Edit", "TeachingLoad", FormMethod.Post ) )
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary( false, "", new { @class = "text-danger" } )

        @Html.HiddenFor( model => model.CVid )

        <div class="form-horizontal">
            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.Year, columns: 2, required: true )
                <div class="col-md-3">
                    @Html.EditorFor( model => model.Year )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.ProgrammeOffering, columns: 2, required: true )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.ProgrammeOffering )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.ProgrammeId, columns: 2, required: true )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.ProgrammeId )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.Module, columns: 2, required: true )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.Module )                   
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.Sessions, columns: 2, required: true )
                <div class="col-md-2">
                    @Html.EditorFor( model => model.Sessions )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.Students, columns: 2, required: true )
                <div class="col-md-2">
                    @Html.EditorFor( model => model.Students )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.BaseCredit, columns: 2, required: true )
                <div class="col-md-3">
                    @Html.EditorFor( model => model.BaseCredit )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.TotalCredits, columns: 2, required: true )
                <div class="col-md-3">
                    @Html.EditorFor( model => model.TotalCredits )
                </div>
            </div>

        </div>

        <br />
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    }
</div>


<script src="~/Scripts/custom/formActions.js"></script>
