﻿@model PerformanceManagement.Application.TeachingLoads.ViewModels.TeachingLoadVm

@{
    ViewBag.Title = "Teaching Loads";
}

<h3>Teaching Load</h3>
<div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            

            <div class="panel-body">
                
                @if ( Model.TeachingLoads != null && Model.TeachingLoads.Any() )
                {
                    using ( Ajax.BeginForm( "Index", "TeachingLoad", null,
                        new AjaxOptions
                        {
                            UpdateTargetId = "teaching-loads",
                            InsertionMode = InsertionMode.Replace
                        },
                        new { @class = "form-inline" } ) )
                    {

                      
                    }
                }

                <div id="teaching-loads">
                    @Html.Partial( "_TeachingLoadItems", Model.TeachingLoads )    
                </div>

            </div>

        </div>

    </div>
</div>


@section Styles{
}

@section Scripts
{


}

