﻿@model FacultyManagement.Application.ProfessionalAndPersonalDevelopment.ViewModels.NonAcademic.NonAcademicCreateVm

<div data-role="page">
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</div>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">New Non Academic</h4>
</div>

<div class="modal-body">
    <p id="MessageToClient" class="text-danger"></p>

    @using ( Html.BeginForm( "CreateNonAcademic", "ProfessionalAndPersonalDevelopment", FormMethod.Post ) )
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary( false, "", new { @class = "text-danger" } )

        @Html.HiddenFor( model => model.CVid ) 
        @Html.HiddenFor( model => model.DevelopmentCategoryId )

        <div class="form-horizontal">
            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.StartDate, columns: 2, required: true )
                <div class="col-md-4">
                    @Html.EditorFor( model => model.StartDate )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.EndDate, columns: 2, required: true )
                <div class="col-md-4">
                    @Html.EditorFor( model => model.EndDate )
                </div>
            </div>
            
             <div class="form-group">
                @Html.BootstrapLabelFor( model => model.Accomplishment, columns: 2, required: true )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.Accomplishment )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.NoOfDays, columns: 2, required: true )
                <div class="col-md-3">
                    @Html.EditorFor( model => model.NoOfDays )
                </div>
            </div>
            
            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.Institution, columns: 2, required: true )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.Institution )
                </div>
            </div>
            
            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.CountryId, columns: 2, required: true )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.CountryId )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.IsCurrent, columns: 2 )
                <div class="col-md-5">
                    @Html.EditorFor( model => model.IsCurrent )
                </div>
            </div>

        </div>

        <br />
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    }
</div>


<script src="~/Scripts/custom/end-date-is-current-check.js"></script>
<script src="~/Scripts/custom/formActions.js"></script>
