﻿@model IEnumerable<FacultyManagement.Application.ProfessionalAndPersonalDevelopment.ViewModels.Membership.MembershipVm>


<div class="panel-body">
    @if ( Model.Any() )
            {
        <table id="client-table" class="table table-responsive table-condensed">
            <thead>
                <tr>
                    <th>
                       Start Date
                    </th>
                    <th>
                        End Date
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Current
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach ( var item in Model )
                {
                <tr>
                    <td>
                        @Html.DisplayFor( modelItem => item.StartDate )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.EndDate )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.Accomplishment )
                    </td>                   
                    <td>
                        @Html.DisplayFor( modelItem => item.IsCurrent )
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink( "Edit", "EditMembership", new { id = item.Id }, new { @class = "modal-link" } )</li>
                                <li>@Html.ActionLink( "Delete", "Delete", new { id = item.Id }, new { @class = "modal-link" } )</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <p>No Records found</p>
    }
</div>
<div class="panel-footer">
    <div class="row">
        <div class="col-xs-4">
            <a href=@Url.Action( "CreateMembership", "ProfessionalAndPersonalDevelopment", new {} ) class="btn btn-xs btn-primary modal-link">
                <i class="fa fa-plus"></i> Add New
            </a>
        </div>
        <div class="col-xs-8">

        </div>
    </div>
</div>
