﻿@model FacultyManagement.Application.ProfessionalAndPersonalDevelopment.ViewModels.ProfessionalAndPersonalDevelopmentVm

@{
    ViewBag.Title = "Professional & Personal Development";
}

<h3>Professional & Personal Development</h3>
<div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><li class="fa fa-caret-down"></li> Membership of Professional and Scientific Organisations</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    @Html.Partial( "_Membership", Model.Memberships )
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><li class="fa fa-caret-down"></li>  Continuing Education And Self-Development Activities</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial( "_ContinuingEducation", Model.ContinuingEducation )
                </div>
            </div>
        </div>
      
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><li class="fa fa-caret-down"></li>  Non-Academic Accomplishments</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial( "_NonAcademic", Model.NonAcademic )
                </div>
            </div>
        </div>
          
    </div>
</div>


@section Styles{
}

@section Scripts
{
    <script src="~/Scripts/js-cookie/js.cookie-2.1.3.min.js"></script>
    <script src="~/Scripts/custom/accordianCookieTracker.js"></script>
    

}

