﻿/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.listBox {
    width: 70px;
   
}
.required:after {
    content: "*";
    font-weight: bold;
    color: red
}
        .table-condensed > thead > tr > th,
.table-condensed-sm > tbody > tr > th,
.table-condensed-sm > tfoot > tr > th,
.table-condensed-sm > thead > tr > td,
.table-condensed-sm > tbody > tr > td,
.table-condensed-sm > tfoot > tr > td {
  padding:2px;
}


input[type=file] {
    padding-top: 1em;
}


/*ERRORS*/
.error-wrap {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
}

    .error-wrap h1 {
        font-size: 45px;
    }

    .error-wrap .error-icon {
        margin: 15px;
        font-size: 156px;
        line-height: 156px;
        opacity: 0.7;
    }

        .error-wrap .error-icon.info {
            color: #5bc0de;
        }

        .error-wrap .error-icon.warning {
            color: #f0ad4e;
        }

        .error-wrap .error-icon.danger {
            color: #d9534f;
        }

.error-details pre {
    color: whitesmoke;
    background-color: transparent;
    border: 0;
}


.hidden {
    display: none;
}

.hide-section {
    display: none;
}


/* NAV BAR */
navbar-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: left;
    margin-bottom: 8px;
    margin-left: 15px;
    margin-top: 8px;
    padding: 9px 10px;
    position: relative;
}


#image-preview {
    max-width: 100%;
    display: block;
}



.wizard a {
    background: #efefef;
    display: inline-block;
    margin-right: 5px;
    min-width: 150px;
    outline: none;
    padding: 10px 40px 10px;
    position: relative;
    text-decoration: none;
}

.wizard .active {
    background: #007ACC;
    color: #fff;
}

.form-inline .form-control 
{
    
    min-width:200px !important;
}

