﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Please Select User to Evaluate</h4>
</div>

<div class="modal-body">
    <div>
        @using ( Html.BeginForm() )
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary( true )

            <div class="form-horizontal">
                <div class="form-group">
                    <!--Hidden value sent back to controller-->
                    <input type="hidden" name="selectedUsernameAndCvid" id="selected_user" />
                    @Html.BootstrapLabel("User", columns: 2, required: true)
                    <div class="col-md-6">
                        <input type="search" id="faculty-user-search" name="user-search" class="ui-autocomplete form-control" data-url="@Url.Action( "Autocomplete", "Users", new {area = "Admin"} )" placeholder="Name or Surname" />
                        <div id="searchresults"></div>
                    </div>
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Load</button>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    // The autocomplete element
    $("#faculty-user-search").autocomplete({
        minLength: 3,
        source: function (request, response) {
            var url = $(this.element).data("url");
            $.getJSON(url, { term: request.term }, function (data) {
                response(data);
            });
        },
        // The the element we want to update
        appendTo: $("#searchresults"),
        // This will override the label
        // and set custom input to be sent to controller with another id
        select: function (e, ui) {
            e.preventDefault() // <--- Prevent the value from being inserted.
            $("#selected_user").val(ui.item.value); // <--- custom input - we set another value

            $(this).val(ui.item.label); // <---  the search input box display text
        }
    });

</script>

