﻿@using Domain.Models.Enums
<div id="accountProfileSection" data-bind="with: AccountProfile" style="margin-top: 60px;">
    <div class="form-group">
            <table id="availableShortCourseOfferingsTable" class="form-group col-md-12 table table-striped" style="margin-bottom: 0; width: 100%;">
                <thead>
                    <tr>
                        <th class="col-md-5">COURSE OFFERING</th>
                        <th class="col-md-2" style="text-align: center;">START DATE</th>
                        @if (CurrentUser.AccountType == AccountType.GetSmarter)
                        {
                            <th class="col-md-2" style="text-align: center;">END DATE</th>
                            <th class="col-md-3" style="text-align: center;">NO OF ENROLMENTS</th>
                            <th class="col-md-1"></th>
                        }
                        else
                        {
                            <th class="col-md-4" colspan="4" style="text-align: center;">VOUCHERS</th>
                        }
                    </tr>
                </thead>
                <tbody data-bind="foreach: $root.offerings">
                <tr>
                    <td class="col-md-5" data-bind="text: OfferingName"></td>
                    <td class="col-md-2" style="text-align: center;" data-bind="text: moment(StartDate).format('YYYY-MM-DD')"></td>
                    @if (CurrentUser.AccountType == AccountType.GetSmarter)
                    {
                        <td class="col-md-2" style="text-align: center;" data-bind="text: moment(EndDate).format('YYYY-MM-DD')"></td>
                        <td class="col-md-3" style="text-align: center;" data-bind="text: NumberOfVouchersRedeemed"></td>
                    }
                    else
                    {
                        <td class="col-md-2" style="text-align: center;" data-bind="text: NumberOfVouchersPurchased"></td>
                        <td class="col-md-2" style="text-align: center;" data-bind="text: NumberOfVouchersRedeemable"></td>
                        <td class="col-md-2" style="text-align: center;" data-bind="text: NumberOfVouchersRedeemed"></td>
                    }
                    <td class="col-md-1"><button class="btn btn-default" title="View all delegates for this Offering" data-bind="click: $root.AccountProfile().viewDelegateByShortCourseOffering">View</button></td>
                </tr>
                </tbody>
                @if (CurrentUser.AccountType == AccountType.GetSmarter)
                {

                }
                else
                {
                    <tfoot>
                    <tr>
                        <td class="col-md-7" colspan="2"></td>
                        <td class="col-md-2" style="text-align: center; font-weight: bold;">TOTAL PURCHASED</td>
                        <td class="col-md-2" style="text-align: center; font-weight: bold;">TOTAL REDEEMABLE</td>
                        <td class="col-md-2" style="text-align: center; font-weight: bold;">TOTAL REDEEMED</td>
                        <td class="col-md-1"></td>
                    </tr>
                    <tr>
                        <td class="col-md-5"></td>
                        <td class="col-md-2"></td>
                        <td class="col-md-2" style="text-align: center;" data-bind="text: $root.totalPurchased"></td>
                        <td class="col-md-2" style="text-align: center;" data-bind="text: $root.totalRedeemable"></td>
                        <td class="col-md-2" style="text-align: center;" data-bind="text: $root.totalRedeemed"></td>
                        <td class="col-md-1"></td>
                    </tr>
                    </tfoot>
                }
            </table>
        </div>
</div>
