﻿@using Domain.Models.Enums
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body id="partnerPortal">
<div class="navbar-fixed-top" style="background-color: gray; width: 100%; min-height: 20px;"></div>
    
    @if (Request.IsAuthenticated)
    {
        <div class="col-md-12">
            <div>
                <a href="@Url.Action("Index", "Portal")" class="box-content right"><img src="~/Content/img/partners/USBED.png" alt="" /></a>

                @{
                    if (CurrentUser != null)
                    {
                        <a href="@Url.Action("Index", "Portal")">
                            @if (CurrentUser.AccountType == AccountType.BasilRead)
                            {
                                <img style="margin-left: 10px;" title="@CurrentUser.AccountName" alt="" src="~/Content/img/partners/BasilRead.png" />
                            }
                            else if (CurrentUser.AccountType == AccountType.GetSmarter)
                            {
                                <img style="margin-left: 10px;" title="@CurrentUser.AccountName" alt="" src="~/Content/img/partners/GetSmarter.png" />
                            }
                            else if (CurrentUser.AccountType == AccountType.MasterStart)
                            {
                                <img style="margin-left: 10px;" title="@CurrentUser.AccountName" alt="" src="~/Content/img/partners/MasterStart.png" />
                            }
                        </a>
                    }
                }

            </div>
        </div>
        
    }
    else
    {
        <div style="text-align: center;">
            <a href="/"><img src="~/Content/img/partners/USBED.png" alt=""/></a>
        </div>
    }


    @if (Request.IsAuthenticated)
    {
        <div class="navbar navbar-inverse col-md-12" style="background-color: gray; border: gray;">
            <div class="container">
                <div class="col-md-12" style="color: white;">
                    <div>@Html.Partial("_LoginPartial")</div>
                </div>
            </div>
            
        </div>
    }
    else
    {
        <div style="background-color: #992f40; width: 100%; height: 80px;">
            <div class="container">
                <div class="col-md-12" style="text-align: center; color: white;">
                    <h2>@ViewBag.PageHeading</h2>
                </div>
            </div>
        </div>
    }

    <div class="container body-content" style="margin-top: 25px;">
        @{ Html.RenderPartial("Notifications.Errors.Callout"); }
        @{ Html.RenderPartial("Notifications.Information.Callout"); }

        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/appLibs")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
