﻿<div id="learnerProfileSection" data-bind="with: LearnerProfile" style="margin-top: 60px; border: lightgray; border-style: solid; border-width: 1px;">
    <div class="form-group col-md-12">
        <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <label style="padding: 0;" class="col-md-2 control-label">Select Offering<span class="required">*</span></label>
                <div class="col-md-6">
                    <select class="form-control" data-bind="options: $root.offerings, optionsText: 'OfferingName', value: selectedOffering, optionsCaption: 'Select...', disable: $root.offerings().length == 0"></select>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="form-group col-md-12" data-bind="visible: selectedOffering(), with: selectedOffering">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <b><label data-bind="text: OfferingName" style="color: #992f40;"></label></b>
            </div>
            <div class="col-md-2">
                @using (Html.BeginForm(null, null, FormMethod.Get, new { @action = @CurrentUser.WebConfiguration.UsbShortCourseApplicationFormUrl, target = "_blank" }))
                {
                    <input type="hidden" data-bind="value: $root.LearnerProfile().token" name="token" />
                    <input type="submit" class="btn btn-default" style="margin-right: 10px; float: right;" value="Apply" />
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <label>Start Date:</label>
            </div>
            <div class="col-md-6" data-bind="text: moment(StartDate).format('YYYY-MM-DD')"></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <label>End Date:</label>
            </div>
            <div class="col-md-6" data-bind="text: moment(EndDate).format('YYYY-MM-DD')"></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <label>Vouchers purchased:</label>
            </div>
            <div class="col-md-6" data-bind="text: $root.LearnerProfile().resolveNumberOfVouchersPurchased(NumberOfVouchersPurchased)"></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <label>Vouchers redeemed:</label>
            </div>
            <div class="col-md-6" data-bind="text: NumberOfVouchersRedeemed"></div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>



