﻿@using Domain.Models.Enums

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()

        <div id="loginPartial" class="col-md-12">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="cursor: pointer;"><a data-bind="click: showAccountProfile">HOME</a></li>
                    <li style="cursor: pointer;"><a data-bind="click: showAccountProfile">DASHBOARD</a></li>
                    <li style="cursor: pointer;"><a data-bind="click: showLearnerProfile">
                        @if (CurrentUser.AccountType == AccountType.GetSmarter)
                        {
                            <span>ENROL APPLICANTS</span>
                        }
                        else
                        {
                            <span>ALLOCATE VOUCHERS</span>
                        }
                    </a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("LogOff", "Account")" style="border: white; border-style: solid; border-width: 1px; height: 20px; margin-top: 10px; line-height: 0; width: 90px;">LOGOUT</a></li>
                </ul>
            </div>
        </div>

        <script type="text/javascript">

            $(function() {

                // NavigationVM Init
                var navigationViewModel = new NavigationViewModel();

                // Apply KO bindings
                ko.applyBindings(navigationViewModel, document.getElementById("loginPartial"));

            });

        </script>
    }
}