﻿@using Domain.Models.Enums
<div id="selectOfferingSection" data-bind="with: VoucherAllocation">

    <div style="margin-top: 20px; border: lightgray; border-style: solid; border-width: 1px;">
        <div class="form-group col-md-12">
            <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="col-md-12">
                    <label style="padding: 0;" class="col-md-2 control-label">Select Offering<span class="required">*</span></label>
                    <div class="col-md-6">
                        <select class="form-control" data-bind="options: $root.offerings, optionsText: 'OfferingName', value: selectedOffering, optionsCaption: 'Select...', disable: $root.offerings().length == 0"></select>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>

        <div class="form-group col-md-12" data-bind="visible: selectedOffering(), with: selectedOffering">
            <div class="row">
                <div class="col-md-12">
                    <b><label class="control-label" data-bind="text: OfferingName" style="color: #992f40;"></label></b>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Course Start Date:</label>
                </div>
                <div class="col-md-10" data-bind="text: moment(StartDate).format('YYYY-MM-DD')"></div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Course End Date:</label>
                </div>
                <div class="col-md-10" data-bind="text: moment(EndDate).format('YYYY-MM-DD')"></div>
            </div>

            @if (CurrentUser.AccountType == AccountType.GetSmarter)
        {
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label">No of enrolments:</label>
                    </div>
                    <div class="col-md-10" data-bind="text: NumberOfVouchersRedeemed"></div>
                </div>
        }
        else
        {
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label">Vouchers purchased:</label>
                    </div>
                    <div class="col-md-10" data-bind="text: $root.VoucherAllocation().resolveNumberOfVouchersPurchased(NumberOfVouchersPurchased)"></div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label">Vouchers redeemed:</label>
                    </div>
                    <div class="col-md-10" data-bind="text: NumberOfVouchersRedeemed"></div>
                </div>
        }

            <br />

            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-default" style="margin-right: 10px;" title="Add" data-bind="click: $root.VoucherAllocation().openStudentDialog">
                        @if (CurrentUser.AccountType == AccountType.GetSmarter)
                            {
                            <span>Add applicant</span>
                            }
                            else
                            {
                            <span>Add delegate</span>
                            }
                    </button>
                    @if (CurrentUser.AccountType == AccountType.GetSmarter)
                        {
                        <input type="file" id="csvImportFile" name="csvImportFile" data-bind="visible: false, event: { change: $root.VoucherAllocation().csvFileUpload }" />
                        <button class="btn btn-default" style="background-color: gray;" title="Import applicants from CSV" data-bind="click: $root.VoucherAllocation().openCSVImport">Import from CSV</button>
                        <span id="csvImportPopover" class="glyphicon glyphicon-info-sign" style="vertical-align: middle;" data-container="body" data-toggle="popover" title="CSV Import" data-content="Please ensure that your CSV file is formatted properly for the import. Make sure the following fields are separated into their own columns in your file before importing: name, surname, email address (no heading required)."></span>
                        }
                </div>
                <div class="col-md-6">

                </div>
                @*<div class="col-md-7"></div>*@
            </div>
        </div>

    </div>

    <div style="margin: 60px 0 100px 0" data-bind="visible: delegates(), with: selectedOffering">
        @if (CurrentUser.AccountType == AccountType.GetSmarter)
            {
            <h2 style="color: #992f40;">ENROLLED STUDENTS</h2>
        }
        else
        {
            <h2 style="color: #992f40;">APPROVED DELEGATES</h2>
        }

        <table id="approvedDelegatesTable" class="form-group col-md-12 table table-striped" style="margin-bottom: 0; width: 100%;">
            <thead>
                <tr>
                    <th class="col-md-2" style="text-align: center;">NAME</th>
                    <th class="col-md-2" style="text-align: center;">SURNAME</th>
                    <th class="col-md-3" style="text-align: center;">EMAIL ADDRESS</th>
                    <th class="col-md-3" style="text-align: center;">STATUS</th>
                    <th class="col-md-2"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: $root.VoucherAllocation().delegates">
                <tr>
                    <td class="col-md-2" style="text-align: center;" data-bind="text: DelegateName"></td>
                    <td class="col-md-2" style="text-align: center;" data-bind="text: DelegateSurname"></td>
                    <td class="col-md-3" style="text-align: center;" data-bind="text: DelegateEmail"></td>
                    <td class="col-md-3" style="text-align: center;" data-bind="text: EnrollmentStatusDescription"></td>
                    <td class="col-md-2">
                        <button class="btn btn-default dropdown-toggle" type="button" id="delegateActionsDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
                        <div class="dropdown-menu" aria-labelledby="delegateActionsDropdownButton">
                            <button class="dropdown-item" type="button" title="Edit" data-bind="disable: $root.VoucherAllocation().checkEnrollmentStatus(EnrollmentStatusDescription), click: $root.VoucherAllocation().openStudentDialog">Edit</button>
                            @if (CurrentUser.AccountType == AccountType.GetSmarter || CurrentUser.AccountType == AccountType.MasterStart || CurrentUser.AccountType == AccountType.BasilRead)
                            {
                                using (Html.BeginForm(null, null, FormMethod.Get, new { @id = "delegateApplyOnline", @action = @CurrentUser.WebConfiguration.UsbShortCourseApplicationFormUrl, target = "_blank" }))
                                {
                                    <input id="tokenId" type="hidden" data-bind="value: $root.VoucherAllocation().delegateToken" name="token" />
                                        <button class="dropdown-item" type="button" title="Apply online" data-bind="click: $root.VoucherAllocation().applyOnline">Apply online</button>
                                }

                            }
                            else
                            {
                                <button class="dropdown-item" type="button" title="Send application link to delegate" data-bind="disable: $root.VoucherAllocation().checkEnrollmentStatus(EnrollmentStatusDescription), click: $root.VoucherAllocation().sendApplicationLink">Send link</button>
                                    <button class="dropdown-item" type="button" title="Send custom mail to delegate" data-bind="click: $root.VoucherAllocation().sendMailToDelegate">Email</button>
                            }
                            <button class="dropdown-item toggleDropdownFocus" type="button" title="Delete this record?" data-bind="disable: $root.VoucherAllocation().checkEnrollmentStatus(EnrollmentStatusDescription), click: $root.VoucherAllocation().deleteDelegateDialog">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>

    <div class="modal fade" id="studentDialog" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Complete details below</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group col-md-12">
                        <div class="row" style="margin: 10px 0 10px 0;">
                            <div class="col-md-3">
                                <label class="control-label" for="studentName">Name</label><span class="required">*</span>
                            </div>
                            <div class="col-md-8">
                                <input id="studentName" type="text" class="form-control" placeholder="Name" data-bind="value: $root.VoucherAllocation().delegateName, valueUpdate: 'afterkeydown'" />
                            </div>
                        </div>
                        <div class="row" style="margin: 10px 0 10px 0;">
                            <div class="col-md-3">
                                <label class="control-label" for="studentSurname">Surname</label><span class="required">*</span>
                            </div>
                            <div class="col-md-8">
                                <input id="studentSurname" type="text" class="form-control" placeholder="Surname" data-bind="value: $root.VoucherAllocation().delegateSurname, valueUpdate: 'afterkeydown'" />
                            </div>
                        </div>
                        <div class="row" style="margin: 10px 0 10px 0;">
                            <div class="col-md-3">
                                <label class="control-label" for="studentEmail">Email</label><span class="required">*</span>
                            </div>
                            <div class="col-md-8">
                                <input id="studentEmail" type="text" class="form-control" placeholder="Email" data-bind="value: $root.VoucherAllocation().delegateEmail, valueUpdate: 'afterkeydown'" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="saveDelegate" class="btn btn-default" title="Save" data-bind="enable: $root.VoucherAllocation().errors().length === 0, click: $root.VoucherAllocation().saveDelegateDetails">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="deleteDelegateDialog" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are you sure you want to delete this Delegate?</h4>
                </div>
                <div class="modal-footer">
                    <button id="deleteDelegate" class="btn btn-default" data-bind="click: $root.VoucherAllocation().deleteDelegate" title="Delete">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>