﻿
<div id="infoCallout" data-bind="visible: InfoMessages().length > 0 " style="display: none; color: #419641;">
    <fieldset style="border-color: #419641; padding: 0;">
        <div class="col-md-10">
            <h4 data-bind="text: Heading"></h4>
            <p data-bind="foreach: InfoMessages">
                <span data-bind="text: Text"></span>
            </p>
        </div>
        <div class="col-md-2" style="color: #419641;"><h3 style="margin-right: 10px; cursor: pointer; width: 16px; float: right;" data-bind="click: closeInfo">X</h3></div>
    </fieldset>
</div>

<script type="text/javascript">

    $(function () {

        var InfoViewModel = function() {

            var self = this;

            self.Heading = ko.observable();
            self.InfoMessages = ko.observableArray();

            self.closeInfo = function () {
                document.getElementById("infoCallout").style.display = "none";
            };

            amplify.subscribe("notifications.info",
                function(data) {
                    if (data.Heading) {
                        self.Heading(data.Heading);
                    }

                    self.InfoMessages(data.Messages);
                    $("#infoCallout").delay(1000).fadeOut(5000);
                });
        };

        var infoCallout = new InfoViewModel();

        ko.applyBindings(infoCallout, $('#infoCallout')[0]);

    });

</script>