﻿
<div id="errorsCallout" data-bind="visible: Errors().length > 0" style="display: none; color: red;">
    <fieldset  style="border-color: red; padding: 0;">
        <div class="col-md-10">
            <h4 data-bind="text: Heading" style="margin: 10px;"></h4>
            <p data-bind="foreach: Errors" style="margin: 10px;">
                <span data-bind="text: Text"></span>
            </p>
        </div>
        <div class="col-md-2" style="color: red;"><h3 style="margin-right: 10px; cursor: pointer; width: 16px; float: right;" data-bind="click: closeError">X</h3></div>
    </fieldset>
</div>

<script type="text/javascript">

    $(function () {

        var ErrorsViewModel = function () {

            var self = this;

            self.Heading = ko.observable("An error occurred.");
            self.Errors = ko.observableArray();

            self.closeError = function() {
                document.getElementById("errorsCallout").style.display = "none";
            };

            amplify.subscribe("notifications.errors",
                function (data) {
                    if (data.Heading) {
                        self.Heading(data.Heading);
                    }

                    self.Errors(data.Errors);
                    $("#errorsCallout").delay(1000).fadeOut(5000);
                });

        };

        var errorsCallout = new ErrorsViewModel();

        ko.applyBindings(errorsCallout, $("#errorsCallout")[0]);

    });

</script>