﻿@model PerformanceManagement.Application.Admin.ViewModels.ClassificationsAndSufficienciesVm
    
<h4>Contribution to USB's mission for <strong class="text-primary"></strong></h4>

@using ( Ajax.BeginForm( "CreateUserClassifications", "Management", new { area = "Admin" },
        new AjaxOptions
        {
            LoadingElementId = "div_loading",
            UpdateTargetId = "user-classifications",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "ShowSuccessMessage"
            //OnBegin = "ValidateForm"
        },
        new { @class = "form-horizontal" } ) )
{
    <p id="MessageToClient" class="text-danger"></p>
    @Html.ValidationSummary( true )

    @Html.HiddenFor( m => m.CVid )
    @Html.HiddenFor( m => m.Username )

    <div class="form-group">
        @Html.BootstrapLabelFor(i => i.ClassificationId, columns: 3, required: true)
        <div class="col-md-9">
            @Html.EditorFor(m => m.ClassificationId)
            <p id="DepartmentIdError" class="text-danger"></p>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Update </button>
}

<script>
    function ShowSuccessMessage() {
        $("#MessageToClient").html("<div class='alert alert-success'> <i class='fa fa-check-circle-o fa-2x'> </i> Successfully Updated. </p></div>");

        $(".alert").fadeTo(3000, 500).slideUp(500, function () {
            $(".alert").slideUp(500);
        });
    }

    $("#SelectedFacultyUser").val('');
</script>