@model PerformanceManagement.Application.Admin.ViewModels.Common.UserSelectBaseVm

<div class="modal-body">
    <div>
        <div id="div_loading" style="display: none"><img src="~/Images/loader.gif" /></div>
        <p id="MessageToClient" class="text-danger"></p>

        @using (Ajax.BeginForm("/Index", "Management", new { area = "Admin" },
                                                                new AjaxOptions
                                                                {
                                                                    LoadingElementId = "div_loading",
                                                                    UpdateTargetId = "user-classifications",
                                                                    InsertionMode = InsertionMode.Replace,

                                                                },
                                                                new { @class = "form-inline" }))
        {
          

        }
        <br />
        <div id="user-classifications" class="margin-top-20"> </div>
      <h4> Faculty Classification</h4>
        <label style="color:red;" id="display" ></label>
        <br />
        <div class="form-group">
           <select id="ddlClassifications">
               <option value="">--Select Classification--</option>
               <option value="3">Scholarly Academics (SA)</option>
               <option value="4">Practice Academics (PA)</option>
               <option value="5">Scholarly Practitioners (SP)</option>
               <option value="6">Instructional Practitioners (IP)</option>
               <option value="7">Other</option>
           </select>
            <br /><br />
            <button type="submit" id="btnUpdate">Update</button>
            
        </div>
    </div>
</div>

<script type="text/javascript">

   // var classificationVal = $('#ddlClassifications').val();
    getClassification(0);
   
    //ajax post to save data
    $('#ddlClassifications').change(function () {
        //alert selected
        var classificationVal = $('#ddlClassifications').val();
       

    });
    $('#btnUpdate').click(function () {
        var classificationVal = $('#ddlClassifications').val();
      
        saveClassification(classificationVal);

    });

    function saveClassification(classificationId) {
        
        $.ajax({
            url: 'CreateUserClassifications',
            type: 'POST',
            data: {
                'classificationId': classificationId, 'type' : "save"
            },
            dataType: 'text',
            success: function (data) {
              
                
            }
        });
       $('#display').html("Succesfully saved.")
    }
    
    function getClassification(classificationId)
    {
        $.ajax({
            url: 'CreateUserClassifications',
            type: 'POST',
            data: {
                'classificationId': classificationId, 'type': "load"
            },
            dataType: 'text',
            success: function (data) {
           
                var json = $.parseJSON(data);
                $(json).each(function (i, val) {
                    $.each(val, function (k, v) {
                        //set dropdown selected 
                       
                        $('select#ddlClassifications').val(v);
                    });
                });
            }
        });
    }

</script>



