﻿@*@model PerformanceManagement.Application.Admin.ViewModels.ExecutiveProfileVm
<div class="modal-header">

    <h4 class="modal-title" id="myModalLabel">Edit Executive Profile for <strong class="text-primary">@Model.FullName</strong></h4>
</div>
<div class="modal-body">
    <div>
        <div id="div_loading" style="display: none"><img src="~/Images/loader.gif" /></div>
        <p id="MessageToClient" class="text-danger"></p>
        @using (Html.BeginForm("EditExecutiveProfile", "Management", new { area = "Admin" }, FormMethod.Post))
        {
            @Html.HiddenFor(model => model.CVid)

            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Biography)
                        @Html.ValidationMessageFor(model => model.Biography)
                    </div>
                </div>
            </fieldset>

            <br />
            <div class="panel-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        }
    </div>
</div>*@


@model PerformanceManagement.Application.Admin.ViewModels.ExecutiveProfileVm


<p id="MessageToClient"></p>

<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Edit Executiveeee Profile for <strong class="text-primary">@Model.FullName</strong></h4>
</div>

<div id="update-view">
    <div class="modal-body">
        <div>
            <div id="div_loading" style="display: none"><img src="~/Images/loader.gif" /></div>



            @using ( Ajax.BeginForm( "EditExecutiveProfile", "Management", new { area = "Admin" },
                    new AjaxOptions
                    {
                        LoadingElementId = "div_loading",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "update-view",
                        OnSuccess = "showSuccessMessage",
                        OnFailure = "showFailureMessage"
                    } ) )
            {
                @Html.HiddenFor( model => model.CVid )


                <fieldset>
                    <div class="row">
                        <div class="col-md-12">
                           @Html.EditorFor(model => model.Biography)
                            @Html.ValidationMessageFor(model => model.Biography)
                        </div>
                    </div>
                </fieldset>

                <br />
                <div class="modal-footer">
                    <a href="@Url.Action("Index", "PersonalInformation", new  {area=""})" class="btn btn-default">Cancel</a>
                    <a href="@Url.Action("Index", "PersonalInformation", new  {area=""})" class="btn btn-default">Save2</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            }

        </div>
    </div>
</div>

@section Scripts {

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>





    <script>
        function showSuccessMessage() {
            $("#MessageToClient")
                .html("<div class='alert alert-success'> <i class='fa fa-check-circle-o fa-2x'> </i> Successfully Updated.</div>");

            setTimeout(function() {                
                location.reload();
            }, 1000);
        }

        function showFailureMessage() {
            $("#MessageToClient").html("<div class='alert alert-danger'> <i class='fa fa-exclamation-triangle fa-2x'> </i> " +
                " An error has occurred while processing your request. <p> Your organization's administrators have been notified of this problem.</p></div>");
        }
    </script>
}
