﻿@model FacultyManagement.Application.AcademicAndProfessionalExperience.ViewModels.EngagementWithBusinessAndSociety.EngagementWithBusinessCreateVm

<div data-role="page">
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</div>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">New Engagement With Business and Society</h4>
</div>

<div class="modal-body">
    <p id="MessageToClient" class="text-danger"></p>

    @using ( Html.BeginForm( "CreateEngagementWithBusiness", "AcademicAndProfessionalExperience", FormMethod.Post ) )
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary( false, "", new { @class = "text-danger" } )

        @Html.HiddenFor( model => model.CVid )
        @Html.HiddenFor( model => model.ExperienceCategoryId )

        <div class="form-horizontal">
            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.StartDate, columns: 2, required: true )
                <div class="col-md-4">
                    @Html.EditorFor( model => model.StartDate )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.EndDate, columns: 2, required: true )
                <div class="col-md-4">
                    @Html.EditorFor( model => model.EndDate )
                </div>
                @Html.BootstrapLabelFor( model => model.IsCurrent, columns: 2 )
                <input type="checkbox" name="IsCurrent" id="IsCurrent" value="@Model.IsCurrent" style="vertical-align: middle" />
            </div>

            <div class="form-group">
                @Html.BootstrapLabel( "Type of Engagement", columns: 2, required: true )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.Subject )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabel( "Topic", columns: 2, required: true )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.KnowledgeArea )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabel("Company or Committee", columns: 2, required: true )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.Institution ) 
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.City, columns: 2, required: true )
                <div class="col-md-5">
                    @Html.EditorFor( model => model.City ) 
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.CountryId, columns: 2, required: true )
                <div class="col-md-5">
                    @Html.EditorFor( model => model.CountryId )
                </div>
            </div>


        </div>

        <br />
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    }
</div>


<script src="~/Scripts/custom/end-date-is-current-check.js"></script>
<script src="~/Scripts/custom/formActions.js"></script>
