﻿@using USBPartnerPortal.Models
@model LoginViewModel
@{
    ViewBag.Title = "Partner Portal - Log in";
}

<div class="col-md-12">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div style="text-align: center;"><h3>Welcome to the USB-ED Partner Portal</h3></div>
        <div style="color: gray; text-align: center; margin-bottom: 25px;">Please login with your credentials below</div>
        <fieldset>

            <div class="col-md-2">
                <img src="~/Content/img/key-icon-10.png" height="80" />
            </div>
            <div class="col-md-9">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @id = "loginForm", @class = "form-horizontal", role = "form" }))
                    {
                        @Html.HiddenFor(m => m.ReturnUrl)

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(!Model.HasErrors, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(m => m.Username, new { @class = "col-md-3 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Username, new { @placeholder = "Username", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-5">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe, new { @style = "min-width: 100px; width: 105px;" })
                            </div>
                            <div class="col-md-3" style="text-align: right;">
                                <button type="submit" class="btn btn-default">Login</button>
                            </div>
                        </div>
                    }
                </section>

            </div>

        </fieldset>
    </div>
    <div class="col-md-3"></div>
</div>

<script type="text/javascript">

    $("#loginForm")
        .submit(function (e) {
            $.LoadingOverlay("show");
        });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}