﻿@model PerformanceManagement.Application.Admin.ViewModels.AuthVm

<div class="panel-body">
    @if ( Model.AuthDetails.Any() )
    {
        <h4>Authorizations for <strong class="text-primary">@Model.User.FullName</strong></h4>

        <table id="client-table" class="table table-responsive table-condensed">
            <thead>
            <tr>
                <th>
                    Manager
                </th>
                <th>
                    Feature
                </th>
                <th>
                    Authorization
                </th>                  
                <th></th>
            </tr>
            </thead>

            @foreach ( var item in Model.AuthDetails )
            {
                <tr>
                    <td>
                        @Html.DisplayFor( modelItem => item.Manager.FullName )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.Feature )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.Action )
                    </td>

                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                             @*   <li>@Html.ActionLink( "Edit", "Edit", new { id = item.Id }, new { @class = "modal-link" } )</li>
                                <li>@Html.ActionLink( "Delete", "Delete", new { id = item.Id }, new { @class = "modal-link" } )</li>*@
                            </ul>
                        </div>
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <p>No Records found</p>
    }
</div>
<div class="panel-footer">
    <div class="row">
        <div class="col-xs-4">
       @*     <a href=@Url.Action( "Create", "PeerEvaluation", new { Model.Category } ) class="btn btn-xs btn-primary modal-link">
                <i class="fa fa-plus"></i> Add New
            </a>*@
        </div>
        <div class="col-xs-8">

        </div>
    </div>
</div>

