﻿@model PerformanceManagement.Application.PerformanceManagement.MyCommitment.ViewModels.MyCommitmentCreateItemVm

<div data-role="page">
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</div>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">New Commitment</h4>
</div>

<div class="modal-body">

    <p id="MessageToClient" class="text-danger"></p>

    @using ( Ajax.BeginForm( "Create", "MyCommitment",
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "user-evaluations",
                            OnSuccess = "closeModal",
                            OnFailure = "showMessage"
                        } ) )
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary( false, "", new { @class = "text-danger" } )

        @Html.HiddenFor( model => model.CVid )

        <div class="form-horizontal">
            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.Year, columns: 2, required: true )
                <div class="col-md-3">
                    @Html.EditorFor( model => model.Year )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabel( "Category", columns: 2, required: true )
                <div class="col-md-6">
                    @Html.DropDownListFor( m => m.PerformanceCategoryId, Model.PerformanceCategories, new { @class = "form-control" } )
                    <input type="text" id="baseline" class="form-control" readonly="readonly">
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.CommitmentValue, columns: 2, required: true )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.CommitmentValue )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.Description, columns: 2, required: false )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.Description )
                </div>
            </div>

        </div>

        <br />
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>

    }
</div>


<script>
        $(document).ready(function() {
            var dict = []; // create an empty array

            // Populate Dropdownlist
            $.ajax({
                type: 'POST',
                url: '@Url.Action( "GetPerformanceCategories" )',
                dataType: 'json',
                success: function (results) {
                    $("#PerformanceCategoryId")
                        .html("'<option selected disabled='disabled'>--Select Category--</option>'");
                    /*----------------------------------------------------------------*/
                    // results contains the JSON formatted list
                    // of states passed from the controller
                    $.each(results,
                        function(i, result) {
                            // result is the json object returned : properties are in camel case because we using Json.NET serializer
                            // result.description instead of result.escription
                            $("#PerformanceCategoryId")
                                .append('<option value="' + result.id + '">' + result.description + '</option>');

                            // create dictionary items
                            dict[result.id] = result.baseLine;
                        });
                },
                error: function(ex) {
                    alert('Failed to retrieve items.' + ex);
                }
            });

            //Dropdownlist Selectedchange event
            $('#PerformanceCategoryId').on('change', function () {
                // Get the drop down value
                var key = this.value;
                // Pull value out of dictionary using key obtained
                var value = dict[key];
                // Set the text box to the dictionary value
                $("#baseline").val(value);
            });

            return false;
    });


    function closeModal() {
        $("#modal-container").modal("hide");
    }

    function showMessage() {
        $("#MessageToClient").html("<div class='alert alert-danger'> <i class='fa fa-exclamation-triangle fa-2x'> </i> " +
            " An error has occurred while processing your request. <p> Your organization's administrators have been notified of this problem.</p></div>");
    }

</script>
