﻿
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">New External Contributor</h3>
</div>
<div class="modal-body" id="modal-body">

    <form name="contributorForm" novalidate>
        <div class="form-horizontal">

            <div class="form-group">
                <div class="col-md-2"><label for="Surname" class="required">Surname</label></div>
                <div class="col-md-6">
                    <input id="Surname" name="Surname" type="text" class="form-control" ng-model="vmodal.Surname" required />
                    <span ng-show="contributorForm.Surname.$invalid && !contributorForm.$pristine" class="text-danger">Surname is required</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2"><label for="FirstName" class="required">First Name</label></div>
                <div class="col-md-6">
                    <input id="FirstName" name="FirstName" type="text" class="form-control" ng-model="vmodal.FirstName" required />
                    <span ng-show="contributorForm.FirstName.$invalid && !contributorForm.$pristine" class="text-danger">FirstName is required</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2"><label for="Initials" class="required">Initials</label></div>
                <div class="col-md-6">
                    <input id="Initials" name="Initials" type="text" class="form-control" ng-model="vmodal.Initials" required />
                    <span ng-show="contributorForm.Initials.$invalid && !contributorForm.$pristine" class="text-danger">Initials are required</span>
                </div>
            </div>

            <div class="form-group">
                <label for="Gender" class="col-md-2 required" >Gender</label>
                <div class="col-md-6">
                    <select id="Gender" name="Gender" class="form-control" ng-model="vmodal.selectedGender" required
                            ng-options="item.description for item in vmodal.Genders track by item.id">
                        <option value="" ng-selected="selected">-- Select Gender --</option>
                    </select>
                    <span ng-show="contributorForm.Gender.$invalid && !contributorForm.$pristine" class="text-danger">Gender is required</span>
                </div>
            </div>

            <div class="form-group">
                <label for="Nationality" class="col-md-2 required">Nationality</label>
                <div class="col-md-6">
                    <select id="Nationality" name="Nationality" class="form-control"
                            ng-model="vmodal.selectedNationality" required
                            ng-options="item.description for item in vmodal.Nationalities track by item.id">
                        <option value="" ng-selected="selected">-- Select Nationality --</option>
                    </select>
                    <span ng-show="contributorForm.Nationality.$invalid && !contributorForm.$pristine" class="text-danger">Nationality is required</span>
                </div>
            </div>          

            <div class="form-group">
                <div class="col-md-2"><label for="Role" class="required">Role</label></div>
                <div class="col-md-6">
                    <select id="Role" name="Role" class="form-control"
                            ng-model=" vmodal.selectedRole"
                            ng-options="item.description for item in vmodal.Roles track by item.id"
                            required>
                        <option value="" ng-selected="selected">-- Select Role --</option>
                    </select>
                    <span ng-show="contributorForm.Role.$invalid && !contributorForm.$pristine" class="text-danger">Role is required</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2"><label for="Email">Email</label></div>
                <div class="col-md-6">
                    <input id="Email" type="text" class="form-control" ng-model="vmodal.Email" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2"><label for="Affiliation" class="required">Affiliation</label></div>
                <div class="col-md-6">
                    <select id="Affiliation" name="Affiliation" class="form-control"
                            ng-model=" vmodal.selectedAffiliation"
                            ng-options="item.description for item in vmodal.Affiliations track by item.id"
                            required>
                        <option value="" ng-selected="selected">-- Select Affiliation --</option>
                    </select>
                    <span ng-show="contributorForm.Affiliation.$invalid && !contributorForm.$pristine" class="text-danger">Affiliation is required</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2"><label for="Credit" class="required">Credit</label></div>
                <div class="col-md-6">
                    <input id="Credit" name="Credit" type="number" min="0" max="1000" class="form-control" ng-model="vmodal.Credit" />
                    <span ng-show="contributorForm.Credit.$invalid && !contributorForm.$pristine" class="text-danger">Credit is required</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2"><label for="Institution" class="required">Institution</label></div>
                <div class="col-md-6">
                    <input id="Institution" name="Institution" type="text" class="form-control" ng-model="vmodal.Institution" required />
                    <span ng-show="contributorForm.Institution.$invalid && !contributorForm.$pristine" class="text-danger">Institution is required</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2"><label for="Sequence" class="required">Sequence of appearance on publication</label></div>
                <div class="col-md-3">
                    <input id="Sequence" name="Sequence" type="number" min="1" max="1000" class="form-control"  ng-model="vmodal.Sequence" required />
                    <span ng-show="contributorForm.Sequence.$invalid && !contributorForm.$pristine" class="text-danger">Sequence is required</span>
                </div>
            </div>

        </div>
    </form>

    <hr />
    <div>
        <button class="btn btn-default" type="button" ng-click="vmodal.cancel()">Cancel</button>
        <button class="btn btn-primary" type="button" 
                ng-click="vmodal.ok()"
                ng-disabled="contributorForm.$invalid">Add
        </button>
    </div>
</div>



<script>

    // The autocomplete element
    $(".faculty-user-search").autocomplete({
        minLength: 3,
        source: function (request, response) {
            var url = "/PerformanceManagement/Admin/Users/AutoComplete";
            $.getJSON(url, { term: request.term }, function (data) {
                response(data);
            });
        },
        // The the element we want to update
        appendTo: $("#searchresults"),
        // This will override the label
        // and set custom input to be sent to controller with another id
        select: function (e, ui) {
            e.preventDefault() // <--- Prevent the value from being inserted.

            var hiddenInput = $('#selected_user');
            hiddenInput.val(ui.item.value); // <--- custom input - we set another value
            /*  ANGULAR FIX */
            // ngModel listens for "input" event, so to "fix" need to trigger that event after setting the value:
            hiddenInput.trigger('input'); // Use for Chrome/Firefox/Edge
            hiddenInput.trigger('change'); // Use for Chrome/Firefox/Edge + IE11
            /*  ANGULAR FIX */

            $(this).val(ui.item.label); // <---  the search input box display text

        }
    });

</script>
