body {
    font-size: 12px;
    margin: 0;
    line-height: 20px;
    font-family: 'arial';
    color:#444444;
background-color:#bfbfbf;
}
#wrap { 
  	width: 900px;
  	height:960px; 
  	margin: 0 auto;
 	background-color:#ffffff; 
}

.head {
margin-bottom:20px !important;
}

.required {
    color: #FF0000;
    font-size: 20px;
}
.placeHolder {
margin-right:11px;
}

.progress {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url('../img/progress.gif');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    float:right;
    margin-right:30px;
    content: '';
}

.confirmation {
    font-size: 16px;
    color: #FF5353;
}
.labelLarge {
    font-size: 16px;
}

.paddingTop15 {
padding-top:15px
}

.paddingRight10 {
padding-left:10px
}

.infoBox {
    -moz-box-shadow: 5px 5px 10px #888;
    -webkit-box-shadow: 5px 5px 10px #888;
    box-shadow: 5px 5px 10px #888;
    border-color: #CCCCCC;
    padding: 10px 5px 10px 15px;
    width: 370px;
    border-radius: 5px;
    background-color: #EBEBEB;
    margin-bottom:40px;
}

.infoBox input[type="text"] {
width:200px    
}
 
.infoBox span {
padding-right:25px;   
}

div {
  display: block;
}

label {
    display:inline-block;
    min-width:165px;
}

input[type=text]:focus, input[type='number']:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    background-color: #FFFFFF;
}

input[type='text'], input[type='number'], select, textarea {
    border: 1px solid #b6b6b6;
    padding: 5px 2px 6px 5px;
    margin: 2px 0px 5px 0px;
    font-size: 13px;
    zoom: 1;
    background-color: rgb(249,249,249);
    border-radius: 3px;
    width:225px;
}

input[type="text"]:disabled, input[type='number']:disabled, input[type='submit']:disabled, select, textarea:disabled {
    background: #dddddd;
}

.topMargin20 {
margin-top:20px;
}

input[type='submit'] {
    border-style: none;    
    margin-left: 305px;
    padding: 5px 10px;
    background: #992f40;
    -moz-box-/*shadow*/: 0 0 4px rgba(0,0,0, .75);
    color: white;
    font-size: 1.1em;
}

select{
    border: 1px solid #b6b6b6;
    padding: 5px 2px 7px 5px;
    margin: 2px 0px 10px 0px;
    font-size: 13px;
    zoom: 1;
    background-color: rgb(249,249,249);
    border-radius: 3px;
    width:235px;
}

.fieldRow {
    /*padding-top: 50px; */  
    margin-top: 7px;
    margin-left: 25px;
    margin-right: 5px;
}

#closedMessage, #notFoundMessage {
    font-size: 16px;
    color: #800000;
    margin-bottom: 10px;
}


#grey  {
	float:left;
	width:900px;
	height:240px;
	margin:0px; 
	background-color:#f1f2f2;
}

#content { 
  	width: 900px; 
 	margin: 0 auto;
  	background-color:#f1f2f2; 

}

#heading  {
	float:left;
	margin:15px 10px 0px 40px;
	font-family:Arial, Helvetica, sans-serif;
}

#rightImg  {
	float:right;
	margin:-260px 0 0 0px;
}

#footer  {
	float:left;
	width:900px;
	/*height:274px;*/
	height:auto;
	margin:10px 0 0 0px; 
	background-color:#f1f2f2;
}

#input-fields  {
	 float:left;
	 width:420px;
	 margin:15px 5px 0px 40px;
	 font-family:Arial, Helvetica, sans-serif;
	 font-size:12px;
	 line-height:20px; 
	 text-align:left;
}

li {
    list-style-type: none;
}

h1  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	line-height:20px; 
	text-align:left;
	font-weight:bold;
	color:#a90c37;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 7px;
  text-align: left;
  font-weight: bold;
  color: #3f3d34;
}

h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:16px;
	text-align:left;
	font-weight:normal;
	color:#666f72;
}

.eventDescription {
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#3f3d34;
}

a {
	text-decoration: none;
	color:#817328;
}

a:hover {
	text-decoration: underline;
}

/* styles for validation helpers */
.field-validation-error {
    color: #F3697E;
    font-weight: bold;
    margin-left:5px;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error:focus,
select.input-validation-error:focus {
    border: 1px solid #ff6666 !important;
    background-color: #ffeeee !important;
    color: rgb(143, 0, 0) !important;
    outline: rgb(255, 37, 37) solid 2px !important;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}


.validation-summary-errors {
    color: #F3697E;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.requiredField_error {
    border: 1px solid red;
    color:#F3697E;
}

.validationElement {
    border: 1px solid red;
    color:#F3697E;
}

.input-validation-error {
    box-shadow: 0 0 5px rgba(255, 56, 89, 1) !important;
    border: 1px solid rgba(255, 56, 89, 1) !important;
    background: #FFDDE3 !important;
    /*border: 1px solid red !important;*/
}

/*input {
    font-size: 12px;
}*/

/*input[type="text"], select, textarea {
    font-family: Trebuchet MS, Georgia, Times New Roman; font-size: 12px; color: #7c001d; padding: 2px;
}

input[type="submit"], input[type="reset"], input[type="cancel"] {
   border: none; background: url(http://events.usb-ed.com/common/images/BtnBgDark.jpg) repeat-x bottom left; color: #fff; height: 22px; font-size: 12px; padding: 4px 8px; width: auto;
}*/