﻿@model decimal?
@Html.TextBox( "", ViewData.TemplateInfo.FormattedModelValue, new { @class = "form-control currency" } )


<script src="~/Scripts/jquery-number/jquery.number.min.js"></script>

<script>
    $('.currency').number(true, 2);
</script>