﻿@using FacultyManagement.Core.Cache
@using FacultyManagement.Domain.Model.Common
@using FacultyManagement.Domain.Model.Enums
@model IEnumerable<int>


@{

    List<SelectListItem> selectListItems = new List<SelectListItem>();

    var languages = DropDownsCache.Read<Language>( DropDownType.Languages )
                             .Where( lang => !Model.Contains( lang.Id ) ); // Filter out languages they already have selected

    foreach ( var language in languages )
    {
        var item = new SelectListItem
        {
            Text = language.Description,
            Value = language.Id.ToString(),
            Selected = Model.Contains( language.Id )
        };

        selectListItems.Add( item );
    }

    /* var selectList = DropDownsCache.Read<Language>( DropDownType.Languages )
        .Select( x => new SelectListItem()
        {
            Text = x.Description,
            Value = x.Id.ToString(),
            Selected = Model.Contains( x.Id )
        } );*/

    //var multiSelectList = new MultiSelectList( items, "Id", "Description", Model );

    @Html.DropDownList( "", selectListItems, new { @class = "form-control", style="width: 100%" } )

}

