﻿
#outer {	
	width: 1024px;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	margin: auto;
}

#header {
	width: 1024px;
	height: auto;
	margin: 0 auto;
	text-align: left;
}

#menu {
	width: 943px;
	height: 25px;
	margin: 0 auto;
	border: 0;
	padding: 0;
	background-color: #C0C0C0;
}

#logo {	
	height: 120px;
	padding: 0px;
	background-color: #FFFFFF;
}

#topbar {
    height: 20px;
}

#page {
	border: 0;
	width: 943px;
	margin: 0 auto;	
	margin-bottom: 20px;
	text-align: left;
	background-color: #FFFFFF;
}

#content {
	float: left;
	width: 612px;
	background-color: #FFFFFF;
}

#flickr { 
    margin-top: 15px; 
} 

#flickr a img {
    float: left; 
    margin: 0px 5px 5px 0px;    
    background: #FFFFFF; 
    padding: 0px; 
} 

#more a img {
    
}

#sidebar {
	float: right;
	width: 281px;
	vertical-align: top;
	border-left: 50px solid #FFFFFF;
	background-color: #FFFFFF;
}

#sidebar .top {
	background-color: #FFFFFF;
	background-image: url('../images/front_events.gif');
	background-repeat: no-repeat;
	width: 100%;
	height: 27px;	
	border-bottom: solid 1px #D0D0D0;
}

#sidebar .top h2 {
	height: 25px;
	margin: 0;
	padding: 5px 0 3px 20px;
	letter-spacing: -1px;
	font-size: 12pt;
	color: #FFFFFF;
	background-color: #95A3A3;
}

#sidebar .mdl {
	background-color: #FFFFFF;
	background-image: url('../images/front_thoughtleadership.gif');
	background-repeat: no-repeat;
	border-top: 15px solid #FFFFFF;
	width: 100%;
	height: 27px;	
	border-bottom: solid 1px #D0D0D0;
}

#sidebar .mdl h2 {
	height: 25px;
	margin: 0;
	padding: 5px 0 3px 20px;
	letter-spacing: -1px;
	font-size: 12pt;
	color: #FFFFFF;
	background-color: #8E8700;
}

#sidebar .end {
	background-color: #FFFFFF;
	background-image: url('../images/front_socialmedia.gif');
	background-repeat: no-repeat;
	border-top: 15px solid #FFFFFF;
	width: 100%;
	height: 27px;	
	border-bottom: solid 1px #D0D0D0;
}

#sidebar .end h2 {
	height: 25px;
	margin: 0;
	padding: 5px 0 3px 20px;
	letter-spacing: -1px;
	font-size: 12pt;
	color: #FFFFFF;
	background-color: #8E8700;
}

#sidebar-content-gray {
	background-color: #FFFFFF;
	margin-top: 8px;
	margin-bottom: 5px;
	margin-right: 10px;
	border-bottom: 5px solid #FFFFFF;	
}

#sidebar-content-white {
	background-color: #FFFFFF;
	margin-top: 8px;
	margin-bottom: 5px;
	margin-right: 10px;
	border-bottom: 5px solid #FFFFFF;
}

#sidebar-content-red {
	background-color: #FFFFFF;
	margin-top: 8px;
	margin-bottom: 5px;
	margin-right: 10px;
	border-bottom: 5px solid #FFFFFF;
}

#sidebar-content-gray li {
	list-style-type: none;
}

#footer {
	clear: both;	
	margin: 0 auto;
	width: 1024px;
	height: 168px;
	color: #000000;
}

#copyright {
    margin: 0 auto;
    padding-top: 4px;
    width: 1024px;
	height: 25px;
	background-color: #505050;
	font-family: "Trebuchet MS";
	font-size: 10pt;
	font-weight: normal;
	color: #FFFFFF;    
	text-align: center;
}

