﻿@model FacultyManagement.Application.SupervisionLoad.ViewModels.SupervisionLoadCreateVm

<div data-role="page">
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</div>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">New Supervision Load</h4>
</div>

<div class="modal-body">

    <p id="MessageToClient" class="text-danger"></p>

    @using ( Html.BeginForm( "Create", "SupervisionLoads", FormMethod.Post ) )
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary( false, "", new { @class = "text-danger" } )
        @Html.HiddenFor( model => model.CVid )

        @Html.HiddenFor(model => model.YearDescription)
        @Html.HiddenFor(model => model.SupervisionResearchDescription)


        <div class="form-horizontal">            
            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.Year, columns: 2, required: true )
                <div class="col-md-3">
                    @Html.EditorFor( model => model.Year )
                </div>
            </div>
            <div class="form-group" id="divCategory">
                @Html.BootstrapLabelFor(model => model.SupervisionResearchId, columns: 2, required: true)
                <div class="col-md-6">
                    @Html.EditorFor(model => model.SupervisionResearchId)
                </div>
            </div>          

            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.StudentName, columns: 2, required: true)
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StudentName)
                </div>
            </div>
            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.Hours, columns: 2, required: true )
                <div class="col-md-2">
                    @Html.EditorFor( model => model.Hours )
                </div>
            </div>
        </div>

        <br />
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    }
</div>

<script type="text/javascript">

    disableAllDropDowns();

    $('#Year').change(function () {

        var currentDdl = 'Year';
        var ddlName = 'ProgrammeId';
        enableDropdowns(currentDdl, ddlName);
    });

    $('#ProgrammeId').change(function () {
        var currentDdl = 'ProgrammeId';
        var ddlName = 'ProgrammeOfferingId';
        enableDropdowns(currentDdl, ddlName);

        var year = $('#Year').val();
        var programmeId = $('#ProgrammeId').val();

        if (programmeId != '') {
           loadOfferingContainer(year, programmeId);
        }
    });

   

    function enableDropdowns(currentDdl, ddlName) {
        if ($('#' + currentDdl + '').val() != '') {
            $('#' + ddlName + '').removeAttr('disabled');
        }
        else {
            $('#' + ddlName + '').attr('disabled', 'true');
        }
        $('#' + ddlName + '').val('');
        $('#' + ddlName + '').change();

    }

    function disableAllDropDowns() {
        $('#ProgrammeId').attr('disabled', 'true');
        $('#ProgrammeOfferingId').attr('disabled', 'true');
      
    }

    function loadOfferingContainer(year, programmeId) {
        $.ajax({
            url: 'dropdown/OfferingList',
            type: 'POST',
            data: {
                'year': year, 'filterIndex': programmeId
            },
            dataType: 'text',
            success: function (data) {
                $('#ProgrammeOfferingId').html(data);
            }
        });
    }

  
 
</script>
<script src="~/Scripts/custom/formActions.js"></script>

