﻿@model IEnumerable<FacultyManagement.Application.SupervisionLoad.ViewModels.SupervisionLoadItemVm>

<div class="panel-body">
    @if ( Model.Any() )
    {
        <table id="client-table" class="table table-responsive table-condensed">
            <thead>
            <tr>
                <th>
                    Year
                </th>
                <th>
                   Title
                </th>
                <th>
                    Programme
                </th>      
                <th>
                    Credit
                </th>
                <th>
                    Secondary Supervisor
                </th>
                <th>
                    Secondary Supervisor Credit
                </th>
                <th>
                    Progress Status
                </th>
                <th></th>
            </tr>
            </thead>

            @foreach ( var item in Model )
            {
                <tr>
                    <td>
                        @Html.DisplayFor( modelItem => item.Year )
                    </td>
                    @*<td>
                        @Html.DisplayFor( modelItem => item.ThesisTopic )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.ProgrammeDescription )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.SupervisorCredit )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.SecondSupervisor )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.SecondarySupervisorCredit )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.ProgressStatus )
                    </td>*@

                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink( "Edit", "Edit", new { id = item.Id }, new { @class = "modal-link" } )</li>
                                <li>@Html.ActionLink( "Delete", "Delete", new { id = item.Id }, new { @class = "modal-link" } )</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <p>No Records found</p>
    }
</div>
<div class="panel-footer">
    <div class="row">
        <div class="col-xs-4">
            <a href=@Url.Action( "Create", "SupervisionLoads", new { SourceSystem = "PhD" } ) class="btn btn-xs btn-primary modal-link">
                <i class="fa fa-plus"></i> Add New
            </a>
        </div>
        <div class="col-xs-8">

        </div>
    </div>
</div>
