﻿@model FacultyManagement.Application.SupervisionLoad.ViewModels.SupervisionLoadsVm

@{
    ViewBag.Title = "Supervision Load";
}

<h3>Supervision Load </h3>
<div>
    <div class="panel-group" id="accordion">

        @*<div class="panel panel-default">
           <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><li class="fa fa-caret-down"></li> Writehand Supervision</a>
                </h4>
            </div><div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">

                    @if ( Model.WriteHandResearch.Topics != null && Model.WriteHandResearch.Topics.Any() )
                    {
                        using ( Ajax.BeginForm( "Index", "SupervisionLoads", null,
                            new AjaxOptions
                            {
                                UpdateTargetId = "writehand-research",
                                InsertionMode = InsertionMode.Replace
                            },
                            new { @class = "form-inline" } ) )
                        {

                            @Html.DropDownList( "Year", Model.Years, new { @class = "form-control" } )

                            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        }
                    }


                    <div id="writehand-research">
                        @Html.Partial( "_WriteHandSupervisions", Model.WriteHandResearch )
                    </div>
                    

                </div>
            </div>
        </div>*@
        
  
                    @Html.Partial( "_MBAs", Model.MbaLoads )
      
        @*<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><li class="fa fa-caret-down"></li>  PhD Supervision</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial( "_PhDs", Model.PhdLoads )
                </div>
            </div>
        </div>*@


    </div>
</div>



@section Styles{
    <link href="~/Content/ResearchStatus.css" rel="stylesheet" />

}


@section Scripts
{
    <script src="~/Scripts/js-cookie/js.cookie-2.1.3.min.js"></script>
    <script src="~/Scripts/custom/accordianCookieTracker.js"></script>


}

