﻿.logInBody {

    padding-top:80px;
    background-color:#808080 !important;
    padding-bottom:250px;
}


#page-wrap {
    
    background-color:#ffffff;
     width: 500px;
     margin: 0 auto;
     height:220px;
     border-radius:5px;
}
.imageBorder{
   border:7px solid #e2e2e2;
   border-radius:5px;
}

.loginHeading {
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 15px;
    background: #cccccc url("../img/dialogHeader.png") 50% 50% repeat-x !important;
    font-family: 'Segoe UI' , Tahoma, Geneva, Verdana, sans-serif;
    -moz-border-radius: 5px !important;
    -webkit-border-radius:5px !important;
    border-radius: 5px;
}
.logInButton{
    float:right;
    margin-top:20px;
    margin-right:100px;
    width:100px;
    color:#ffffff;
    background: #cccccc url("../img/dialogHeader.png") 50% 50% repeat-x !important;
}

.logInButton:hover{
    opacity:0.9;
    color:#fff !important;
}