﻿
.submitContainer {
    margin-top: 20px;
    font-weight: bold !important;
    color: #992f40 !important;
    margin-left: 20px;
    margin-bottom:80px;
}

.submitContainer input[type='button'], input[type='submit'] {
    border-style: none;
    float: right;
    margin-right: 30px;
    padding: 4px 20px;
    padding: 5px 25px;
    /*background: #992f40;*/ 
    background: #cccccc url("../img/dialogHeader.png") 50% 50% repeat-x !important;
    /*border: 1px solid #344258;*/
    /*-moz-border-radius: 10px;*/
    /*-webkit-border-radius: 10px;*/ /*border-radius: 10px;*/ /*give the button a drop shadow*/
    /*-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);*/
    -moz-box-/*shadow*/: 0 0 4px rgba(0,0,0, .75);
    /*box-shadow: 0 0 4px rgba(0,0,0, .75);*/ /*style the text*/
    color: white;
    font-size: 1.1em;
}

.submitContainer input[type='button']:hover, input[type='submit']:hover {    
    background: #AE394B;
    cursor: pointer;
}

.submitContainer input[type='button']:disabled, input[type='submit']:disabled {
    color: #808080;
    background: #dddddd;
    border: thin solid #B3B0AE;
    cursor: default;
}