﻿.cateringPackageDialog th {
    font-size: 1em !important;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif !important;
    padding: 3px 7px 0px 7px !important;
}

.cateringPackageDialog label {
    min-width: 150px !important;
}

.cateringPackageDialog select{
    width:100px !important;
}

a.iconButton {
    float:right;
    text-decoration:none;
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url("../img/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
    font-weight: normal;
    color: #555555;
    margin-right: 10px;
    padding: 4px 20px;
    padding: 5px 25px;
}

.ui-dialog-titlebar-close {
    visibility: hidden !important;
}

.ui-datepicker .ui-datepicker-header {
    background: #cccccc url("../img/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x !important;
}

.ui-widget-header {
    border: 1px solid #aaaaaa !important;
    background: #cccccc url("../img/dialogHeader.png") 50% 50% repeat-x !important;
    font-weight: bold !important;
    color:white;
}

.ui-datepicker {
    width:20em;
    padding: .2em .2em 0;
    display: none;
}