﻿body {
    font-size: 12px;
    margin: 0;
    line-height: 20px;
    font-family: 'arial';
    color: #6F6F6F;
    background-color: #edeee9;
}

.input-sm {
    width: 80px !important;
    margin-right: 25px !important;
}

.requiredIndicator {
    color: #FF2B2B;
}

#dialog {
    display: none;
}

.tick {
    background-image: url('../img/tick-darkgrey.png');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    float: right;
}

#venueRequirements label {
    width: 280px;
    margin-bottom: 5px;
}

#venueRequirements textarea {
    margin-top: 10px;
}

.textAreaContainer label {
    margin-top: 10px;
    vertical-align: top;
}

.search_field input[type='button']:hover {
    cursor: pointer;
}

.main {
    width: 100%;
    border-top: 15px solid #edeee9;
}

.main .wrap {
    width: 1088px;
    background: url(../img/main_cont_bg.jpg) repeat-y;
    position: relative;
    clear: both;
    padding-top: 1px;
}

.field {
    margin-bottom: 10px;
    position: relative;
    clear: both;
    display: inline-block;
}

.field label {
  display: inline-block;
  width: 120px;
  line-height: 175%;
  float: left;
}

div {
  display: block;
}

.form-section {
  float: left;
  width: 432px;
  border: 1px solid #fff;
  border-radius: 5px;
}

li {
    list-style-type: none;
}

footer {
    padding-bottom: 1px;
}


fieldset {
    padding-top: 15px !important;
    border: thin solid #C0C0C0 !important;
    border-radius: 5px !important;
    margin-top: 15px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

legend {    
    padding: 2px 25px 2px 25px !important;
    background-color: #F0F0F0 !important;
    color: #222222 !important;
    left: 20px !important;
    font-family: arial !important;
    font-weight: bold !important;
    margin-left: 25px !important;
    text-align: left !important;
    border-radius:5px !important;
}

.headerText {
    font-size: 30px;
    color: #C0C0C0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
    margin-right: 250px;
    margin-top: 60px;
}

.headerTextSmall {
    font-size: 18px;
    color: #C0C0C0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
    margin-top: 25px;
    margin-right: 400px;
    margin-bottom: 10px;
}

/*table tr:nth-child(odd) {
    background-color: #E2E2E2;
}*/

th {
    text-align: left;
}

.centerAlign {
    text-align: center;
}

th {
    border-left-style: solid;
    border-width: thin;
    border-color: #707070;
}

tr {
    margin-bottom: 5px;
}

td {
    height: 30px;
}

td input[type='number'] {
        width: 50px !important;
}

td input[type='text'] {
    border: 1px solid #EAEAEA;
    font-size: 13px;
    background-color: rgb(249,249,249);
    border-radius: 3px;
    width: 70px !important;
    margin-right: 25px !important;
    margin-bottom: 2px !important;
        text-align: center;
}

tr {
    border: 1px solid #CCCCCC;
}

.bookingForm {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    padding-bottom: 200px;
    padding-top: 200px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.bookingForm td, th {
    font-size: 1em;
    padding: 3px 7px 0px 7px;
}

.bookingForm th {
    font-size: 1.1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    background: #cccccc url("../img/dialogHeader.png") 50% 50% repeat-x !important;
    color: #ffffff;
}

    .bookingForm input[type='number'] {
        background-color: #fff;
}

        .bookingForm input[type='number']:disabled {
   background-color: rgb(249,249,249);
}

.bookingForm select {   
        background-color: #fff;
}

input[type='checkbox'] {
    padding: 5px;
}

select:disabled {
    background-color: rgb(249,249,249) !important;
}

label {
    display: inline-block;
    min-width: 167px;
}

input[type=text]:focus, input[type='number']:focus, textarea:focus, select:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    background-color: #FFFFFF;
}

.button {
    border-style: none;
    margin-right: 100px;
    padding: 5px 15px;
    background: #992f40; 
    -moz-box-: 0 0 4px rgba(0,0,0, .75);
    color: white;
    font-size: 1.1em;
}

.submit:disabled {
    background: #dddddd;
}

.validationMessage {
    color: red;
}

.customMessage {
    color: deeppink;
}

.date {
    width: 80px !important;
    margin-right: 30px !important;
}

.smallLabel {
    min-width: 80px !important;
    display: inline !important;
}

input[type='text'], input[type='number'], select, textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #b6b6b6;
    padding: 5px 4px 7px 5px;
    margin: 2px 0px 10px 0px;
    font-size: 13px;
    zoom: 1;
    background-color: rgb(249,249,249);
    border-radius: 3px;
    width: 232px;
}

input[type=number] {
-moz-appearance: textfield;
}

.select-md {
    border: 1px solid #b6b6b6;
    padding: 5px 2px 7px 5px;
    margin: 2px 0px 10px 0px;
    font-size: 13px;
    zoom: 1;
    border-radius: 3px;
    width: 243px;
}

.select-sm {
    padding-right: 5px;
    border: 1px solid #b6b6b6;
    background-color: rgb(249,249,249);
    font-size: 13px;
    border-radius: 3px;
    width: 70px !important;
    margin-right: 25px !important;
    margin-bottom: 2px !important;
    text-align: center;
}



input[readonly] {
    background-color: #E2E2E2;
}

/* styles for validation helpers */
.field-validation-error {
    color: #F3697E;
    font-weight: bold;
    margin-left: 5px;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error:focus,
select.input-validation-error:focus {
    border: 1px solid #ff6666 !important;
    background-color: #ffeeee !important;
    color: rgb(143, 0, 0) !important;
    outline: rgb(255, 37, 37) solid 2px !important;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #F3697E;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.form-section {
    float: left;
    width: 432px;
    padding: 20px;
    border: 1px solid #fff;
    margin: 0px;
}

.fieldRow.inline input {
    *vertical-align: middle;
}

div.mainHeading {
    background-position: 5px 3px;
    width: 935px;
    height: 100px; /*background-color: #f1f2f2;*/
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    background-image: url('../img/campus-logo.png');
    margin-top: 15px;
    margin-left: 5px;
    background-repeat: no-repeat;
    padding-bottom: 40px;
}

.infoBox {
    border: 3px solid #C0C0C0;
    /*-moz-box-shadow: 5px 5px 10px #888;
    -webkit-box-shadow: 5px 5px 10px #888;
    box-shadow: 5px 5px 10px #888;*/
    padding: 10px 5px 10px 15px;
    float: right;
    width: 300px;
    border-radius: 5px;
    background-color: #F2F2F2;
    margin-right: 25px;
    margin-top: -100px;
}

.cateringPackage {
    background-color: #F8F8F8;
    border: 3px solid #CCCCCC;
    padding: 10px 5px 10px 5px;
    float: left;
    width: 280px;
    height: 135px;
    border-radius: 5px;
    margin-top: -5px;
    margin-right: 7px;
    margin-bottom: 20px;
    color: #808080;
    font-family: Arial, Helvetica, sans-serif;
}

    .cateringPackage ul {
        margin-top: -1px;
    margin-left: -20px;
}

    .cateringPackage div {
        padding-bottom: 15px;
}

    .cateringPackage input[type="checkbox"] {
        float: right;
}

.cateringHeading {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.infoBox input[type="text"] {
    width: 400px;
}
 
.infoBox span {
    padding-right: 25px;
}

.info {
    color: #808080;
}

.margin-top-small {
    margin-top: -5px;
}

.marginLeft40 {
    margin-left: 40px;
}

.marginLeftRight10 {
    margin: 5px;
}

p {
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.wrap {
    width: 1080px;
    margin: 0 auto;
}

.left {
    width: 621px;
    min-height: 500px;
    margin-left: 70px;
    /*margin-top: 40px;*/
    float: left;
    margin-bottom: 20px;    
}

.right {
    width: 307px;
    min-height: 500px;
    margin-top: 45px;
    margin-right: 75px;
    float: right;
}

li:before {
    content: counter(item,".")".";
    counter-increment: item;
    padding-right: 10px;
    margin-left: 10px;
    text-indent: 10px;
}

.corner_LT {
    width: 67px;
    height: 184px;
    background: url(../img/top_left.jpg);
    position: absolute;
    top: 0px;
    left: 0px;
}

.corner_LB {
width: 67px;
height: 181px;
background: url(../img/bottom_left.jpg);
position: absolute;
bottom: 0px;
left: 1px;
}

.corner_RT {
width: 72px;
height: 162px;
background: url(../img/top_right.jpg);
position: absolute;
top: 0px;
right: 0px;
}

.corner_RB {
width: 71px;
height: 205px;
background: #edeee9 url(../img/bottom_right.jpg) no-repeat;
position: absolute;
bottom: 0px;
right: 0px;
}


.calendar-off table.ui-datepicker-calendar {
    display: none !important;
}

.calendar-off .ui-datepicker-calendar {
    display: none !important;
}

.requiredField_error {
    border: 1px solid red;
    color: #F3697E;
}

.validationElement {
    border: 1px solid red;
    color: #F3697E;
}

.error {
    box-shadow: 0 0 5px rgba(255, 56, 89, 1) !important;
    border: 1px solid rgba(255, 56, 89, 1) !important;
    background: #FFDDE3 !important;
    /*border: 1px solid red !important;*/
}

.hideLegend {
    display: none;
}


.inputBtnSection {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}

.disableInputField {
    display: inline-block;
    vertical-align: top;
    height: 23px;
    margin: 0;
    font-size: 14px;
    padding: 0 3px;
    width: 350px;
    margin-right: 10px;
}

.fileUpload {
	position: relative;
	overflow: hidden;
    display: inline-block;
    vertical-align: top;
    min-width: 10px !important;
    margin-right: 10px;
}

.uploadLabel {
    min-width: 240px;
}

.uploadBtn {
    display: inline-block;
    vertical-align: top;
    background: #992f40;
    font-size: 12px;
    padding: 0 13px 0 15px;
    height: 25px;
    line-height: 22px;
    color: #fff;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	/*font-size: 20px;*/
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);    
}

.checkAvailabilityButton input[type='button'] {
    border-style: none;
    float: right;
    margin-right: 300px;
    margin-top: -37px;
    padding: 4px 20px;
    padding: 5px 25px;
    background: #cccccc url("../img/dialogHeader.png") 50% 50% repeat-x !important;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


/*Bootstrap override*/
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}


.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

fieldset[disabled] .btn-primary.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
    .btn-primary[disabled] {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
    }





.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}


.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
