﻿@model FacultyManagement.Application.TeachingLoads.ViewModels.TeachingLoadItemCreateVm

<div data-role="page">
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</div>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">New Teaching Load</h4>
</div>

<div class="modal-body">
    <p id="MessageToClient" class="text-danger"></p>

    @using (Html.BeginForm("Create", "TeachingLoad", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        @Html.HiddenFor(Model => Model.CVid)

        @Html.HiddenFor(model => model.ProgrammeOfferingDescription)
        @Html.HiddenFor(model => model.ProgrammeDescription)
        @Html.HiddenFor(model => model.YearDescription)
        @Html.HiddenFor(model => model.ModuleDescription)
        @Html.HiddenFor(model => model.CategoryDescription)

        <div class="form-horizontal">
            <div class="form-group">
                @Html.BootstrapLabelFor(Model => Model.Year, columns: 2, required: true)
                <div class="col-md-3">
                    @Html.EditorFor(Model => Model.Year)
                </div>
            </div>
            <div class="form-group" id="divCategory">
                @Html.BootstrapLabelFor(model => model.CategoryId, columns: 2, required: true)
                <div class="col-md-6">
                    @Html.EditorFor(model => model.CategoryId)
                </div>
            </div>

            <div class="form-group" id="divProgramme"  style="display:none;">
                @Html.BootstrapLabelFor(model => model.ProgrammeId, columns: 2, required: true)
                <div class="col-md-6">
                    @Html.EditorFor(model => model.ProgrammeId)
                </div>
            </div>


            <div class="form-group" id="divOfferingProgramme"  style="display:none;">
                @Html.BootstrapLabelFor(model => model.ProgrammeOfferingId, columns: 2, required: true)
                <div class="col-md-6">
                    <span id="OfferingContainer"> @Html.EditorFor(model => model.ProgrammeOfferingId)</span>
                </div>
            </div>

            <div class="form-group" id="divModule"  style="display:none;">
                @Html.BootstrapLabelFor(Model => Model.ModuleId, columns: 2, required: true)
                <div class="col-md-10">
                    <span id="ModuleContainer">@Html.EditorFor(Model => Model.ModuleId)</span>
                </div>
            </div>
            <div class="form-group">
                @Html.BootstrapLabelFor(Model => Model.Sessions, columns: 2, required: true)
                <div class="col-xs-4">
                    @Html.EditorFor(Model => Model.Sessions)
                </div>
                <div class="col-md-2">
                    <span id="sessionsTooltip" class="glyphicon glyphicon-info-sign" title="Sessions" data-content="0.5 = 1/2 session"></span>

                </div>
            </div>
            <div class="form-group">
                @Html.BootstrapLabelFor(Model => Model.TotalCredits, columns: 2, required: true)
                <div class="col-xs-4">
                    @Html.EditorFor(Model => Model.TotalCredits)
                </div>
                <div class="col-md-2">
                    <span id="totalCreditsTooltip" class="glyphicon glyphicon-info-sign" title="TotalCredits" data-content="0.5 = 30 minutes"></span>

                </div>
            </div>

        </div>

        <br />
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    }
</div>

<script type="text/javascript">


    $('#CategoryId').change(function () {
        var categoryId = $('#CategoryId').val();
       
        if (categoryId == 2 || categoryId == 3 || categoryId == 4) {
            $('#divProgramme').show();
            $('#divOfferingProgramme').show();
            $('#divModule').show();
        }
        else {

            $('#divProgramme').hide();
            $('#divOfferingProgramme').hide();
            $('#divModule').hide();


        }

    });
    $("#sessionsTooltip,#totalCreditsTooltip").popover({
        container: "body",
        trigger: "hover"
    });
    disableAllDropDowns();

    $('#Year').change(function () {

        var currentDdl = 'Year';
        var ddlName = 'ProgrammeId';
        enableDropdowns(currentDdl, ddlName);
    });

    $('#ProgrammeId').change(function () {
        var currentDdl = 'ProgrammeId';
        var ddlName = 'ProgrammeOfferingId';
        enableDropdowns(currentDdl, ddlName);

        var year = $('#Year').val();
        var programmeId = $('#ProgrammeId').val();

        if (programmeId != '') {
            loadOfferingContainer(year, programmeId);
        }
    });

    $('#ProgrammeOfferingId').change(function () {

        var currentDdl = 'ProgrammeOfferingId';
        var ddlName = 'ModuleId';
        enableDropdowns(currentDdl, ddlName);

        var offeringId = $('#ProgrammeOfferingId').val();

        if (offeringId != '') {
            loadModuleContainer(offeringId);
        }
    });

    function enableDropdowns(currentDdl, ddlName) {
        if ($('#' + currentDdl + '').val() != '') {
            $('#' + ddlName + '').removeAttr('disabled');
        }
        else {
            $('#' + ddlName + '').attr('disabled', 'true');
        }
        $('#' + ddlName + '').val('');
        $('#' + ddlName + '').change();

    }

    function disableAllDropDowns() {
        $('#ProgrammeId').attr('disabled', 'true');
        $('#ProgrammeOfferingId').attr('disabled', 'true');
        $('#ModuleId').attr('disabled', 'true');
    }

    function loadOfferingContainer(year, programmeId) {
        $.ajax({
            url: 'dropdown/OfferingList',
            type: 'POST',
            data: {
                'year': year, 'filterIndex': programmeId
            },
            dataType: 'text',
            success: function (data) {
                $('#ProgrammeOfferingId').html(data);
            }
        });
    }

    function loadModuleContainer(offeringId) {

        $.ajax({
            url: 'dropdown/ModuleList',
            type: 'POST',
            data: {
                'filterIndex': offeringId
            },
            dataType: 'text',
            success: function (data) {
                $('#ModuleId').html(data);
            }
        });
    }
</script>
<script src="~/Scripts/custom/formActions.js"></script>
