﻿@model IEnumerable<FacultyManagement.Application.TeachingLoads.ViewModels.TeachingLoadItemVm>


@if ( Model.Any() )
            {
    <table id="client-table" class="table table-responsive table-condensed">
        <thead>
            <tr>
                <th>
                    Year
                </th>
                <th>
                    Category
                </th>
                <th>
                    Programme 
                </th>
                <th>
                    Offering
                </th>
                <th>
                    Module
                </th>
                <th>
                    Sessions
                </th>
                <th>
                    Hours
                </th>
              
                
            </tr>
          
        </thead>

        @foreach ( var item in Model )
                {
            <tr>
                <td>
                    @Html.DisplayFor( modelItem => item.Year )
                </td>
               <td>
                   @Html.DisplayFor(modelItem => item.Category)
               </td>
                <td>
                    @Html.DisplayFor( modelItem => item.Programme )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgrammeOffering)
                </td>

                <td>
                    @Html.DisplayFor( modelItem => item.Module )
                </td>
                <td>
                    @Html.DisplayFor( modelItem => item.Sessions )
                    
                </td>
                <td>
                    @Html.DisplayFor( modelItem => item.TotalCredits )
                    
                </td>
             
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink( "Edit", "Edit", new { id = item.Id }, new { @class = "modal-link" } )</li>
                            <li>@Html.ActionLink( "Delete", "Delete", new { id = item.Id }, new { @class = "modal-link" } )</li>
                        </ul>
                    </div>
                </td>
            </tr>
           
        }

    </table>
}
else
{
    <p>No Records found</p>
}

<div class="panel-footer">
    <div class="row">
        <div class="col-xs-4">
            <a href=@Url.Action( "Create", "TeachingLoad", new {} ) class="btn btn-xs btn-primary modal-link">
                <i class="fa fa-plus"></i> Add New
            </a>
        </div>
        <div class="col-xs-8">

        </div>
    </div>
</div>

