﻿@model FacultyManagement.Application.TeachingLoads.ViewModels.TeachingLoadVm

@{
    ViewBag.Title = "Teaching Loads";
}

<h3>Teaching Load</h3>
<div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"> Sessions Taught </h4>
            </div>

            <div class="panel-body">
                
                @if ( Model.TeachingLoads != null && Model.TeachingLoads.Any() )
                {
                    using ( Ajax.BeginForm( "Index", "TeachingLoad", null,
                        new AjaxOptions
                        {
                            UpdateTargetId = "teaching-loads",
                            InsertionMode = InsertionMode.Replace
                        },
                        new { @class = "form-inline" } ) )
                    {

                        @Html.DropDownList( "Year", Model.Years, new { @class = "form-control" } )

                        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    }
                }

                <div id="teaching-loads">
                    @Html.Partial( "_TeachingLoadItems", Model.TeachingLoads )    
                </div>

            </div>

        </div>

    </div>
</div>


@section Styles{
}

@section Scripts
{


}

