﻿@using FacultyManagement.Domain.Model.Enums
@using FacultyManagement.Infrastructure.Utilities.ExtensionMethods
@model FacultyManagement.Application.PersonalInformation.ViewModels.PersonalInformationVm

@{
    ViewBag.Title = "Personal Information";
}

@Html.ValidationSummary( false, "", new { @class = "text-danger" } )

@{
    if ( Model != null )
    {
        <div class="panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3>Personal Information</h3>
                    </div>
                    <div class="col-xs-6 text-right">
                        <a href=@Url.Action( "Edit", "PersonalInformation" ) class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">

                    <!-- Left Image Side Panel-->
                    <div class="col-md-3">
                        <div class="well">
                            <img src="@Model.ImageSource" class="img-responsive" />
                        </div>
                        <div class="well">
                            <fieldset>
                                <legend>Profile</legend>
                                <div class="col-md-12 col-xs-6">
                                    <strong> @Html.DisplayNameFor( model => model.Title ):</strong>
                                    <div class="col-sm-3 pull-right">@Html.DisplayFor( model => model.Title )</div>
                                </div>
                                <div class="col-md-12 col-xs-6">
                                  <strong> @Html.DisplayNameFor( model => model.Initials ):</strong>
                                    <div class="col-sm-3 pull-right"> @Html.DisplayFor( model => model.Initials )   </div>
                                </div>
                                <div class="col-md-12 col-xs-6">
                                     <strong> @Html.DisplayNameFor( model => model.Name ):</strong>
                                    <div class="col-sm-3 pull-right">@Html.DisplayFor( model => model.Name )   </div>
                                </div>
                                @*<div class="col-md-12 col-xs-6">
                                     <strong> @Html.DisplayNameFor( model => model.GivenName ):</strong>
                                    <div class="col-sm-3 pull-right">@Html.DisplayFor( model => model.GivenName )   </div>
                                </div>*@
                                <div class="col-md-12 col-xs-6">
                                    <strong> @Html.DisplayNameFor( model => model.Surname ):</strong>
                                    <div class="col-sm-3 pull-right">@Html.DisplayFor( model => model.Surname )   </div>
                                </div>
                                <div class="col-md-12 col-xs-6">
                               <strong> @Html.DisplayNameFor( model => model.Gender ):</strong>
                                    <div class="col-sm-3 pull-right"> @Html.DisplayFor( model => model.Gender )   </div>
                                </div>
                                <div class="col-md-12 col-xs-6">
                                   <strong> @Html.DisplayNameFor( model => model.Nationality ):</strong>
                                    <div class="col-sm-3 pull-right">@Html.DisplayFor( model => model.Nationality )   </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="well">
                            <fieldset>
                                <legend><i class="fa fa-phone"></i> Contact</legend>
                                <div class="col-md-12 col-xs-6">
                                    @Html.DisplayFor( model => model.BusinessContactNo )
                                </div>
                                <div class="col-md-12 col-xs-6">
                                    @Html.DisplayFor( model => model.EmailAddress )
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <!-- Left Image Side Panel-->
                    <!-- Right Details Panel -->
                    <div class="col-md-9">

                        <div class="well">
                            <fieldset>
                                <legend>Executive profile</legend>
                                <pre style="white-space:pre-line;">
                                       
                                        @Html.Raw(WebUtility.HtmlDecode(Model.Biography))
                               </pre>                              
                            </fieldset>
                        </div>

                        <div class="well">
                            <fieldset>
                                <legend>Profession</legend>
                                <div class="col-md-6 col-xs-6">
                                    <div class="col-md-6"><strong> @Html.DisplayNameFor( model => model.Position ):</strong> </div>
                                    <div class="col-md-6">@Html.DisplayFor( model => model.Position )</div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <div class="col-md-6"><strong> @Html.DisplayNameFor( model => model.BusinessUnit ):</strong> </div>
                                    <div class="col-md-6">@Html.DisplayFor( model => model.BusinessUnit )</div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <div class="col-md-6"><strong> @Html.DisplayNameFor( model => model.AffiliationId ):</strong> </div>
                                    <div class="col-md-6">@Html.DisplayFor( model => model.AffiliationId )</div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <div class="col-md-6"><strong> @Html.DisplayNameFor( model => model.Expertise ):</strong> </div>
                                    <div class="col-md-6">@Html.DisplayFor( model => model.Expertise )</div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <div class="col-md-6"><strong> @Html.DisplayNameFor( model => model.MainActivity ):</strong> </div>
                                    <div class="col-md-6">@Html.DisplayFor( model => model.MainActivity )</div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <div class="col-md-6"><strong> @Html.DisplayNameFor( model => model.OrganisationalResponsibility ):</strong> </div>
                                    <div class="col-md-6">@Html.DisplayFor( model => model.OrganisationalResponsibility )</div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <div class="col-md-6"><strong> @Html.DisplayNameFor( model => model.OrganisationCategory ):</strong> </div>
                                    <div class="col-md-6">@Html.DisplayFor( model => model.OrganisationCategory )</div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="well">
                            <fieldset>
                                <legend>Education</legend>
                                <div class="col-md-6 col-xs-6">
                                    <div class="col-md-6"><strong> @Html.DisplayNameFor( model => model.AcademicRank ):</strong> </div>
                                    <div class="col-md-6">@Html.DisplayFor( model => model.AcademicRank )</div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <div class="col-md-6"><strong> @Html.DisplayNameFor( model => model.HighestQualification ):</strong> </div>
                                    <div class="col-md-6">@Html.DisplayFor( model => model.HighestQualification )</div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <div class="col-md-6"><strong> @Html.DisplayNameFor( model => model.HomeInstitution ):</strong> </div>
                                    <div class="col-md-6">@Html.DisplayFor( model => model.HomeInstitution )</div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="well">
                            <fieldset>
                                <legend>Research</legend>
                                <div class="col-md-6 col-xs-6">
                                    <div class="col-md-6"><strong> @Html.DisplayNameFor( model => model.ResearchInterest ):</strong> </div>
                                    <div class="col-md-6">@Html.DisplayFor( model => model.ResearchInterest )</div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <div class="col-md-6"><strong> @Html.DisplayNameFor( model => model.GoogleScholarIndex ):</strong> </div>
                                    <div class="col-md-6">@Html.DisplayFor( model => model.GoogleScholarIndex )</div>
                                </div>
                            </fieldset>
                        </div>

                        @if ( Model.OrganisationCategory.Equals( DepartmentType.AcademicFaculty.ConvertToString() ) )
                        {
                            <div class="well">
                                <fieldset>
                                    <legend>Contribution to USB</legend>
                                    <div class="col-md-6 col-xs-6">
                                        <div class="col-md-6"><strong> @Html.DisplayNameFor( model => model.Classification ):</strong> </div>
                                        <div class="col-md-6">@Html.DisplayFor( model => model.Classification )</div>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <div class="col-md-6"><strong> @Html.DisplayNameFor( model => model.Sufficiency ):</strong> </div>
                                        <div class="col-md-6">@Html.DisplayFor( model => model.Sufficiency )</div>

                                    </div>
                        
                                </fieldset>
                            </div>
                        }
                        <div class="well">
                            <fieldset>
                                <legend>CV Display</legend>
                                <div class="col-md-6 col-xs-6">
                                    <div class="col-md-6"><strong>Display CV on Website:</strong> </div>
                                    <div class="col-md-6">@Html.DisplayFor(model => model.WebDisplay)</div>

                                </div>
                            </fieldset>
                        </div>


                    </div>
                    <!-- Right Details Panel -->
                </div>
            </div>
        </div>


    }
}
