﻿@{
    ViewBag.Title = "Performance Management System  Dashboard";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div>

    <table align="center">
        <tr>
            <td align="center">
                @Html.ActionLink("USB Value Evaluation", "PerformanceManagementMenu", new { controller = "Home", area = "" }, new { @class = "dashboardButtons" })
            </td>
            <td>&nbsp;</td>
            <td align="center">
              

                @Ajax.ActionLink("My Commitment", "Index", "MyCommitment", new { area = "" }, new AjaxOptions
           {
               LoadingElementId = "div_loading",
               UpdateTargetId = "user-evaluations",
               InsertionMode = InsertionMode.Replace
           }, new { @class = "dashboardButtons" })

            </td>
        </tr>
        <tr><td colspan="3"><br /><br /></td></tr>
        <tr>
            <td align="center">
                @Html.ActionLink("Teaching Load", "Index", new { controller = "TeachingLoad", area = "" }, new { @class = "dashboardButtons" })
            </td>
            <td>&nbsp;</td>
            <td align="center">
                @Html.ActionLink("Supervision Load", "Index", new { controller = "SupervisionLoads", area = "" }, new { @class = "dashboardButtons" })
            </td>
        </tr>
        <tr><td colspan="3"><br /><br /></td></tr>
        <tr>
            <td align="center">
               

                @Html.ActionLink("Management  & Administration", "Index", new { controller = "ManagementLoads", area = "" }, new { @class = "dashboardButtons" })
            </td>
            <td>&nbsp;</td>
            <td align="center">
                @Html.ActionLink("Research Activities", "Index", new { controller = "Research", area = "" }, new { @class = "dashboardButtons" })

            </td>
        </tr>
        <tr><td colspan="3"><br /><br /></td></tr>
        <tr style="align-content:center">
            
            <td align="center">
                @Html.ActionLink("Set Faculty Classification", "AddClassification", new { area = "Admin", controller = "Management" }, new { @class = "dashboardButtons" })

            </td>
            <td>&nbsp;</td>
            <td align="center">

                <a href="http://bpcsqlbi02/Reports/report/USB/Self%20Reports/Performance%20Management%20Report" class="dashboardButtons" target="_blank">Self Report</a>
            </td>


        </tr>
    </table>


</div>