﻿@{
    ViewBag.Title = "USB Value Evaluation";
}


<h3>Value Evaluations </h3>
<br />

<div class="btn-group" role="group" aria-label="...">
    @Ajax.ActionLink("Self Evaluation", "Index", "SelfEvaluation", new { area = "" }, new AjaxOptions
{
    LoadingElementId = "div_loading",
    UpdateTargetId = "user-evaluations",
    InsertionMode = InsertionMode.Replace
}, new { @class = "btn btn-default" })

 
    @Ajax.ActionLink("Peer Evaluation", "Index", "PeerReviewed", new { area = "" }, new AjaxOptions
{
    LoadingElementId = "div_loading",
    UpdateTargetId = "user-evaluations",
    InsertionMode = InsertionMode.Replace
}, new { @class = "btn btn-default" })


    @Ajax.ActionLink("For Program Heads only", "Index", "SupervisorReviewed", new { area = "" }, new AjaxOptions
{
    LoadingElementId = "div_loading",
    UpdateTargetId = "user-evaluations",
    InsertionMode = InsertionMode.Replace
}, new { @class = "btn btn-default" })



</div>

<div id="div_loading" style="display: none"><img src="~/Images/loader.gif" /></div>

<div id="user-evaluations" class="margin-top-20"> </div>



<script type="text/javascript">
    reloadSelfEvaluations();

    function reloadSelfEvaluations() {


        $.ajax({
            url: '../SelfEvaluation/Index',
            type: 'POST',
            dataType: 'text',
            success: function (data) {
                $('#user-evaluations').html(data);
            }
        });
    }
</script>




@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
