﻿@model PerformanceManagement.Application.PerformanceManagement.SupervisorEvaluation.ViewModels.SupervisorEvaluationCreateItemVm

<div data-role="page">
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</div>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">New Evaluation</h4>
</div>

<div class="modal-body">

    <p id="MessageToClient" class="text-danger"></p>

    @using (Ajax.BeginForm("Create", "SupervisorEvaluation",
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "user-evaluations",
            OnSuccess = "closeModal",
            OnFailure = "showMessage"
        }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.CVid)
        @Html.HiddenFor(model => model.Category)
        @Html.HiddenFor(model => model.SupervisorCVid)
        @Html.HiddenFor(model => model.SupervisorUserName)

        <div class="form-horizontal">
            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.Year, columns: 2, required: true)
                <div class="col-md-3">
                    @Html.EditorFor(model => model.SelectedYears)
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabel("Evaluation", columns: 2, required: true)
                <div class="col-md-6">
                    @Html.EditorFor(model => model.ValueCommitment)
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.Description, columns: 2, required: true)
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description)
                </div>
            </div>

        </div>

        <br />
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    }
</div>


<script>
    function closeModal() {
        $("#modal-container").modal("hide");
        var id = $("#SupervisorCVid").val();
        var username = $("#SupervisorUserName").val();
        reloadEvaluations();
       
    }

    function reloadEvaluations() {


        $.ajax({
            url: '../SupervisorReviewed/Index',
            type: 'POST',
            dataType: 'text',
            success: function (data) {
                $('#user-evaluations').html(data);
                 var id = $("#SupervisorCVid").val();
                 var username = $("#SupervisorUserName").val();

                $.ajax({
                    url: '../SupervisorEvaluation/Index',
                    type: 'POST',
                    data: {
                        'id': id, 'username': username
                    },
                    dataType: 'text',
                    success: function (data) {

                        $('#divLoadSupervisorEvaluation').html(data);
                       

                    }
                });
            }
        });

      
    
    }

    function showMessage() {
        $("#MessageToClient").html("<div class='alert alert-danger'> <i class='fa fa-exclamation-triangle fa-2x'> </i> " +
            " An error has occurred while processing your request. <p> Your organization's administrators have been notified of this problem.</p></div>");
    }
</script>


