﻿@model int?

@{
    var element = Model;
}
<div class="modal-body">
    <div class="error-wrap">
        <h1>Confirm Delete</h1>
        <h3>Are you sure you want to delete this?</h3>

        <p class="error-icon danger">
            <i class="fa fa-times-circle"></i>
        </p>
    </div>

    <div>

        @using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "user-evaluations",
        OnSuccess = "closeModal",
        OnFailure = "showMessage"
    }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("id", Model)

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Delete</button>
            </div>
        }
    </div>
</div>

<script>

    //function closeModal() {
    //    $("#modal-container").modal("hide");
    //}
    function closeModal() {
        $("#modal-container").modal("hide");
        var id = $("#SupervisorCVid").val();
        var username = $("#SupervisorUserName").val();
        $("@String.Format("#{0}",Model)").remove();
    }

    function showMessage() {
        $("#MessageToClient").html("<div class='alert alert-danger'> <i class='fa fa-exclamation-triangle fa-2x'> </i> " +
            " An error has occurred while processing your request. <p> Your organization's administrators have been notified of this problem.</p></div>");
    }

</script>