﻿@model PerformanceManagement.Application.PerformanceManagement.Common.EvaluationGroupVm

@{
    var supervisorId = Model.Evaluations.Any() ? Model.Evaluations.First().CVid : default(int);
    var tableId = String.Format("{0}_{1}", supervisorId, Model.Category);
}

<div class="panel-body">
    @if (Model.Evaluations.Any())
    {
        <table id="@tableId" class="table table-responsive table-condensed">
            <thead>
                <tr>
                    <th>
                        Year
                    </th>
                    <th>
                        Evaluation Area
                    </th>
                    <th>
                        Notes
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model.Evaluations)
            {
                <tr id="@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValueCommitment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "modal-link" })</li>
                                <li>@Html.ActionLink("Delete", "Delete", new { id = item.Id, elementId = string.Format("{0}_{1}", tableId, item.Year) }, new { @class = "modal-link" })</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <p>No Records found</p>
    }
</div>
<div class="panel-footer">
    <div class="row">
        <div class="col-xs-4">
            <a href=@Url.Action( "Create", "SupervisorEvaluation", new { Model.Category } ) class="btn btn-xs btn-primary modal-link">
                <i class="fa fa-plus"></i> Add New
            </a>
        </div>
        <div class="col-xs-8">

        </div>
    </div>
</div>
