﻿<div id="index">
    <div class="page-header">
       
        <h4 class="panel-title" id="myModalLabel" style="color:red;"><b>Please Select User to Evaluate</b></h4>
    </div>

    <div class="modal-body">
        <div>
            @using ( Ajax.BeginForm( "SelectUser", "SupervisorEvaluation", new { area = "" },
            new AjaxOptions
            {
                LoadingElementId = "div_loading",
                UpdateTargetId = "index",
                InsertionMode = InsertionMode.Replace,
            }, null ) )
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary( true )

                <div class="form-horizontal">
                    <div class="form-group">
                        <!--Hidden value sent back to controller-->
                        <input type="hidden" name="selectedUsernameAndCvid" id="selected_user" />
                        <span class="panel-title">
                            @Html.BootstrapLabel("User", columns: 2, required: true)
                        </span>

                        <div class="col-md-6">
                            <input type="search" id="faculty-user-search" name="user-search" class="ui-autocomplete form-control" data-url="@Url.Action( "Autocomplete", "Users", new {area = "Admin"} )" placeholder="Name or Surname" />
                            <div id="searchresults"></div>
                        </div>
                    </div>

                    <br />

                    <button type="submit" class="btn btn-primary" id="btnLoadUser">Load</button>
                </div>
            }
        </div>
    </div>

</div>
<script type="text/javascript">
    



   
</script>


<script type="text/javascript">
    // The autocomplete element
    $("#faculty-user-search").autocomplete({
        minLength: 3,
        source: function (request, response) {
            var url = $(this.element).data("url");
            $.getJSON(url, { term: request.term }, function (data) {
                response(data);
            });
        },
        // The the element we want to update
        appendTo: $("#searchresults"),
        // This will override the label
        // and set custom input to be sent to controller with another id
        select: function (e, ui) {
            e.preventDefault() // <--- Prevent the value from being inserted.
            $("#selected_user").val(ui.item.value); // <--- custom input - we set another value

            $(this).val(ui.item.label); // <---  the search input box display text
        }
    });

</script>




