﻿@model IEnumerable<PerformanceManagement.Application.ManagementLoads.ViewModels.Common.ManagementLoadGeneralVm>


<div class="panel-body">
    @if ( Model.Any() )
            {
        <table id="client-table" class="table table-responsive table-condensed">
            <thead>
                <tr>
                    <th class="col-lg-2">
                        Year
                    </th>
                    <th>
                        Description
                    </th>
                  
                    <th></th>
                </tr>
            </thead>

            @foreach ( var item in Model )
                {
                <tr>
                    
                    <td>
                        @Html.DisplayFor( modelItem => item.Year )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.Description )
                    </td>

                </tr>
            }

        </table>
    }
    else
    {
        <p>No Records found</p>
    }
</div>
