﻿@model PerformanceManagement.Application.ManagementLoads.ViewModels.ProgrammeHead.ProgrammeHeadCreateVm

<div data-role="page">
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</div>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">New Programme Head</h4>
</div>

<div class="modal-body">
    <p id="MessageToClient" class="text-danger"></p>

    @using ( Html.BeginForm( "CreateProgrammeHead", "ManagementLoads", FormMethod.Post ) )
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary( false, "", new { @class = "text-danger" } )

        @Html.HiddenFor( model => model.CVid ) 
        @Html.HiddenFor( model => model.ManagementLoadCategoryId )

        <div class="form-horizontal">
            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.StartDate, columns: 2, required: true )
                <div class="col-md-4">
                    @Html.EditorFor( model => model.StartDate )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.EndDate, columns: 2, required: true )
                <div class="col-md-4">
                    @Html.EditorFor( model => model.EndDate )
                </div>
            </div>

             <div class="form-group">
                @Html.BootstrapLabelFor( model => model.Programme, columns: 2, required: true )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.DegreeId)
                </div>
            </div>

          
        </div>

        <br />
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    }
</div>


<script src="~/Scripts/custom/formActions.js"></script>
