﻿@model IEnumerable<PerformanceManagement.Application.ManagementLoads.ViewModels.TaskTeamMember.TaskTeamMemberVm>


<div class="panel-body">
    @if ( Model.Any() )
            {
        <table id="client-table" class="table table-responsive table-condensed">
            <thead>
                <tr>
                    <th class="col-lg-2">
                        Year
                    </th>
                    <th class="col-lg-3">
                        Task Team Member
                    </th>
                    <th>
                        Description
                    </th>
                   
                    <th></th>
                </tr>
            </thead>

            @foreach ( var item in Model )
                {
                <tr>
                    @*<td>
            @Html.DisplayFor( modelItem => item.StartDate )
        </td>
        <td>
            @Html.DisplayFor( modelItem => item.EndDate )
        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.TaskTeamActivity )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.Description )
                    </td>

                </tr>
            }

        </table>
    }
    else
    {
        <p>No Records found</p>
    }
</div>
