﻿@model FacultyManagement.Application.PersonalInformation.ViewModels.PersonalInformationEditVm

@{
    ViewBag.Title = "Edit Personal Information";
}


@using ( Html.BeginForm( "Save", "PersonalInformation", FormMethod.Post, new { enctype = "multipart/form-data" } ))
{
    @Html.AntiForgeryToken()

    <!--Hidden Fields-->
    @Html.HiddenFor( model => model.EmployeeId )
    @Html.HiddenFor( model => model.CVid )
    @Html.HiddenFor( model => model.IsFaculty )
    @Html.HiddenFor( model => model.SamAccountName )
    @Html.HiddenFor( model => model.ImageSource )
    @*@Html.HiddenFor(model => model.Biography)*@
    
    <!--Hidden Fields-->

    <div class="panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <h3>Edit Personal Information</h3>
                </div>

            </div>
        </div>

        @Html.ValidationSummary( false, "", new { @class = "text-danger" } )
        <p id="MessageToClient" class="text-danger"></p>

        <div class="panel-body">
            <div class="row">

                <!-- Left Image Side Panel-->
                <div class="col-md-3">
                    <div class="well">
                        <fieldset>
                            <div class="col-md-12 col-xs-4">
                                <img id="image-preview" src="@Model.ImageSource" alt=""  />
                            </div>
                            <div class="col-xs-8">
                          
                                <input type='file' id="ImageUpload" name="ImageUpload"/>
                            </div>
                        </fieldset>
                    </div>

                    <div class="well">
                        <fieldset>
                            <legend><i class="fa fa-phone"></i> Contact</legend>
                            <div class="col-md-12 col-xs-6">
                                <div class="text-danger">*</div>@Html.EditorFor( model => model.BusinessContactNo )
                            </div>
                            <div class="col-md-12 col-xs-6">
                                @Html.EditorFor( model => model.EmailAddress )
                            </div>
                        </fieldset>
                    </div>
                </div>
                <!-- Left Image Side Panel-->
                <!-- Right Details Panel -->
                <div class="col-md-9">
                    <div class="well">
                        <fieldset>
                            <legend>Profile</legend>
                            <div class="col-md-6 col-xs-6">
                                @Html.BootstrapLabelFor( m => m.Title, required: true )
                                @Html.EditorFor( m => m.Title )
                            </div>
                            <div class="col-md-6 col-xs-6">
                                @Html.BootstrapLabelFor( m => m.Initials )
                                @Html.EditorFor( m => m.Initials )
                            </div>
                            <div class="col-md-6 col-xs-12">
                                @Html.BootstrapLabelFor( m => m.Name, required: true )
                                @Html.EditorFor( m => m.Name )
                            </div>
                            @*<div class="col-md-6 col-xs-12">
                                @Html.BootstrapLabelFor( m => m.GivenName, required: true )
                                @Html.EditorFor( m => m.GivenName )
                            </div>*@
                            <div class="col-md-6 col-xs-12">
                                @Html.BootstrapLabelFor( m => m.Surname, required: true )
                                @Html.EditorFor( m => m.Surname )
                            </div>
                            <div class="col-md-6 col-xs-6">
                                @Html.BootstrapLabelFor( m => m.Gender )
                                @Html.EditorFor( m => m.Gender )
                            </div>
                            <div class="col-md-6 col-xs-6">
                                @Html.BootstrapLabel( "Nationality" )
                                @Html.EditorFor( m => m.NationalityId )
                            </div>
                        </fieldset>
                    </div>
                    
                    <div class="well" style="display:none;">
                        <fieldset>
                            <legend>Executive profile</legend>
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.Raw(WebUtility.HtmlEncode(Model.Biography))
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="well">
                        <fieldset>
                            <legend>Profession</legend>
                            <div class="col-md-6 col-xs-6">
                                @Html.BootstrapLabelFor( model => model.Position )
                                @Html.EditorFor( model => model.Position )
                            </div>
                            <div class="col-md-6 col-xs-6">
                                @Html.BootstrapLabelFor(model => model.BusinessUnit)
                                @Html.EditorFor(model => model.BusinessUnit)
                            </div>

                            <div class="col-md-6 col-xs-6">
                                @Html.BootstrapLabelFor( model => model.AffiliationId )
                                @Html.EditorFor( model => model.AffiliationId )
                            </div>
                            <div class="col-md-6 col-xs-6">
                                @Html.BootstrapLabelFor( model => model.Expertise, required: true )
                                @Html.EditorFor( model => model.Expertise )
                            </div>
                            <div class="col-md-6 col-xs-6">
                                @Html.BootstrapLabel( "Main Activity" )
                                @Html.EditorFor( model => model.MainActivityId )
                            </div>
                            <div class="col-md-6 col-xs-6">
                                @Html.BootstrapLabelFor( model => model.OrganisationalResponsibility )
                                @Html.EditorFor( model => model.OrganisationalResponsibility )
                            </div>
                        </fieldset>
                    </div>

                    <div class="well">
                        <fieldset>
                            <legend>Education</legend>
                            <div class="col-md-6 col-xs-6">
                                @Html.BootstrapLabelFor( model => model.AcademicRank )
                                @Html.EditorFor( model => model.AcademicRank )
                            </div>
                            <div class="col-md-6 col-xs-6">
                                @Html.BootstrapLabelFor( model => model.HighestQualificationId )
                                @Html.EditorFor( model => model.HighestQualificationId )
                            </div>
                            <div class="col-md-6 col-xs-6">
                                @Html.BootstrapLabelFor( model => model.HomeInstitution )
                                @Html.EditorFor( model => model.HomeInstitution )
                            </div>
                        </fieldset>
                    </div>

                    <div class="well">
                        <fieldset>
                            <legend>Research</legend>
                            <div class="col-md-6 col-xs-6">
                                @Html.BootstrapLabelFor( model => model.ResearchInterest )
                                @Html.EditorFor( model => model.ResearchInterest )
                            </div>
                            <div class="col-md-6 col-xs-6">
                                @Html.BootstrapLabelFor( model => model.GoogleScholarIndex )
                                @Html.EditorFor( model => model.GoogleScholarIndex )
                            </div>
                        </fieldset>
                    </div>

                    <!-- Buttons -->
                    <div class="form-group">
                        <p>
                            <button type="submit" class="btn btn-primary"> <i class="fa fa-save"></i> Save </button>
                            @Html.ActionLink( "Cancel", "Index", null, new { @class = "btn btn-default" } )
                        </p>
                    </div>
                    <!-- Buttons -->

                </div>
                <!-- Right Details Panel -->
            </div>





        </div>
    </div> <!-- Panel End -->




}



@section Scripts {
    @Scripts.Render( "~/bundles/jqueryval" )
``<script src="~/Scripts/jquery.maskedinput.min.js"></script>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {

                var file = input.files[0];

                if (!file.type.match('image.*')) {
                    $("#MessageToClient").html("<li> The selected file does not appear to be an image.</li>");
                    return;
                }

                if( file.size > 100000 ) {
                    $("#MessageToClient").html("<li> The selected image is bigger than 100kb.</li>");
                    return;
                }
                
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image-preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#ImageUpload").change(function () {
            readURL(this);
        });

        $("#BusinessContactNo").mask("+99 (999) 999 9999");


        // Name input
        $("#Name").keyup(function (event) {
            var value = $(this).val();            
            $("#GivenName").val(value);
           
            var nameAndSurname = value + " " + $( "#Surname" ).val();

            $("#Initials").val(nameAndSurname.replace(/\W*(\w)\w*/g, '$1').toUpperCase());
        })

        // Surname input
        $("#Surname").keyup(function (event) {
            var value = $(this).val();            
            var nameAndSurname = $("#Name").val() + " " + value;

            $("#Initials").val(nameAndSurname.replace(/\W*(\w)\w*/g, '$1').toUpperCase());
        })
    


    </script>
}
