﻿@model PerformanceManagement.Application.Authentication.ViewModels.LoginVm

@{
    ViewBag.Title = "Login";
}
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"><img src="~/Images/logo.jpg" class="img-responsive" /></div>
</div>


<h3>Welcome to the USB Performance Management System</h3>

<h2>Login</h2>

<div id="div_loading" style="display: none"><img src="~/Images/loader.gif" /></div>

@using (Ajax.BeginForm(
                            new AjaxOptions
                            {
                                LoadingElementId = "div_loading"
                            }
                           ))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div id="divErrors">     @Html.ValidationSummary(true, "", new { @class = "text-danger" })  </div>
        <div class="form-group">
            @Html.BootstrapLabelFor(model => model.UserDropDown, columns: 2, required: true)
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserDropDown)
                @Html.ValidationMessageFor(model => model.UserDropDown, "", new { @class = "text-danger" })
            </div>
        </div>
        <h4 id="headerLogin">Please enter your domain password.</h4>
        <hr />
        <div class="form-group" id="divUsername">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" id="divPassword">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" id="divSubmit">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $("#UserDropDown").change(function () {
                $("select option:selected").each(function () {
                    var selected = $(this).val();
                    // alert(selected);
                    if (selected === "") {

                    }
                    else {

                        $('#Username').val(selected);
                        $('#divErrors').hide();
                    }
                });
            });
            $('#Username').attr('readonly', true);
        });
    </script>
}
