﻿@model FacultyManagement.Application.WebUsers.ViewModels.WebUserVm
@{
    ViewBag.Title = "Display Web CV Users";
}

<h3>Add Web Users CV Display </h3>
<h4 id="success" style="display:none;color:red;">Successfully Updated</h4>

<div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">

            <div class="panel-body">
                <div>Filter : <input type="text" id="filter" value=""><br /> </div>
                <div><br /></div>
               
                @*@if (Model.WebUsers != null && Model.WebUsers.Any())*@
                @if (1==1)
                {
                    using (Ajax.BeginForm("Index", "WebUser", null,
                        new AjaxOptions
                        {
                            UpdateTargetId = "teaching-loads",
                            InsertionMode = InsertionMode.Replace
                        },
                        new { @class = "form-inline" }))
                    {
                        <span style="width: 200px">
                            @Html.ListBoxFor(i => i.SelectedEmployeeIdAdd, Model.AvailableUsers as SelectList, new { @class = "form-control", size = 15 })
                            @Html.ValidationMessageFor(i => i.AvailableUsers, "", new { @class = "text-warning" })
                        </span>


                        <span>
                            <input id="btnAdd" type="button" value="Add > " onclick="addItem();" />
                            <input id="btnRemove" type="button" value="Remove  < " onclick="removeItem();" />
                        </span>

                        <span style="width: 200px">
                            @Html.ListBoxFor(i => i.SelectedEmployeeIdRemove, Model.AvailableUsers as SelectList, new { @class = "form-control", size = 15 })
                            @Html.ValidationMessageFor(i => i.AvailableUsers, "", new { @class = "text-warning" })
                        </span>

                        <br />
                        <span>
                            <br />
                           @* @Html.ActionLink("Update", "SaveUsers", null, new { @class = "btn btn-default", cvIdsAdded = @Model.SelectedEmployeeIdAdd, cvIdsRemoved = Model.SelectedEmployeeIdRemove })---EC*@ 
                            <input id="btnUpdate" type="button" value="Update" onclick="updateTableCVAdd();" />
                            @*@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })*@
                        </span>
                    }
                }
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link href="~/Content/Site.css" rel="stylesheet" />
}
@section Scripts
{

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script type="text/javascript">


    function addItem() {
        $('#success').hide();
        $("#SelectedEmployeeIdAdd option:selected").appendTo("#SelectedEmployeeIdRemove");
        $("#SelectedEmployeeIdRemove option").attr("selected", false);
    }

    function removeItem() {
        $('#success').hide();
        $("#SelectedEmployeeIdRemove option:selected").appendTo("#SelectedEmployeeIdAdd");
        $("#SelectedEmployeeIdAdd option").attr("selected", false);
    }

    function updateTableCVAdd() {

        var addedUsers = [];
        var removedUsers = [];

        $('#SelectedEmployeeIdRemove option').each(function () {
            addedUsers.push(this.value);
        });


        $('#SelectedEmployeeIdAdd option').each(function () {
            removedUsers.push(this.value);
        });



        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateAddedUsers", "WebUser")',
        contentType: "application/json; charset=utf-8",
        data: "{cvIds:" + JSON.stringify(addedUsers) + "}",
        dataType: "json",
        success: function () {
            $('#success').show();
        },

        });

          $.ajax({
        type: "POST",
        url: '@Url.Action("UpdateRemovedUsers", "WebUser")',
        contentType: "application/json; charset=utf-8",
        data: "{cvIds:" + JSON.stringify(removedUsers) + "}",
        dataType: "json",
        success: function () {
            $('#success').show();
        },


        });
    }

    $('#filter').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#SelectedEmployeeIdAdd > option').show();
        } else {
            $('#SelectedEmployeeIdAdd > option').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    </script>
}
