﻿@model FacultyManagement.Application.EducationAndAwards.ViewModels.Education.EducationEditVm

<div data-role="page">
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</div>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Edit Education</h4>
</div>

<div class="modal-body">
    <p id="MessageToClient" class="text-danger"></p>

    @using ( Html.BeginForm( "EditEducation", "EducationAndAwards", FormMethod.Post ) )
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary( false, "", new { @class = "text-danger" } )

        @Html.HiddenFor( model => model.CVid )

        <div class="form-horizontal">
            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.Year, columns: 2, required: true )
                <div class="col-md-3">
                    @Html.EditorFor( model => model.Year )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.Degree, columns: 2, required: true )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.Degree )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.FieldOfStudy, columns: 2, required: true )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.FieldOfStudy )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.University, columns: 2, required: true )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.University )
                </div>
            </div>
            
            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.CountryId, columns: 2, required: true )
                <div class="col-md-5">
                    @Html.EditorFor( model => model.CountryId )
                </div>
            </div>

        </div>

        <br />
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    }
</div>


<script src="~/Scripts/custom/formActions.js"></script>