﻿@model string

@{
       <!--Hidden value sent back to controller-->
    <input type="hidden" name="selectedUsernameAndCvid" id="selected_user" />

    @Html.TextBox( "SelectedFacultyUser", ViewData.TemplateInfo.FormattedModelValue,
        new { @class = "faculty-user-search form-control", placeholder = "Name or Surname" }) 

    @*<input type="search" id="faculty-user-search" name="user-search" class="user-search form-control" data-url="@Url.Action( "Autocomplete", "Users", new {area = "Admin"} )" placeholder="Name or Surname" />*@
    <div id="searchresults"></div>

}

<script type="text/javascript">
    // The autocomplete element
    $(".faculty-user-search").autocomplete({
        minLength: 3,
        source: function (request, response) {
            var url = "@Url.Action("AutoComplete", "Users", new { area="Admin" })";
            $.getJSON(url, { term: request.term }, function (data) {
                response(data);
            });
        },
        // The the element we want to update
        appendTo: $("#searchresults"),
        // This will override the label
        // and set custom input to be sent to controller with another id
        select: function (e, ui) {
            e.preventDefault() // <--- Prevent the value from being inserted.
            $("#selected_user").val(ui.item.value); // <--- custom input - we set another value

            $(this).val(ui.item.label); // <---  the search input box display text
        }
    });

</script>
