﻿@model  IEnumerable<int>

@{
    int currentYear = DateTime.UtcNow.Year;

    IEnumerable<int> data = Enumerable.Range( currentYear - 2, 3 ).Reverse()
                                            .Where( year => !Model.Contains( year ) );

    var selectList = data.Select( x => new SelectListItem()
    {
        Text = x.ToString(),
        Value = x.ToString(),
        Selected = Model.Contains( x )
    } );

    // Set a disabled textbox if there is no data
    if ( data.Any() )
    {
        @Html.DropDownList( "", selectList, "---Year---", new { @class = "form-control" } )
    }
    else
    {
        // Set data-warning attribute here as well
        @Html.TextBox( "", string.Empty, new { @class = "form-control year", @readonly = "readonly", placeholder ="Disabled", data_warning = true } )
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        var isWarning = $('.year').data('warning'); //get data attribute
        if (isWarning) {
            $("#MessageToClient").html("<div class='alert alert-warning'> <i class='fa fa-exclamation-triangle fa-2x'> </i> " +
                " You have already evaluated for the current years.<p> Please edit an existing evaluation.</p></div>");
            // Disable submit button
            $(':input[type="submit"]').prop('disabled', true);
        }
    });

   
</script>