﻿@model PerformanceManagement.Application.SupervisionLoad.ViewModels.SupervisionLoadCreateVm

<div data-role="page">
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</div>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">New Supervision Load (@Model.SourceSystem)</h4>
</div>

<div class="modal-body">

    <p id="MessageToClient" class="text-danger"></p>

    @using ( Html.BeginForm( "Create", "SupervisionLoads", FormMethod.Post ) )
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary( false, "", new { @class = "text-danger" } )

        @Html.HiddenFor( model => model.CVid )
        @Html.HiddenFor( model => model.SourceSystem )        

        <div class="form-horizontal">
            
            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.Year, columns: 2, required: true )
                <div class="col-md-3">
                    @Html.EditorFor( model => model.Year )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.StudentName, columns: 2, required: true )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.StudentName )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.ThesisTopic, columns: 2, required: true )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.ThesisTopic )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.ProgressStatus, columns: 2, required: true )
                <div class="col-md-6">
                    @Html.EditorFor( model => model.ProgressStatus )
                </div>
            </div>

            @*<div class="form-group">
                @Html.BootstrapLabelFor( model => model.ProgrammeId, columns: 2, required: true )
                <div class="col-md-6">
                    @Html.EditorFor( model => model.ProgrammeId )
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.ProgrammeOfferingId, columns: 2, required: true )
                <div class="col-md-6">
                    @Html.EditorFor( model => model.ProgrammeOfferingId )
                </div>
            </div>*@

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.SupervisorCredit, columns: 2, required: true )
                <div class="col-md-2">
                    @Html.EditorFor( model => model.SupervisorCredit )
                </div>
            </div>

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.BootstrapLabelFor( model => model.SelectedUserCvid, columns: 2, required: true )                    
                    <div class="col-md-6">
                        @Html.EditorFor( model => model.SelectedUserCvid, "FacultyUsersPickerId" )
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor( model => model.SecondarySupervisorCredit, columns: 2, required: false )
                <div class="col-md-2">
                    @Html.EditorFor( model => model.SecondarySupervisorCredit )
                </div>
            </div>

        </div>

        <br />
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    }
</div>


<script src="~/Scripts/custom/formActions.js"></script>

