﻿@model IEnumerable<PerformanceManagement.Application.SupervisionLoad.ViewModels.SupervisionLoadItemVm>
<div class="panel-body">
    @if (Model.Any())
    {
        <table id="client-table" class="table table-responsive table-condensed">
            <thead>
                <tr>
                    <th>
                        Year
                    </th>   
                    <th>
                        Research Supervision
                    </th>
                    <th>
                        Student Number
                    </th>
                    <th style="text-align:right!important;">
                        Hours
                    </th>

                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupervisionResearch)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.StudentName)
                    </td>
                    <td style="text-align:right;">
                        @Html.DisplayFor(modelItem => item.Hours)
                    </td>
                    @*<td>
                            @Html.DisplayFor( modelItem => item.ProgressStatus )
                        </td>*@

                </tr>
              
            }
            <tr style="padding-top:50px!important;">
                <td colspan="2"></td>
                <td style="padding-top:30px;"><b>Total Hours:</b> </td>

                <td style="padding-top:30px;text-align:right;"><b>@Model.Select(modelItem => modelItem.Hours).Sum()</b></td>
            </tr>
        </table>
    }
    else
    {
        <p>No Records found</p>
    }
</div>

