﻿@model PerformanceManagement.Application.SupervisionLoad.ViewModels.WriteHandResearch

<div class="panel-body">
    @if ( Model.Topics != null && Model.Topics.Any() )
    {
        <table id="datatable" class="table table-responsive table-condensed">
            <thead>
                <tr>
                    <th>
                        Year
                    </th>
                    <th>
                        Student
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Programme offering
                    </th>
                </tr>
                <tr></tr>

            </thead>

            <tbody>
                @foreach ( var item in Model.Topics )
                {
                    string cssClass = string.Empty;

                    switch ( item.Status )
                    {
                        case "No Status":
                            cssClass = "NoStatus";
                            break;
                        case "No Topic":
                            cssClass = "NoTopic";
                            break;
                        case "Topic Allocated":
                            cssClass = "TopicAllocated";
                            break;
                        case "Secondary Research":
                            cssClass = "SecondaryResearch";
                            break;
                        case "Research Proposal":
                            cssClass = "ResearchProposal";
                            break;
                        case "Data Analysis":
                            cssClass = "DataAnalysis";
                            break;
                        case
                            "Submission":
                        case "Complete":
                            cssClass = "Complete";
                            break;
                    }

                    <tr>
                        <td>
                            @Html.DisplayFor( modelItem => item.Student.Year )
                        </td>
                        <td>
                            @Html.DisplayFor( modelItem => item.Student.Name )
                        </td>
                        <td>
                            @Html.DisplayFor( modelItem => item.Title )
                        </td>
                        <td>
                            @Html.DisplayFor( modelItem => item.Programme )
                        </td>
                    </tr>
                    <tr class="researchStatus">
                        <td></td>
                        <td class="@cssClass" colspan="6"></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Records found</p>
    }
</div>
