﻿@model FacultyManagement.Application.PerformanceManagement.PeerEvaluation.ViewModels.PeerEvaluationVm

@{
    ViewBag.Title = "Peer Evaluation";
}

<h3>Peer Evaluation for <strong class="text-primary">@Model.FullName</strong></h3>
<div>
    <div class="panel-group" id="accordion">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><li class="fa fa-caret-down"></li> Integrity</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    @Html.Partial( "_Evaluations", Model.Integrity )
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><li class="fa fa-caret-down"></li> Inclusivity</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial( "_Evaluations", Model.Inclusivity )
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><li class="fa fa-caret-down"></li> Innovation</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial( "_Evaluations", Model.Innovation )
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><li class="fa fa-caret-down"></li> Engagement</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial( "_Evaluations", Model.Engagement )
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><li class="fa fa-caret-down"></li> Excellence</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial( "_Evaluations", Model.Excellence )
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><li class="fa fa-caret-down"></li> Sustainability</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial( "_Evaluations", Model.Sustainability )
                </div>
            </div>
        </div>

    </div>
</div>


<script src="~/Scripts/js-cookie/js.cookie-2.1.3.min.js"></script>
<script src="~/Scripts/custom/accordianCookieTracker.js"></script>


