﻿.bodyBg			{background:url('../gfx/bg_body.jpg') repeat-x;}
.mainTextStyle	{color:#555; font-family: Arial, Helvetica, sans-serif !important; font-size:14px;}

/****
		Links
***************************************/
a					{color:#5F213B}
a:hover				{color:#50172e}
strong				{font-weight:bold !important;}

/****
		General Style
***************************************/		
.noBG	{background-image:none !important}
.fr		{float:right}
.fl		{float:left}
.c		{clear:both}

h1 {color: #891536; font-size: 20px !important; font-weight:bold}
h2 {color: #7B8587; font-size: 18px !important; font-weight:bold; margin: 5px 0px !important;}

/****
		Global Containers
***************************************/		
#containerWrapper 			{width:980px;background-color: white; margin:auto; border: 1px solid #ddd; min-height: 550px; border-top: 0px;padding-bottom: 10px;}
#contentWrapper				{padding: 0 10px; margin-top: 5px;}

.heading     { margin: 0 0 15px 0; padding: 0;height: 20px;border-bottom: 1px dashed #EEE;padding-bottom: 10px;}
.headingIcon {display: inline-block; float:left; margin-right: 5px}
.welcomeWrapper {float: right;margin: 20px 15px;background: url('../gfx/regBG.png') repeat transparent;background-color:#FF7373;padding: 15px; cursor:pointer}
.welcomeWrapper a {color: white; text-decoration:none;}
.welcomeWrapper:hover { background-color: white; text-decoration:none; background: url('../gfx/regBG.png') repeat transparent;background-color: #F99;}

/****
		Banner Section
***************************************/		
#header			{margin: 0 10px;padding: 10px 0 5px 0;}
#logo			{background: url('../gfx/usb_logo.jpg') no-repeat; width:245px; height: 82px; float:left; margin-bottom: 10px;}
.headerLinks 	{display: block;float: right;}
.headerLinks a:hover { text-decoration:none;}

/****
		 Breadcrumb Navigation 
***************************************/		 
#breadcrumbNav { margin: 15px 0px 25px 5px; height: 35px;}
#breadcrumbNav ol {list-style-position: inside; color: white;}
#breadcrumbNav ol li { background: url('../gfx/list_BG.png') no-repeat;padding-left: 15px;float: left;height: 35px;line-height: 35px;}

#breadcrumb {float: right; margin: 0 20px 15px 5px;font-size: 12px; color: #727675}
#breadcrumb a:hover { text-decoration:none;}

span.step {	color:#FFF;background: url('../gfx/step_BG.png') no-repeat #8C1437; height:35px;margin: 0 10px 0 5px;display: inline-block;padding: 0 10px 0 15px;}

span.step a	{color:#FFF; text-decoration:none}
span.step a:hover, span.step a:active	{color:#EEE}

span.stepD {color: white;background: url("../gfx/step_BG_D.png") no-repeat #DEDEDE;height: 35px;margin: 0 10px 0 5px;display: inline-block;padding: 0 10px 0 15px;}

span.stepD a { text-decoration:none;}
span.stepD a:hover { text-decoration:underline;}

/****
		 Login 
***************************************/		 
.login input {width: 50px; cursor: pointer; float: right;}

.loginBG {background: url('../gfx/loginBG.jpg') no-repeat;height: 393px;}
.loginContent p { padding-left: 15px;}
.loginContent { background: url('../gfx/overlayBG.png') repeat transparent;margin-top: 15px; color: white;padding: 10px 0px 5px 5px;}
.loginContent .heading { border: none 0px;}
.loginContent .heading h1  { color: white; font-weight:bold; text-transform:uppercase;margin: 5px 0 0 10px; float:left;}
.register:hover {background: url('../gfx/regBG.png') repeat transparent;margin-top: -10px;padding: 15px;}
.register {float: right;margin: 0 15px 0 0;background: url('../gfx/regBG.png') repeat transparent;background-color:#DA3665;margin-top: -10px;padding: 15px; cursor:pointer}
.register a { color: white;text-decoration:none}
.register a:hover { color: white; text-decoration:none}
.regSection {margin: 5px 10px;}
.loginLeft { width: 665px;}
.loginRight { width:275px;}
.loginSection { margin: 15px 50px;}
.contact { font-size: 17px; margin: 10px 20px;}

/****
		Login Verification 
***************************************/		
.notifications { width: 275px; min-height: 45px; background: url('../gfx/overlayBG.png') repeat transparent;line-height: 18px;}
.notifications h3 { margin-bottom: 10px;}
.statusIcon { width: 28px; height: 28px; display:inline-block; float: left; margin: 0 5px}
.success { background: url('../gfx/successIcon.png') no-repeat transparent;}
.error { background: url('../gfx/errorIcon.png') no-repeat transparent;}
.alert { background: url('../gfx/alertIcon.png') no-repeat transparent;}

/****
		Registration
***************************************/		
.regContact             {background-color:#eee;}
.regContent             {border:1px solid #ddd;}
.regContent .heading    {border:none 0px;}
.regContent .heading h1 {font-weight:bold; text-transform:uppercase;margin: 10px 0 0 10px; float:left;}
.back                   {float:right; margin:0 15px 0 0; background-color:#891536; margin-top:5px; padding:10px; cursor:pointer;}
.back:hover             {background-color:#961c3e;}
.back a                 {color:white;text-decoration:none}
.back a:hover           {color:white; text-decoration:none}
.regContent .contact    {margin: 10px 15px 10px; font-size: 15px;}
.regField               {}
.regField span          {font-size:0.8em;}
.regInput span          {font-size:0.7em; line-height: 0.8em;}

/****
		 Registration Notifications 
***************************************/
.notifyBox { width: 255px; min-height: 45px; line-height: 18px; padding: 10px; margin: 5px 0; color: #fff; }
.notifyBox h3 { margin-bottom: 10px; font-weight: bold; line-height: 15px}
.regContent.fr.notifyBox.s {background-color:#938B28 ;border: 1px solid #74CE62;}
.regContent.fr.notifyBox.e {background-color: #f5abab;border: 1px solid #575317;}

/****
		 Landing 
***************************************/
.typeWrapper {width: 295px;height: 150px;background-color: #DDD;display: block;float: left;margin: 5px 10px;}

.divWrapper {width: 515px; min-height: 200px; height: auto; border: 1px solid #ddd; display:block; float: left;margin: 5px;}

.boxWrapper {width: 425px; min-height: 200px; height: auto; border: 1px solid #ddd; display:block; float: left;margin: 5px;}
.fixedText  {max-width: 220px; width: 220px; max-height: 50px; height: 50px; margin-left: 2px; margin-top: 5px}

.courseWrapper {width: 295px; min-height: 205px;border: 1px solid #DDD;display: block;float: left;margin: 5px;height: auto;max-height: 200px;padding: 0px 5px 5px 5px;}
.courseWrapper .courseIcon {margin: 10px 10px 2px 0; background: url('../gfx/iconBG.png') no-repeat;}

/****
		 Submit & Approval 
***************************************/		 
.sectionHeader      {background-color: #8B8700;padding: 10px 5px;font-weight: bold;height: 25px;line-height: 25px;font-size: 18px;}
.submitSection      {border: 1px solid #E2E3E7;margin-top: 10px;}
.sectionBody        {padding: 10px;}
.centerDivTable     {margin-left: auto;margin-right: auto;text-align: left;}
.butApproval        {margin:0 0 0 750px;}

tr {line-height: 25px !important;}

/****
		 Levels 
***************************************/		 
.courseIcon {width: 50px; height: 50px; background-color: #eee; display:block; float: left;margin: 5px 10px; background: url('../gfx/iconBG.png') no-repeat;}
.levels tr td { line-height: 20px; vertical-align: middle; width: 100%;}
.levels { margin: 5px;}

.divHeader { float: left; line-height: 2em; color: #7C8487}
.selectDiv { width: 270px; padding: 4px; margin-left: 15px;}

/****
		Inputs
***************************************/		
select				{background-color:#DDD; border:1px solid #D4D4D4; color:#555; margin:5px 3px;width: 227px;padding: 5px 0;}
select:active,
select:focus		{background-color:#eee; border:1px solid #D4D4D4; color:#000}
select.error		{border:1px solid red !important; background-color:#ffd4d4 !important}
select.requiredStyle{border:1px solid #ED7921 !important; background-color:#ffd9bc !important}
select.inactive		{border:1px solid #D4D4D4 !important; background-color:#E1E1E1 !important; color:#999}

input	 {background-color:#DDD; border:1px solid #D4D4D4; color:#555; margin:5px 3px; padding: 5px 2px; width: 220px;}
textarea {background-color:#DDD; border:1px solid #D4D4D4; color:#555; margin:5px 3px; padding: 5px 2px; width: 220px;}

input[type=radio], 
input[type=image], 
input[type=checkbox]	{background:none !important; border:0px !important;width:auto !important;}

input:active,
input:focus	{background-color:#aaa; border:1px solid #D4D4D4; color:#000}

textarea:active,
textarea:focus	{background-color:#aaa; border:1px solid #D4D4D4; color:#000}

label.active{color:#5BB301;}

input.error				{border:1px solid red !important; background-color:#ffd4d4 !important}
input.requiredStyle		{border:1px solid #ED7921 !important; background-color:#ffd9bc !important}
input.inactive			{border:1px solid #D4D4D4 !important; background-color:#E1E1E1 !important; color:#999}

input.error:focus,
input.error:active		{color:#a50000 !important}

input.inactive:active,
input.inactive:focus	{border:1px solid #D4D4D4 !important; background-color:#E1E1E1 !important; color:#999}

.button input {min-width: 95px; width: auto; cursor: pointer; padding: 5px; background-color: #891536; color: white;}
.button input:hover { background-color: #961c3e; cursor: pointer; border: 1px solid #aaa; color: white;}

/****
		 Footer 
***************************************/
#footer {background-color:#8c9799; height: 30px; clear:both; width: 980px; margin:auto; margin-bottom:10px;border: 1px solid #ddd;border-top: 0px;}


/****
		 Divisions BG
***************************************/
.divWrapper          { cursor: pointer;}
.divWrapper gfx     {	position:absolute;}
.wrapperHeading     {	background-color:#666;	color: white;	font-size: 20px;	text-transform: capitalize;	position: absolute;	margin-top: 100px;	width: 295px;	padding: 5px 0 5px 5px;	background: url('../gfx/headingBG.png') repeat-x transparent; }
.dLogo              {float: right;position: relative !important;margin-top: 70px;}
.typeWrapper        { cursor: pointer; border: 1px solid #eee;}
.typeWrapper gfx    {	position:absolute;}
.typeWrapper p      {	margin-top: 35px;	margin-bottom: 2px;	padding: 2px 5px; min-height:70px;	background: url('../gfx/headingBG.png') repeat-x transparent; 	color: white;}
.wrapperHeading     {	background-color:#666;	color: white;	font-size: 20px;	text-transform: capitalize;	position: absolute;	margin-top: 0px;	width: 285px;	padding: 10px 5px;	text-align: right;	background: url('../gfx/headingBG.png') repeat-x transparent; }

a:hover span.wrapperHeading {color: #eee;}

/****
		 Learning Types 
***************************************/
.schooling              {background:url('../gfx/learnings/schoolingInfo.jpg') no-repeat;}
.courses                {background:url('../gfx/learnings/courses.jpg') no-repeat;}
.tertiary               {background:url('../gfx/learnings/tertiaryEdu.jpg') no-repeat;}
.sector                 {background:url('../gfx/learnings/sectorSpecificInfo.jpg') no-repeat;}
.general                {background:url('../gfx/learnings/generalEdu.jpg') no-repeat;}
.vocational             {background:url('../gfx/learnings/vocationalTraining.jpg') no-repeat;}
.employment             {background:url('../gfx/learnings/employmentHistory.jpg') no-repeat;}
.stepsGuide             {background-color:#EEE; border:1px dashed #DDD; padding:10px;}
.stepsGuide li          {list-style-type:decimal; padding:5px 0px 5px 0px; margin-left:20px;}
.stepsGuide li.subItem  {list-style-type:none; font-weight:bold;}

/***
	Approval Table Styles 
*******************************************/
table.learningData      {width:100%; margin:15px 0 30px 0; border-bottom:1px dashed #E4E4E4;}
.learningData .odd      {background-color: #f9f9f9; border: 1px solid #e8e8e8;padding-left: 5px; width: 230px}
.learningData .even     {background-color: #f4f4f4; border: 1px solid #e8e8e8; padding-left: 5px; width: 270px;}
.learningData textarea  {min-width: 450px ;max-width: 450px; min-height: 80px; max-height: 140px; height: auto;}

.learningData td        {width:50%; white-space:normal;}

/***===========START ERROR MESSAGES / NOTIFICATIONS==========***/
/*=============================================================*/

.errorBox div ul { text-align:left; padding-left:0px;margin-left:0px; margin-top:3px;}
.errorBox div ul li         {list-style:none; padding-left:0px;margin-left:0px}
.ValidationError            {background-color:#FFE0E0 !important; border-color:#cc0000 !important; border:1px solid}
.ErrorLabel                 {background-color:#D00000; color:White; font-weight:bold; text-align:center;}
.successBox,
.errorBox                   {word-wrap:break-word; margin:5px 0px 5px 0px; padding:5px 10px 5px 10px; -moz-border-radius:4px; border-radius:4px; font-weight:bold; clear:both;}
.successBox                 {border:1px solid #598a0f; color:#598a0f; background:#f2ffe0;margin:auto; margin-bottom:-15px; }
.errorBox                   {border:1px solid #cc0000; color:#cc0000; background:#ffe0e0;margin:auto; margin-bottom:-15px; }

/***===========END ERROR MESSAGES / NOTIFICATIONS=============***/
/*==============================================================*/
div.ui-datepicker, .ui-datepicker td{
	 font-size:12.5px;
	 line-height:14px;
}

div.ui-datepicker, .ui-datepicker th{
	 line-height:10px;
}

.ui-datepicker-trigger
{
    margin-bottom:-3px;
}

 