﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/RPL.Master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>
 
<asp:Content ID="Content1" ContentPlaceHolderID="Title" runat="server">
	RPL - Under Construction
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="Content" runat="server">

<div>
   This page is under construction
</div>
</asp:Content>
 
