﻿
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">New Internal Contributor</h3>
</div>
<div class="modal-body" id="modal-body">

    <p class="text-muted">
        Authorship implies responsibility and accountability for published work. If you are adding your own research you must load yourself as the <strong>author</strong> with 1 as the sequence of appearance.
    </p>

    <hr />

    <form name="internalContributorForm" novalidate>
        <div class="form-horizontal">

            <div class="form-group">
                <div class="col-md-6"><label for="faculty-user-search" class="required">Internal Responsible Person</label>                   
                </div>
                <div class="col-md-4">
                    <!--Hidden value sent back to controller-->
                    <input type="text" name="selectedUsernameAndCvid" id="selected_user" ng-model="vmodal.SelectedUser" class="hidden" required />
                    <input type="search" id="faculty-user-search" name="user-search" class="faculty-user-search form-control" placeholder="Name or Surname" />
                    <div id="searchresults"></div>
                    <span ng-show="internalContributorForm.selectedUsernameAndCvid.$invalid && !internalContributorForm.$pristine" class="text-danger">User is required</span>
                </div>
                <div class="col-md-1">
                    <span id="userTootltip" style="float:right;" class="glyphicon glyphicon-info-sign" title="User" data-content="Select primary author or contributor."></span>                   
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6"><label for="Sequence" class="required">Sequence of appearance on publication</label></div>
                <div class="col-md-3">
                    <input id="Sequence" name="Sequence" type="number" min="1" max="1000" class="form-control" ng-model="vmodal.Sequence" required />
                    <span ng-show="internalContributorForm.Sequence.$invalid && !internalContributorForm.$pristine" class="text-danger">Sequence is required</span>
                </div>
                <div class="col-md-1">
                    <span id="seqTooltip" class="glyphicon glyphicon-info-sign"  title="Sequence" data-content="The number indicates the sequence in which the names appears in the publication. It will always be 1 for the person who has responsibility for the published work."></span>
                   
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6"><label for="DHETCredit" class="required">DHET credit</label>                   
                </div>
                <div class="col-md-3">
                    <input id="DHETCredit" name="DHETCredit" type="number" min="0" max="1000" class="form-control" ng-model="vmodal.Credit" required />
                    <span ng-show="internalContributorForm.DHETCredit.$invalid && !internalContributorForm.$pristine" class="text-danger">DHETCredit is required</span>
                </div>
                <div class="col-md-1">
                    <span id="dhetTooltip" class="glyphicon glyphicon-info-sign" title="DHET credit" data-html="true" data-content="<div><p>Publications typically earn one credit, which is split between the authors. If you are unsure of the credit, contact the Research manager.</p><br/>For journals the following credits apply:<br/><div><ul>    <li>1 author 1 credit</li>    <li>2 authors 0.5 credit</li>    <li>3 authors 0.33 credit</li>    <li>4 authors 0.25 credit</li>    <li>5 authors 0.2 credit</li>    <li>6 authors 0.16 credit</li></ul></div></div>"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6"><label for="Role" class="required">Role</label></div>
                <div class="col-md-4">
                    <select id="Role" name="Role" class="form-control"
                            ng-model=" vmodal.selectedRole"
                            ng-options="item.description for item in vmodal.Roles track by item.id"
                            required>
                        <option value="" ng-selected="selected">-- Select Role --</option>                       
                    </select>
                    <span ng-show="internalContributorForm.Role.$invalid && !internalContributorForm.$pristine" class="text-danger">Role is required</span>
                </div>
            </div>

        </div>
    </form>

    <hr />
    <div>
        <button class="btn btn-default" type="button" ng-click="vmodal.cancel()">Cancel </button>
        <button class="btn btn-primary" type="button" 
                ng-click="vmodal.ok()"
                ng-disabled="internalContributorForm.$invalid">Add
        </button>
    </div>
</div>



<script>

    // The autocomplete element
    $(".faculty-user-search").autocomplete({
        minLength: 3,
        source: function (request, response) {
            var url = "/FacultyManagement/Admin/Users/Autocomplete";
            $.getJSON(url, { term: request.term, includeCurrentUser: true }, function (data) {
                response(data);
            });
        },
        // The the element we want to update
        appendTo: $("#searchresults"),
        // This will override the label
        // and set custom input to be sent to controller with another id
        select: function (e, ui) {
            e.preventDefault() // <--- Prevent the value from being inserted.

            var hiddenInput = $('#selected_user');
            hiddenInput.val(ui.item.value); // <--- custom input - we set another value
            /*  ANGULAR FIX */
            // ngModel listens for "input" event, so to "fix" need to trigger that event after setting the value:
            hiddenInput.trigger('input'); // Use for Chrome/Firefox/Edge
            hiddenInput.trigger('change'); // Use for Chrome/Firefox/Edge + IE11
            /*  ANGULAR FIX */

            $(this).val(ui.item.label); // <---  the search input box display text

        }
    });

    $("#dhetTooltip,#seqTooltip,#userTootltip").popover({
       container: "body",       
       trigger: "hover"
    });

</script>
