﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="USBEventsFeed.ascx.cs" Inherits="Common_UserControls_USBEventsFeed" %>

<link rel="alternate" type="application/rss+xml" title="Test RSS Feeds" href="<%=ConfigurationSettings.AppSettings["UserImageURL"]%>Common/UserControls/USBEventsFeed.ascx" />
