﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="USBMBABrosjure.ascx.cs" Inherits="Common_UserControls_USBMBABrosjure" %>

<p><img src="<%=ConfigurationSettings.AppSettings["UserImageURL"]%>Common/Images/pdf-icon.png" width="14" height="14" alt="" />&nbsp;<%--<asp:LinkButton ID="LinkButton1" runat="server" CommandArgument="../../Common/Pdfs/MBA_brosjure_AFR.pdf;MBA_brosjure_AFR.pdf" OnCommand="LinkBtnDownload_Command">MBA brochure</asp:LinkButton>--%>PDF van omvattende <a href="<%=ConfigurationSettings.AppSettings["UserImageURL"]%>Common/FlippingBooks/MBA_Brosjure_Afr/index.html" target="_blank">MBA-brosjure</a> in Afrikaans [Lees]<br />
    <img src="<%=ConfigurationSettings.AppSettings["UserImageURL"]%>Common/Images/pdf-icon.png" width="14" height="14" alt="" />&nbsp;<%--<asp:LinkButton ID="LinkButton1" runat="server" CommandArgument="../../Common/Pdfs/MBA_brosjure_AFR.pdf;MBA_brosjure_AFR.pdf" OnCommand="LinkBtnDownload_Command">MBA brochure</asp:LinkButton>--%>PDF van omvattende <a href="<%=ConfigurationSettings.AppSettings["UserImageURL"]%>Common/Pdfs/MBA_Brosjure_2013_Afr_Druk.pdf" target="_blank">MBA-brosjure</a> in Afrikaans [Druk / Laai af]</p>


<p><img src="<%=ConfigurationSettings.AppSettings["UserImageURL"]%>Common/Images/pdf-icon.png" width="14" height="14" alt="" />&nbsp;<%--<asp:LinkButton ID="USBDvdDownloadLnkBtn" runat="server" CommandArgument="../../Common/Pdfs/MBA_brochure_ENG.pdf;MBA_brochure_ENG.pdf" OnCommand="LinkBtnDownload_Command">MBA brochure</asp:LinkButton>--%>PDF van omvattende <a href="<%=ConfigurationSettings.AppSettings["UserImageURL"]%>Common/FlippingBooks/MBA_Brochure_Eng/index.html" target="_blank">MBA-brosjure</a> in Engels [Lees]<br />
    <img src="<%=ConfigurationSettings.AppSettings["UserImageURL"]%>Common/Images/pdf-icon.png" width="14" height="14" alt="" />&nbsp;<%--<asp:LinkButton ID="USBDvdDownloadLnkBtn" runat="server" CommandArgument="../../Common/Pdfs/MBA_brochure_ENG.pdf;MBA_brochure_ENG.pdf" OnCommand="LinkBtnDownload_Command">MBA brochure</asp:LinkButton>--%>PDF van omvattende <a href="<%=ConfigurationSettings.AppSettings["UserImageURL"]%>Common/Pdfs/MBA_Brochure_2013_Eng_Print.pdf" target="_blank">MBA-brosjure</a> in Engels [Druk / Laai af]</p>
