﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="USBNewsroomFeed.ascx.cs" Inherits="Common_UserControls_USBNewsroomFeed" %>

<link rel="alternate" type="application/rss+xml" title="Test RSS Feeds" href="<%=ConfigurationSettings.AppSettings["UserImageURL"]%>Common/UserControls/USBNewsroomFeed.ascx" />
