﻿    /* -----------------------------------------------------
   AUTHOR           :   David Bailey
   WEBSITE          :   http://dbailey.x10.mx
   TEMPLATE NAME    :   Site-Layout
   VERSION          :   0.01
   LAST MODIFIED    :   20 Sept 2010
-------------------------------------------------------- */

/* Primitives */
body { margin: 0; padding: 0; border: 0; width:100%; background: #968d7f; min-width: 600px; font-size: 0.8em; font-family:Tahoma; }  
a { color:#8e8700; text-decoration: none;}
a:hover{ color:#991536; text-decoration:none; }
h1, h2, h3 { margin: .8em 0 .5em 0; padding: 0; color: #891536; }

h1 { margin: 0 0 10px 0; padding: 0 0 5px 0; font-size: 1.6em; border-bottom: 1px solid #891536; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; }

p { margin:.4em 0 .8em 0; padding:0; }
/*img { margin:10px 0 5px; }*/
	
/* Header styles */
#header { clear:both; float:left; width:100%; }
#header p,
#header h1,
#header h2 { padding:.4em 15px 0 15px; margin:0; }
	#header ul {
	    clear:left;
	    float:left;
	    width:100%;
	    list-style:none;
	    margin:10px 0 0 0;
	    padding:0;
	}
	#header ul li {
	    display:inline;
	    list-style:none;
	    margin:0;
	    padding:0;
	}
	#header ul li a {
	    display:block;
	    float:left;
	    margin:0 0 0 1px;
	    padding:3px 10px;
	    text-align:center;
	    background:#eee;
	    color:#000;
	    text-decoration:none;
	    position:relative;
	    left:15px;
		line-height:1.3em;
	}
	#header ul li a:hover {
	    background:#369;
		color:#fff;
	}
	#header ul li a.active,
	#header ul li a.active:hover {
	    color:#fff;
	    background:#000;
	    font-weight:bold;
	}
	#header ul li a span {
	    display:block;
	}
	
	#banner{ width: 1024px; height: 143px; background-image: url("/Common/Images/Alumni/header.png"); clear: both; margin: 0 auto; text-align:right;}
	
	.banner-image{ margin: 10px 50px; text-align: right;}
	
	
	/* 'widths' sub menu */
	#layoutdims {
		clear:both;
		background:#eee;
		border-top:4px solid #000;
		margin:0;
		padding:6px 15px !important;
		text-align:right;
	}
	/* column container */
	.colmask {
		position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	    clear:both;
	    float:left;
        width:100%;			/* width of whole page */
		overflow:hidden;	/* This chops off any overhanging divs */
	}
	
	.colmask ul { margin: 0; padding: 0 0 0 15px; }
	
	/* 2 column left menu settings */
	.leftmenu {
	    /*background: #FFD8B7;*/
	    background-image: url("/Common/Images/Alumni/column-one-middle.png");
	    background-position:left;
	    background-repeat:repeat-y;
	}
    .leftmenu .colright {
        float:left;
        width:200%;
		position:relative;
		left:180px;
        /*background:#fff;*/
        background-image: url("/Common/Images/Alumni/centre-column-middle.png");
        background-repeat: repeat-y;
    }
    .leftmenu .col1wrap {
	    float:right;
	    width:50%;
	    position:relative;
	    right:200px;
	    padding-bottom:1em;
	}
	.leftmenu .col1 {
        /*margin:0 15px 0 215px;*/
        margin:0 30px 0 230px;
	    position:relative;
	    right:100%;
	    overflow:hidden;
	}
    .leftmenu #col2 {
        float:left;
        width:140px;
        position:relative;
        right:170px;
        font-size:7pt;
        font-family:Verdana;
        /*font-size: 0.7em;
        font-family:Tahoma, Arial, Sans-Serif;*/
    }
    
    /* side menu */
    #col2 ul{ list-style: none; margin: 0 15px; padding: 0; font-size: 7pt; font-family: Tahoma; position: relative; }    
    #col2 ul li{ display: block; background-image: url("/Common/Images/Alumni/button-state.png"); background-repeat: no-repeat; width: 148px; height: 28px; margin: 0; text-align: left; background-color: #95a3a3;}
    #col2 ul li:hover{ background-position: 0 -28px; cursor: pointer; }    
    #col2 ul li a{ display: block; line-height: 28px; font-weight: bold; width: 148px; height: 28px; background-repeat: no-repeat; text-decoration: none; color: #fff; margin: 0 0 0 5px; padding: 0;}
    #col2 ul li a:hover{ color: #fff; background: none; }
    
    /* fly-out level 0 */
        
    #col2 ul li.flyout{ display: block; background-image: url("/Common/Images/Alumni/button-state-flyout.png"); background-repeat: no-repeat; width: 148px; height: 28px; margin: 0; text-align: left; background-color: #95a3a3;}
        
    #col2 ul li.static{ display: block; cursor:default; border-top: 15px solid #fff; margin: 0; padding: 0; width: 148px; background-image: url("/Common/Images/Alumni/static-button.png"); background-repeat: no-repeat; background-position:top; height: 28px; text-align: left; background-color: #95a3a3;}
    #col2 ul li.static a{ display: block; width: 80px; margin: 0 auto; font-size: 1.3em; }
    
    /* fly-out level 1 */
    #col2 ul li ul{ display: none; margin: 0; padding: 0; }
    
    /* flyout level 2 */    
    #col2 ul li:hover ul.flyout-lvl2{ z-index: 100; display: block; position: relative; left: 114px; top: -28px; background-repeat: no-repeat; width: 200px; margin-left: 35px; padding-left: 0; }
    
    /* flyout level 3 */
    #col2 ul li ul.flyout-lvl2 li ul.flyout-lvl3{ display: none; }
    #col2 ul li ul.flyout-lvl2 li:hover ul.flyout-lvl3{ z-index: 100; display: block; position: relative; left: 114px; top: -28px; background-repeat: no-repeat; width: 200px; margin-left: 35px; padding-left: 0; }
    
	/* Footer styles */
	#footer {
        clear:both;
        float:left;
        width:100%;
		border-top:1px solid #000;
    }
    #footer p {
        padding:10px;
        margin:0;
    }
    /* end: side menu */
    
    #content{ float: left; width: 1034px; margin: 0 auto; position: relative; overflow: hidden; z-index: 100;}
    
    #left-top{ clear: both; float: left; width: 200px; height: 25px; background-image: url("/Common/Images/Alumni/column-one-top.png"); background-repeat: no-repeat; }
    
    #left-bottom{ clear: both; float: left; width: 200px; height: 39px; background-image: url("/Common/Images/Alumni/column-one-bottom.png"); background-repeat: no-repeat; }
    
    #centre-top{ float: left; width: 834px; height: 25px; background-image: url("/Common/Images/Alumni/centre-column-top.png"); position: relative; left: -20px; background-repeat: no-repeat; }
    
    #centre-bottom{ float: left; width: 834px; height: 39px; background-image: url("/Common/Images/Alumni/centre-column-bottom.png"); position: relative; left: -20px; background-repeat: no-repeat; }
    
    #content-bar{ padding: 0; margin: 0 0 -300px 0; clear: both; float: left; height: 300px; width: 100%; background-color: #891536; position: relative; z-index: -10; top: -60px; background-image: url("/Common/Images/Alumni/content-bar.png"); }
    
    #content-wrapper{ width: 1024px; margin: 0 auto; position: relative; } /* Fixes Firefox bug */
    
    .RegionsAccordianHeader {
        font-size: 10pt;
        font-weight: bold;    
        color: #891536;
        background-image: url('../images/expand.jpg'); /* Point to your plus img */
        background-repeat: no-repeat;
        background-position: 95% 0%; /* Adjust this (x y) to fix spacing of image within the line */    
        padding-left: 18px; /* Adjust this for the starting point for the text in the header */               
    }
 
    .RegionsAccordianSelectedHeader {
        font-size: 10pt;
        font-weight: bold;    
        color: #891536;
        background-image: url('../images/collapse.jpg'); /* Point to your plus img */
        background-repeat: no-repeat;
        background-position: 95% 0%;   /* Adjust this (x y) to fix spacing of image within the line */
        padding-left: 18px; /* Adjust this for the starting point for the text in the header */      
    }
           
    .box-container {
        height: auto;
        width: 40%;
        float: left;        
        padding: 35px 35px 0 35px;
    }

    .box-header {
        background: #FFFFFF;
        border: 1px solid #ccc;
        padding: 10px;
        width: 100%;        
        color: #891536;
        font-size: 1.05em;
        font-weight: bold;
    }
    
    .box-content {        
        border: 1px solid #ccc;
        padding: 10px;
        width: 100%;        
        border-top-width: 0px;        
    }
   
   .emphasised-link a { font-size: 1.2em; font-weight: bold; color: #891536; }
   .emphasised-link a:hover {color: #8E8700;}