﻿/*========= BLOG POST STYLING =========*/

/*=== Small Box Post ===*/
.post {
	margin: 0;
}

/*========= MISC =========*/

.fl {
	float: left;
	width: 230px;
	height: 110px;	
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	margin-right: 10px;
	padding: 10px;
}

.fc {
	float: inherit;
	width: 501px;	
	border: 1px solid #dddddd;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
}

.fc_blank {
	float: inherit;
	width: 250px;	
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0 10px 10px 0;
}

.fr {
	float: right;
	width: 230px;	
	height: 110px;
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 10px;
}

.fl_mdevf {
	float: left;
	width: 230px;
	height: 240px;	
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	margin-right: 10px;
	padding: 10px;
}

.fr_mdevf {
	float: right;
	width: 230px;	
	height: 240px;
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 10px;
}

.fl_phd {
	float: left;
	width: 230px;
	height: 120px;	
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	margin-right: 10px;
	padding: 10px;
}

.fr_phd {
	float: right;
	width: 230px;	
	height: 120px;
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 10px;
}

.fl_publications {
	float: left;
	width: 230px;
	height: 120px;	
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	margin-right: 10px;
	padding: 10px;
}

.fr_publications {
	float: right;
	width: 230px;	
	height: 120px;
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 10px;
}

.fl_alumni {
    float: left;
	width: 230px;
	height: 250px;	
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	margin-right: 10px;
	padding: 10px;
}

.fr_alumni {
    float: right;
	width: 230px;	
	height: 250px;
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 10px;
}

.fl_270 {
    float: left;
	width: 230px;
	height: 270px;	
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	margin-right: 10px;
	padding: 10px;
}

.fr_270 {
    float: right;
	width: 230px;	
	height: 270px;
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 10px;
}

.fl_exco {
    float: left;
	width: 230px;
	height: 150px;	
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	margin-right: 10px;
	padding: 10px;
}

.fr_exco {
    float: right;
	width: 230px;	
	height: 150px;
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 10px;
}

.fl_coaching {
    float: left;
	width: 230px;
	height: 170px;	
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	margin-right: 10px;
	padding: 10px;
}

.fr_coaching {
    float: right;
	width: 230px;	
	height: 170px;
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 10px;
}

.fl_blank {
	float: left;
	width: 230px;	
	height: 120px;
	border: 0;
	margin-bottom: 20px;
	margin-right: 10px;
	padding: 10px 10px 10px 0;
}

.fr_blank {
	float: right;
	width: 230px;	
	height: 120px;
	border: 0;
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 10px;
}

