﻿/*-----------------------------------------Comments_Page--------------------------------------------*/
.outer { border:solid 1px #dedede; margin: 0; padding: 0;}
.inner { border:solid 1px #ffffff; margin: 0; padding: 0; background-color:#dedede; background-image:url(../Images/comment_bg.jpg); background-repeat:repeat-x;}

.gray_size4_unbold { color:#636466; font-size:1.4em; }

table.full_table { width:100%; }

table.inside_table { width:100%; }

.textarea { border:solid 1px #dedede; width:100%; height:150px; overflow:auto; font-size:9pt; }

.comment_block { padding-bottom:10px; }
.comment_table { border-bottom:1px solid #D8DFEA; margin:10px 10px 5px 0; padding-bottom:20px; }
.comment_image { width:40px; vertical-align:top; padding-top:2px; padding-right:10px; }
.comment_heading { font-size:9pt; margin-bottom:0; padding-bottom: 5px; }
.comment_name { color:#242022; font-weight:bold; }

.comment_input_block { color:#242022; }
.comment_input_block td { padding-top:5px; }

.input_optional { border:solid 1px #dedede; width:100%; font-size:9pt; }
.input_required { border:solid 1px #05bbf0; width:100%; font-size:9pt; }
.input_descr { font-size:8pt; color:#959595; }

.subitem_active { color:#242022; }


