﻿
body {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	background-color: #666666;
	font-family: Verdana;
	font-size: 8pt;
	color: #333333;
}

h1, h2 {
	font-weight: normal;
}

p, ol {
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 135%;
}

ul {
    list-style-type: none;
    margin-top: 0px;    
    margin-right: 0px; 
    margin-left: 5px;
    margin-bottom: 0px;
    padding-left: 5px;
}

ul li {	
    line-height: 135%;    
    margin: 5px;
    padding-left: 19px; /*link text is indented 19px*/
	background: url('../Images/arrow.jpg') no-repeat center left;	
}

.mba {    
	background-position: 0 20%;    
}

.news {
    line-height: 135%;    
    margin: 5px;
	background-position: 0 20%;    
}

.leaderslab {	
    line-height: 135%;    
    margin: 5px;	
}

.leaderslab ul { 
    list-style-type: none;
    margin-top: 0px;    
    margin-right: 0px; 
    margin-left: 5px;
    margin-bottom: 0px;
    padding-left: 5px;
}

.leaderslab ul li {	
    line-height: 135%;    
    padding-left: 19px; /*link text is indented 19px*/
	background: url('../Images/pdf-icon.png') no-repeat center left;	
	background-position: 0 10%; 
}

.agenda {	
    line-height: 135%;    
    margin: 5px;	
}

.agenda ul { 
    list-style-type: none;
    margin-top: 0px;    
    margin-right: 0px; 
    margin-left: 5px;
    margin-bottom: 0px;
    padding-left: 5px;
}

.agenda ul li {	
    line-height: 135%;    
    padding-left: 19px; /*link text is indented 19px*/
	background: url('../Images/pdf-icon.png') no-repeat center left;	
	background-position: 0% 10%;    
}

.socialmedia, p {	   
    padding: 5px;
}

.research {	
    line-height: 135%;    
    margin: 5px;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: none;
	color: #666666;
}

a img {
	border: none;
}

/* Header */

.header {
	font-family: "Trebuchet MS";
	font-size: 10pt;
	font-weight: normal;
}

.header:link {
	color: #948B26;
	text-decoration: underline;	
}

.header:hover {
	color: #891536;
	text-decoration: underline;	
}

.header:visited {
	color: #948B26;
	text-decoration: underline;
}

.header:visited:hover {
	color: #891536;
	text-decoration: underline;	
}

.header_font {
	font-family: "Trebuchet MS";
	font-size: 10pt;
	font-weight: normal;
	padding: 0;
	margin: 0;
}

/* Flash */

.flash:link {
	color: #891536;
	text-decoration: underline;	
}

.flash:hover {
	color: #948B26;
	text-decoration: underline;	
}

.flash:visited {
	color: #891536;
	text-decoration: underline;
}

.flash:visited:hover {
	color: #948B26;
	text-decoration: underline;	
}

/* Meta */

.meta {
	margin: 0;
	padding: 10px 0 15px 20px;
	border-top: 1px solid #F3F3F3;
}

.meta a {
	text-decoration: none;
}

.meta a:hover {
	text-decoration: underline;
}

.meta .more {
	padding-left: 12px;
}

.meta .comments {
	padding-left: 15px;
}

/* More */

.more {
	list-style: none;
	text-align: right;
	font-weight: bold;
}

.more a {
	text-decoration: none;
}

.more a:hover {
	text-decoration: underline;
}

/* Image Links Bottom */

.image-bottom 
{
    background-color: #FFFFFF;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: 10px;
}

/* Image Left */

.image-left 
{
    background-color: #FFFFFF;
    border: none;
    display: block;
    margin-left: 5px;
    margin-right: auto;
    margin-top: 10px;
}

/* Events Calendar */ 

/* Outer div */ 
.datetime { 
	width: 3.0em; 
	height: 3.5em;
	color: #FFFFFF;
	background-color: #8E8700;
	float: left; 
}

.datetime p { 
	margin: 0 auto; 
	padding: 0; 
	text-align: center; 
	font-size: x-small; 
}

/* day of the month (NUMBER) */ 
.datetime p.day { 
	font: bold small/135% Verdana,Geneva,Arial,Helvetica,sans-serif;
	letter-spacing: normal; 
}

/* month */ 
.datetime p.mon { 
	font: x-small/135% Verdana,Geneva,Arial,Helvetica,sans-serif; 
	letter-spacing: normal; 
	text-transform: uppercase;   
}

.event-title {
	float: right;
}

/* Greenbox - Testimonials*/

.greenbox {		
	width: 612px;
	background-color: #FFFFFF;
}

/* Two Columns */

.table-content {
	background-color: #FFFFFF;
	margin-top: 8px;
	margin-bottom: 5px;
	margin-right: 10px;
}

/* Top */

.two-columns-top {
	clear: both;
}

.two-columns-top .title {
}

.two-columns-top .title h2 {
	height: 25px;
	margin: 0;
	padding: 5px 0 3px 20px;
	letter-spacing: -1px;
	font-size: 12pt;
	color: #FFFFFF;	
}

.two-columns-top .one {
	background-color: #FFFFFF;
	background-image: url('../Images/front_mba.gif');
	background-repeat: no-repeat;
	background-position: left;
	width: 100%;
	height: 27px;
	border-bottom: solid 1px #D0D0D0;
}

.two-columns-top .two {
	background-color: #FFFFFF;
	background-image: url('../Images/front_otherdegrees.gif');
	background-repeat: no-repeat;
	background-position: left;
	width: 100%;
	height: 27px;	
	border-bottom: solid 1px #D0D0D0;
}

.two-columns-top .columnA, .two-columns-top .columnB {
	width: 281px;
}

.two-columns-top .columnA {
	float: left;
	border-right: 25px solid #FFFFFF;
	background-color: #FFFFFF;
}

.two-columns-top .columnB {
	float: right;
	border-left: 25px solid #FFFFFF;	
	background-color: #FFFFFF;
}

.two-columns-top .btm {
	clear: both;
	background-color: #FFFFFF;
}

/* Middle */

.two-columns-middle {
	clear: both;
}

.two-columns-middle .title {
}

.two-columns-middle .title h2 {
	height: 25px;
	margin: 0;
	padding: 5px 0 3px 20px;
	letter-spacing: -1px;
	font-size: 12pt;
	color: #FFFFFF;
}

.two-columns-middle .one {
	background-color: #FFFFFF;
	background-image: url('../Images/front_news.gif');
	background-repeat: no-repeat;
	background-position: left;
	width: 100%;
	height: 27px;
	border-bottom: solid 1px #D0D0D0;
}

.two-columns-middle .two {
	background-color: #FFFFFF;
	background-image: url('../Images/front_multimedia.gif');
	background-repeat: no-repeat;
	background-position: left;
	width: 100%;
	height: 27px;	
	border-bottom: solid 1px #D0D0D0;
}

.two-columns-middle .columnA, .two-columns-middle .columnB {
	width: 281px;
}

.two-columns-middle .columnA {
	float: left;
	border-right: 25px solid #FFFFFF;
	background-color: #FFFFFF;
}

.two-columns-middle .columnB {
	float: right;
	border-left: 25px solid #FFFFFF;	
	background-color: #FFFFFF;
}

.two-columns-middle .btm {
	clear: both;
	background-color: #FFFFFF;
}

/* Bottom */

.two-columns-bottom {
	clear: both;
}

.two-columns-bottom .title {
}

.two-columns-bottom .title h2 {
	height: 25px;
	margin: 0;
	padding: 5px 0 3px 20px;
	letter-spacing: -1px;
	font-size: 12pt;
	color: #FFFFFF;
}

.two-columns-bottom .one {
	background-color: #FFFFFF;
	background-image: url('../Images/front_international.gif');
	background-repeat: no-repeat;
	background-position: left;
	width: 100%;
	height: 27px;
	border-bottom: solid 1px #D0D0D0;
}

.two-columns-bottom .two {
	background-color: #FFFFFF;
	background-image: url('../Images/front_photos.gif');
	background-repeat: no-repeat;
	background-position: left;
	width: 100%;
	height: 27px;	
	border-bottom: solid 1px #D0D0D0;
}

.two-columns-bottom .columnA, .two-columns-bottom .columnB {
	width: 281px;
}

.two-columns-bottom .columnA {
	float: left;
	border-right: 25px solid #FFFFFF;
	background-color: #FFFFFF;
}

.two-columns-bottom .columnB {
	float: right;
	border-left: 25px solid #FFFFFF;
	background-color: #FFFFFF;
}

.two-columns-bottom .btm {
	clear: both;
	background-color: #FFFFFF;
}

.bottom {
    clear: both;
    line-height: 1%;
}

/* Side Bar */

.sidebar-content-green {
	background-color: #FFFFFF;
	margin-top: 8px;
	margin-bottom: 5px;
	margin-right: 10px;
	border-bottom: 5px solid #FFFFFF;	
}

/* Margins */

.no-margin-top {
    margin-top: 0px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Subscript */

.subscript {
    padding: 0;	
	font-size: 7pt;
	color: #333333;
} 

.modalBackground {
	background-color: Gray;
	filter: alpha(opacity=70);
	opacity: 0.7;	
}

.modalPopup 
{
    background-color: #E3E1BF;
	border-width: 3px;
	border-style: solid;
	border-color: Gray;
	padding: 3px;
	width: auto;
	height: auto;
}

