﻿/* -----------------------------------------------------
   AUTHOR           :   David Bailey
   WEBSITE          :   http://usb.ac.za
   TEMPLATE NAME    :   Basic Corporate
   VERSION          :   0.01
   LAST MODIFIED    :   03 January 2011
-------------------------------------------------------- */

h1, h2, h3, h4, h5 { font-weight: bold; color: #891536; }

h1 { font-size: 1.5em; padding-top: 15px; }

h2 { font-size: 1.3em; }

ul {margin-left: -25px;}

.no-pad-top { padding-top: 0; }

.emphasised-link a { font-weight: bold; color: #891536; font-size: 1.1em; text-decoration: underline; }

.emphasised-link a:hover {color: #8E8700;}