﻿/* -----------------------------------------------------
   AUTHOR           :   David Bailey
   WEBSITE          :   http://usb.ac.za
   TEMPLATE NAME    :   Basic Corporate
   VERSION          :   0.01
   LAST MODIFIED    :   07 March 2011
-------------------------------------------------------- */

html, body { margin: 0; padding: 0; background-color: #666; font-family: Verdana, Trebuchet MS, Calibri, Tahoma, Sans-Serif; font-size: 1em; }

h1, h2, h3, h4, h5 { font-weight: bold; color: #891536; margin: 15px 0; }
h1 { font-size: 1.5em; }
h2 { font-size: 1.25em; }
h3 { font-size: 1.1em; }
ul { margin: 0 0 0 25px; padding: 0; }

a { color: #948B26; }
a:hover { color: #891536; }

.clear-padding { padding: 0; }
.clear-margins { margin: 0; }
.clear-margin-padding { margin: 0; padding: 0; }
.no-pad-top { padding-top: 0; }
.clear-top-margin { margin-top: 0; }
.clear-bottom-margin { margin-bottom: 0; padding: 0; }

.pad-top-15 { padding-top: 15px; }

.emphasised-link a { font-weight: bold; color: #891536; font-size: 1.1em; text-decoration: underline; }
.emphasised-link a:hover { color: #8E8700; }