﻿html, body { 
	margin: 0 auto;
	padding: 0;
	text-align: left;
	font-family: Verdana;
	font-size: 8pt;
	color: #333333;
}

#outer {	
	width: 1024px;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	margin: auto;
}
 
#container { 
	width: 100%;
	margin: 0 auto;
} 

#header {
	width: 1024px;
	height: auto;
	margin: 0 auto;
}

#logo {	
	height: 120px;
	padding: 0px;
	background-color: #FFFFFF;
}

#menu {
	width: 943px;
	height: 25px;
	margin: 0 auto;
	border: 0;
	padding: 0;
	background-color: #C0C0C0;
}

#topbar-degrees {
    width: 943px;
	height: 33px;
	margin: 0 auto;
	margin-top: 20px;
	border: 0;
	padding: 0;
	background-image: url('../images/sub_topbar_degrees.jpg');
	background-repeat: no-repeat;
	background-position: left;
	background-color: #E7D0D7;
}

#topbar-aboutus {
    width: 943px;
	height: 33px;
	margin: 0 auto;
	margin-top: 20px;
	border: 0;
	padding: 0;
	background-image: url('../images/sub_topbar_aboutus.jpg');
	background-repeat: no-repeat;
	background-position: left;
	background-color: #E7D0D7;
}

#topbar-international {
    width: 943px;
	height: 33px;
	margin: 0 auto;
	margin-top: 20px;
	border: 0;
	padding: 0;
	background-image: url('../images/sub_topbar_international.jpg');
	background-repeat: no-repeat;
	background-position: left;
	background-color: #E7D0D7;	
}

#topbar-alumni {
    width: 943px;
	height: 33px;
	margin: 0 auto;
	margin-top: 20px;
	border: 0;
	padding: 0;
	background-image: url('../images/sub_topbar_alumni.jpg');
	background-repeat: no-repeat;
	background-position: left;
	background-color: #E7D0D7;
}

#topbar-newsandevents {
    width: 943px;
	height: 33px;
	margin: 0 auto;
	margin-top: 20px;
	border: 0;
	padding: 0;
	background-image: url('../images/sub_topbar_news_and_events.jpg');
	background-repeat: no-repeat;
	background-position: left;
	background-color: #E7D0D7;
}

#topbar-publications {
    width: 943px;
	height: 33px;
	margin: 0 auto;
	margin-top: 20px;
	border: 0;
	padding: 0;
	background-image: url('../images/sub_topbar_publications.jpg');
	background-repeat: no-repeat;
	background-position: left;
	background-color: #E7D0D7;
}

#topbar-research {
    width: 943px;
	height: 33px;
	margin: 0 auto;
	margin-top: 20px;
	border: 0;
	padding: 0;
	background-image: url('../images/sub_topbar_research.jpg');
	background-repeat: no-repeat;
	background-position: left;
	background-color: #E7D0D7;
}

#topbar-people {
    width: 943px;
	height: 33px;
	margin: 0 auto;
	margin-top: 20px;
	border: 0;
	padding: 0;
	background-image: url('../images/sub_topbar_people.jpg');
	background-repeat: no-repeat;
	background-position: left;
	background-color: #E7D0D7;
}

#topbar-international {
    width: 943px;
	height: 33px;
	margin: 0 auto;
	margin-top: 20px;
	border: 0;
	padding: 0;
	background-image: url('../images/sub_topbar_international.jpg');
	background-repeat: no-repeat;
	background-position: left;
	background-color: #E7D0D7;
}

#topbar-knowledge {
    width: 943px;
	height: 33px;
	margin: 0 auto;
	margin-top: 20px;
	border: 0;
	padding: 0;
	background-image: url('../images/sub_topbar_knowledge.jpg');
	background-repeat: no-repeat;
	background-position: left;
	background-color: #938B28;
}

#wrapper { 	
	width: 943px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #FFFFFF;	
} 

#content  {    
	margin: 0 20%;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	text-align: left;
	border-right: 1px dashed #999999;
} 

#timetable-content     
{
    float: right;
    width: 75%;    
	margin: 0;		
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	text-align: left;	
} 

#leftnav { 
	float: left;
	width: 20%;	
} 

#right { 
	float: right;
	width: 20%;	
	padding: 0px;
    /*height: 235px;*/
} 

#footer { 
	clear: both;	
	margin: 0 auto;
	width: 1024px;
	height: 168px;
	color: #000000;	
} 

#copyright {
    margin: 0 auto;
    padding-top: 4px;
	width: 1024px;
	height: 25px;
	background-color: #505050;
	font-family: "Trebuchet MS";
	font-size: 10pt;
	font-weight: normal;
	color: #FFFFFF;    
	text-align: center;
}

/* Flickr */
#flickr { 
    margin-top: 15px; 
} 

#flickr a img {
    float: left; 
    margin: 0px 5px 5px 0px;    
    background: #FFFFFF; 
    padding: 0px; 
} 

.bodycopy {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #333333;
	padding: 5px;
}

/* Header */

.header {
	font-family: "Trebuchet MS";
	font-size: 10pt;
	font-weight: normal;
}

.header:link {
	color: #948B26;
	text-decoration: underline;	
}

.header:hover {
	color: #891536;
	text-decoration: underline;	
}

.header:visited {
	color: #948B26;
	text-decoration: underline;
}

.header:visited:hover {
	color: #891536;
	text-decoration: underline;	
}

.header_font {
	font-family: "Trebuchet MS";
	font-size: 10pt;
	font-weight: normal;
	padding: 0;
	margin: 0;
}

/* Flash */

.flash:link {
	color: #891536;
	text-decoration: underline;	
}

.flash:hover {
	color: #948B26;
	text-decoration: underline;	
}

.flash:visited {
	color: #891536;
	text-decoration: underline;
}

.flash:visited:hover {
	color: #948B26;
	text-decoration: underline;	
}

/* Leftbox */

.leftbox-social {
	background-color: #FFFFFF;
	background-image: url('../images/sub_socialnetworks.jpg');
	background-repeat: no-repeat;
	background-position: left;
	width: 180px;
	height: 33px;
	margin-left: 8px;
}

.leftbox-relatedlinks {
	background-color: #FFFFFF;
	background-image: url('../images/sub_relatedlinks.jpg');
	background-repeat: no-repeat;
	background-position: left;
	width: 180px;
	height: 33px;
	margin-left: 8px;
}

/* Rightbox */

.rightbox-top {
	background-color: #FFFFFF;
	background-image: url('../images/sub_relatedlinks.jpg');
	background-repeat: no-repeat;
	background-position: left;
	width: 180px;
	height: 33px;
	margin-left: 8px;
}

.rightbox-middle {
	background-color: #FFFFFF;
	background-image: url('../images/sub_socialnetworks.jpg');
	background-repeat: no-repeat;
	background-position: left;
	width: 180px;
	height: 33px;
	margin-left: 8px;
}

.rightbox-bottom {
	background-color: #FFFFFF;
	background-image: url('../images/sub_multimedia.jpg');
	background-repeat: no-repeat;
	background-position: left;
	width: 180px;
	height: 33px;
	margin-left: 8px;
}

.rightbox-currentissue {
	background-color: #FFFFFF;
	background-image: url('../images/sub_currentissue.jpg');
	background-repeat: no-repeat;
	background-position: left;
	width: 180px;
	height: 33px;
	margin-left: 8px;
}

.rightbox-backissue {
	background-color: #FFFFFF;
	background-image: url('../images/sub_backissue.jpg');
	background-repeat: no-repeat;
	background-position: left;
	width: 180px;
	height: 33px;
	margin-left: 8px;
}

.rightbox {
    margin-top: 0px;        
    padding: 0px;        
} 

.rightbox ul {
    list-style-type: none;
    margin-top: 0px;
    margin-right: 0px; 
    margin-left: 10px;
    padding-left: 10px;
}

.rightbox ul li {
    line-height: 135%;    
    padding-left: 19px; /*link text is indented 19px*/
	background: url('../images/inside_arrow.jpg') no-repeat center left;		
}

.rightbox img {
    margin: 0 0 0 8px;
    padding: 0;
}

.rightbox-media {
    margin-top: 5px;        
    padding: 0px;        
} 

.rightbox-media ul {
    list-style-type: none;
    margin-top: 0px;
    margin-right: 0px; 
    margin-left: 10px;
    padding-left: 10px;
}

.rightbox-media ul li {
    line-height: 135%;    
    padding-left: 19px; /*link text is indented 19px*/
	background: url('../images/video-icon.png') no-repeat center left;	
}

.rightbox-media img {
    margin: 0 0 0 8px;
    padding: 0;
}

.rightbox-img img {
    margin: 0;
    padding: 0;
}

.news {
    line-height: 135%;    
    margin: 5px;
}

.quote {
    font-size: 14pt;
    text-align: center;
    color: #8E8700;    
    line-height: 135%;    
}

.no-margin-top {
    margin-top: 0px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}

p { 
	line-height: 135%;
	color: #333333;
} 

img { 
	border: 0;
} 

a:link {
	color: #948B26;
	text-decoration: underline;	
}

a:hover {
	color: #891536;
	text-decoration: underline;	
}

a:visited {
	color: #95A3A3;
	text-decoration: underline;
}

a:visited:hover {
	color: #891536;
	text-decoration: underline;	
}

ul { 
	list-style-type: square;
} 

.no-style li {
    list-style-type: none;
}

.mainheading 
{
    font-size: 12pt;
    font-weight: bold;
    color: #891536;
}

.subheading 
{
    font-size: 10pt;
    color: #891536;
}

.subheading_bold
{
    font-size: 10pt;
    font-weight: bold;    
    color: #891536;
}

.dullDefinedAccordianHeader
{
    font-size: 10pt;
    font-weight: normal;        
    background-image: url('../images/expand.jpg'); /* Point to your plus img */
    background-repeat: no-repeat;
    background-position: 90% 3%; /* Adjust this (x y) to fix spacing of image within the line */    
    padding-left: 18px; /* Adjust this for the starting point for the text in the header */
}
 
.dullDefinedAccordianSelectedHeader 
{
    font-size: 10pt;
    font-weight: normal;    
    background-image: url('../images/collapse.jpg'); /* Point to your plus img */
    background-repeat: no-repeat;
    background-position: 90% 3%;   /* Adjust this (x y) to fix spacing of image within the line */
    padding-left: 18px; /* Adjust this for the starting point for the text in the header */
}

.definedAccordianHeader 
{
    font-size: 10pt;
    font-weight: bold;    
    color: #891536;
    background-image: url('../images/expand.jpg'); /* Point to your plus img */
    background-repeat: no-repeat;
    background-position: 90% 3%; /* Adjust this (x y) to fix spacing of image within the line */    
    padding-left: 18px; /* Adjust this for the starting point for the text in the header */
}
 
.definedAccordianSelectedHeader 
{
    font-size: 10pt;
    font-weight: bold;    
    color: #891536;
    background-image: url('../images/collapse.jpg'); /* Point to your plus img */
    background-repeat: no-repeat;
    background-position: 90% 3%;   /* Adjust this (x y) to fix spacing of image within the line */
    padding-left: 18px; /* Adjust this for the starting point for the text in the header */
}

.RegionsAccordianHeader 
{
    font-size: 10pt;
    font-weight: bold;    
    color: #891536;
    background-image: url('../images/expand.jpg'); /* Point to your plus img */
    background-repeat: no-repeat;
    background-position: 95% 0%; /* Adjust this (x y) to fix spacing of image within the line */    
    padding-left: 18px; /* Adjust this for the starting point for the text in the header */
}
 
.RegionsAccordianSelectedHeader 
{
    font-size: 10pt;
    font-weight: bold;    
    color: #891536;
    background-image: url('../images/collapse.jpg'); /* Point to your plus img */
    background-repeat: no-repeat;
    background-position: 95% 0%;   /* Adjust this (x y) to fix spacing of image within the line */
    padding-left: 18px; /* Adjust this for the starting point for the text in the header */
}

.NewsLetterAccordianHeader 
{
    background-image: url('../images/expand.jpg'); /* Point to your plus img */
    background-repeat: no-repeat;
    background-position: 58% 3%; /* Adjust this (x y) to fix spacing of image within the line */    
    padding-left: 18px; /* Adjust this for the starting point for the text in the header */    
    color: #948B26;
	text-decoration: underline;	
}
 
.NewsLetterAccordianSelectedHeader 
{    
    background-image: url('../images/collapse.jpg'); /* Point to your plus img */
    background-repeat: no-repeat;
    background-position: 58% 3%;   /* Adjust this (x y) to fix spacing of image within the line */
    padding-left: 18px; /* Adjust this for the starting point for the text in the header */
    color: #948B26;
	text-decoration: underline;	
}

.NewsLetterAccordianContent
{    
    background-color: #95A3A3;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;    
}

.MultiMediaAccordianHeader 
{
    background-image: url('../images/expand.jpg'); /* Point to your plus img */
    background-repeat: no-repeat;
    background-position: 95% 3%; /* Adjust this (x y) to fix spacing of image within the line */    
    padding-left: 6px; /* Adjust this for the starting point for the text in the header */
}
 
.MultiMediaAccordianSelectedHeader 
{
    background-image: url('../images/collapse.jpg'); /* Point to your minus img */
    background-repeat: no-repeat;
    background-position: 95% 3%;   /* Adjust this (x y) to fix spacing of image within the line */
    padding-left: 6px; /* Adjust this for the starting point for the text in the header */    
}

.MultiMediaContent_Podcasts_Gray {
    background-color: #EAEDED;   
    margin: 5px;    
}

.MultiMediaContent_Podcasts_Pink {
    background-color: #EDDCE1; 
    margin: 5px;    
}

.MultiMediaContent {	
    margin: 5px;
}

input.submitButton { float: left; clear: both; margin-top: 10px; margin-right: 10px; width: 94px; height: 22px; background: transparent top left no-repeat url(../images/submit.png); cursor: pointer; }

.modalBackground {
	background-color: Gray;
	filter: alpha(opacity=70);
	opacity: 0.7;	
}

.modalPopup 
{
    background-color: #E3E1BF;
	border-width: 3px;
	border-style: solid;
	border-color: Gray;
	padding: 3px;
	width: auto;
	height: auto;
}

.ThankYouModalBackground
{
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.ThankYouMessageModalPopup
{
	background-color:#891536;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:auto;
	height:auto;
	color:White;
	padding-left: 25px; /* Adjust this for the starting point for the text in the header */
	padding-right: 18px; /* Adjust this for the starting point for the text in the header */	
}

.ErrorMessageHideLbl
{
    display:none;
}

.spaces li 
{
    margin-bottom: 20px;
}

/* Bottom */

.bottom {
	clear: both;
}

/* Subscript */

.subscript {
    padding: 0;	
	font-size: 7pt;
	color: #333333;
} 

/* Thought Leadership */

.thought_leadership ul li {	
    line-height: 135%;    
    margin: 5px;
}

.thought_leadership_default ul li {	
    line-height: 1%;    
    margin: 1px;
}

/* Input */

.input {
    font-family: Verdana;
	font-size: 8pt;
	color: #333333;
}

/* Button */

.button {
    font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	background-color: #891536;
	color: #FFFFFF;
	cursor: pointer;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

/* Outer div */ 
.datetime { 
	width: 2.5em; 
	color: #FFFFFF;
	background-color: #8E8700;
	float: left; 
}

.datetime p { 
	margin: 0 auto; 
	padding: 0; 
	text-align: center; 
	font-size: x-small; 
}

/* day of the month (NUMBER) */ 
.datetime p.day { 
	font: bold small/135% Verdana,Geneva,Arial,Helvetica,sans-serif;
	letter-spacing: normal; 
}

/* month */ 
.datetime p.mon { 
	font: x-small/135% Verdana,Geneva,Arial,Helvetica,sans-serif; 
	letter-spacing: normal; 
	text-transform: uppercase;   
}

.event-title {
	float: right;
}

/* Greenbox - Testimonials*/

.greenbox {		
	width: 612px;
	background-color: #FFFFFF;
}

/* Email */
.userformlabel {
	color: #003366;
	font-weight: normal;
	padding-right: 10px;
}

.valigntop {
	vertical-align: top;
}

/* Podcast */
.audio { width: 100%; float: left; padding: 10px 0px 15px 0px; border-top: 1px solid #95a3a3; }
.audio ul.podcast { width: 480px; list-style-type: none; display: inline; margin: 15px 0px 0px 0px; padding: 0px; }
.audio ul.podcast li { display: inline; margin: 0px; padding: 0px; }
.audio ul.podcast li.widget { float: left; padding: 0px 5px 0px 0px; }
.audio ul.podcast li.download,
.audio ul.podcast li.download a,
.audio ul.podcast li.download a:hover { font-family: "Century Gothic", Arial, sans-serif; font-size: 11px; font-weight: bold; line-height: 24px; text-transform: uppercase; color: #ffffff; background: #8e8700; float: left; padding: 0px 3px 0px 3px; text-decoration: none; }
.audio ul.podcast li.email { float: right; }

/* Video */
.video { width: 100%; float: left; padding: 10px 0px 15px 0px; }
.video ul.movie { width: 250px; list-style-type: none; display: inline; margin: 15px 0px 0px 0px; padding: 0px; }
.video ul.movie li { display: inline; margin: 0px; padding: 0px; }
.video ul.movie li.widget { float: left; padding: 0px 5px 0px 0px; }
.video ul.movie li.download,
.video ul.movie li.download a,
.video ul.movie li.download a:hover { font-family: "Century Gothic", Arial, sans-serif; font-size: 11px; font-weight: bold; line-height: 24px; text-transform: uppercase; color: #ffffff; background: #8e8700; float: left; padding: 0px 3px 0px 3px; text-decoration: none; }
.video ul.movie li.email { float: right; }

/* Tabs */
.ajax__tab_header {    
    margin-left: 0;
    margin-top: 1px;
    margin-bottom: 0;
    font: bold 14pt Verdana;    
}

	#top-bar { width: 943px; height: 33px; background-color: #E7D0D7; margin: 0 auto; margin-top: 20px; }
	#top-bar h1 { color: #666; margin: 0 15px; padding: 0; font-size: 1.8em; font-weight: normal; font-family: Trebuchet MS; line-height: 33px; }
	
/* time tables */

.datatable {
    padding: 0px;
    margin-top: 1em;
    margin-bottom: 1em;
    clear: left;
    font-size: 13px;
    line-height: 19px;
    color: rgb(44, 44, 44);
    border-spacing: 2px;
    border-collapse: separate;
}

.datatable tr.odd {
    background-color: rgb(238, 238, 234);
}
.datatable tr.even {
    background-color: rgb(246, 246, 244);
}