﻿/* -----------------------------------------------------
   AUTHOR           :   David Bailey
   WEBSITE          :   http://usb.ac.za
   TEMPLATE NAME    :   Three-Column Layout Style
   VERSION          :   0.01
   LAST MODIFIED    :   03 January 2011
-------------------------------------------------------- */

	#top-bar { width: 943px; height: 33px; background-color: #E7D0D7; margin: 0 auto; margin-top: 20px; }
	#top-bar h1 { color: #666; margin: 0 15px; padding: 0; font-size: 1.2em; font-weight: normal; font-family: Trebuchet MS; line-height: 33px; }
	
	#column-wrapper { width: 943px; margin: 0 auto; margin-top: 20px; margin-bottom: 20px; }
	#column-wrapper { font-size: .8em; }
	#column-wrapper p, #column-wrapper ul li { font-size: .85em; }
    
    .colmask { position:relative; clear:both; float:left; width:100%; overflow:hidden; margin-bottom: 20px; }

	.columns {}
    .columns .colmid { float:left; width:200%; margin-left:-190px; position:relative; right:100%; background:#fff; border-right: 1px dashed #999; }
    .columns .colleft { float:left; width:100%; margin-left:-50%; position:relative; left:390px; }
    .columns .col1wrap { float:left; width:50%; position:relative; right:200px;padding-bottom:1em; }
	.columns .col1 { margin: 0 205px 0 210px; position:relative; left:200%; overflow:hidden; }
    .columns .col2 { float: left; float: right; width: 188px; position: relative; right: 11px; }
    .columns .col3 { float: left; float :right; width: 170px; margin-right: 22px; position: relative; left: 50%; }
    
    .columns .col3 h1 { border-bottom: 1px solid #999; color: #666; margin: 0; padding: 0 0 15px 0; font-size: 1.4em; font-weight: normal; font-family: Trebuchet MS; }
    .columns .col3 ul li { list-style-image: url(/Common/Images/inside_arrow.jpg); }