﻿/* -----------------------------------------------------
   AUTHOR           :   David Bailey
   WEBSITE          :   http://usb.ac.za
   TEMPLATE NAME    :   USB Main Site Styles
   VERSION          :   0.01
   LAST MODIFIED    :   03 January 2011
-------------------------------------------------------- */

div, img, a {margin: 0; padding: 0; }

#page-wrapper { text-align: center; }
#centre-correction { width: 1024px; text-align: left; margin: 0 auto; background-color: #fff; }
#content-wrapper { float: left; width: 100%; background-color: #fff; border: 1px solid #000; }
#banner { float: left; font-size: .75em; height: 120px; overflow: hidden; }
#top-menu { clear: both; float: left; }

#header-logo { text-decoration: none; float: left; }

#header-links a { color: #948B26; }
#header-links a:hover { color: #891536; }
#header-links { float: left; }
#header-links img { padding: 0; margin: 0; border: none; }
#header-links ul { margin: 0; padding: 0; float: left; height: 32px;}
#header-links li { padding: 0; margin: 0; float: left; text-decoration: none; list-style: none; }
#header-links ul li a { float: left; margin: 0; padding: 0; line-height: 100%; color: #948B26; }

#main-nav { clear: both; text-align: center; height: 25px; margin: 0; padding: 0; }
#main-nav div { width: 943px; margin: 0 auto; }

#portal-links { float: left; }
#portal-links img { margin: 0; padding: 0; float: left; }

#content { clear: both; float: left; min-height: 500px; width: 100%; }

#footer { clear: both; float: left; width: 100%; background-color: #fff; }
#footer img {float: left; }

#row-one { float: left; }
#row-two { float: left; }
#row-two img { float: left; }

#copyright { clear: both; float: left; width: 100%; background-color: #666; height: 25px; text-align: center; color: #fff; }
#copyright p { height: 25px; font-size: .8em; padding-top: 3px; }
